Repository NervanaSystems/ngraph-tf: changes, and which pre-commit hooks are due for each by the changed paths.
All: autopep8, pylint, clang-format

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: autopep8
        name: autopep8
        entry: autopep8 -i
        language: system
        files: ^test/python/
        types: [python]
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        files: ^test/python/
        types: [python]
    -   id: clang-format
        name: clang-format
        entry: clang-format --style=file -i
        language: system
        types: [c++]

Unpack Op
  src/ngraph_builder.cc
  src/ngraph_confirm_pass.cc
  src/ngraph_stub_ops.cc
  test/python/test_unpack.py
  test/tf_exec.cpp
Due: autopep8, pylint, clang-format

Update docker container volume mounts in tf-with-ngraph build to be the same as for ngraph-tf build
  test/ci/docker/docker-run-tf-with-ngraph-build.sh
Due: none

Add unit-tests specific to tf-with-ngraph (in same wheel)
  test/ci/docker/docker-scripts/run-tf-with-ngraph-build.sh
Due: none

Change file extension for serialized graphs
  src/ngraph_encapsulate_op.cc
Due: clang-format

:(
  src/ngraph_builder.cc
Due: clang-format

Clean up some info prints
  test/ci/docker/docker-scripts/run-tf-with-ngraph-build.sh
Due: none

Fixed the enabling logic
  src/ngraph_encapsulate_op.cc
Due: clang-format

Restore the freshness tracker
  src/CMakeLists.txt
  src/ngraph_encapsulate_op.cc
  src/ngraph_freshness_tracker.cc
  src/ngraph_freshness_tracker.h
  src/ngraph_rewrite_for_tracking.cc
  src/ngraph_rewrite_for_tracking.h
  src/ngraph_rewrite_pass.cc
  src/ngraph_tracked_variable.cc
Due: clang-format

Merge from r0.4
  src/ngraph_builder.cc
  src/ngraph_confirm_pass.cc
  src/ngraph_conversions.h
  src/ngraph_encapsulate_op.cc
  src/ngraph_mark_for_clustering.cc
  src/ngraph_mark_for_hostmem_pass.cc
  src/ngraph_stub_ops.cc
  src/ngraph_variable_ops.cc
  test/ci/docker/Dockerfile.ngraph-tf-ci
  test/python/test_elementwise_ops.py
  test/tf_exec.cpp
Due: autopep8, pylint, clang-format

Add '_ngraph_contractible_only_if_const' attribute
  src/ngraph_mark_for_clustering.cc
Due: clang-format

Port clang-format CI scripts over from nGraph Core
  maint/apply-code-format.sh
  maint/bash_lib.sh
  maint/check-code-format.sh
  maint/clang_format_lib.sh
  test/ci/docker/docker-scripts/run-ngraph-tf-build.sh
Due: none

Make apply-code-format.sh actually do something rather than just echo
  maint/apply-code-format.sh
Due: none

Add clang-format-3.9 to Dockerfile
  test/ci/docker/Dockerfile.ngraph-tf-ci
Due: none

Clang format
  src/ngraph_encapsulate_op.cc
Due: clang-format

Added data copy logic
  src/ngraph_encapsulate_op.cc
Due: clang-format

Add keras_applications to pip install in Dockerfile, as modern TensorFlow reqires this package to build
  test/ci/docker/Dockerfile.ngraph-tf-ci
Due: none

Work in progress on 'dynamic' shapes
  src/ngraph_assign_clusters.cc
  src/ngraph_builder.cc
  src/ngraph_builder.h
  src/ngraph_encapsulate_op.cc
  src/ngraph_mark_for_clustering.cc
  src/ngraph_mark_for_clustering.h
  test/graph_exec.cpp
Due: clang-format

Defaulting to CPU backend if env not defined. Needed for CI check
  src/ngraph_encapsulate_op.cc
Due: clang-format

Implement static inputs extraction in builder
  src/ngraph_builder.cc
  src/ngraph_encapsulate_op.cc
  src/ngraph_mark_for_clustering.cc
Due: clang-format

Mark args static that are driving static inputs
  src/ngraph_builder.cc
  src/ngraph_encapsulate_op.cc
  src/ngraph_mark_for_clustering.cc
  src/ngraph_mark_for_clustering.h
Due: clang-format

Forgot to set return val for Conv2DBackpropInput
  src/ngraph_mark_for_clustering.cc
Due: clang-format

Re-implemented refering the tf-kernel for this op to get a more numerically stable implementation
  src/ngraph_builder.cc
  test/python/test_sparse_softmax_cross_entropy_with_logits.py
  test/tf_exec.cpp
Due: autopep8, pylint, clang-format

Removed some dead code
  src/ngraph_builder.cc
Due: clang-format

Removed some dead code
  src/ngraph_builder.cc
  test/python/test_sparse_softmax_cross_entropy_with_logits.py
Due: autopep8, pylint, clang-format

Add test of a resize with dynamic shape
  test/python/test_resize_to_shape.py
Due: autopep8, pylint

Better name for test
  test/python/test_resize_to_dynamic_shape.py
Due: autopep8, pylint

State where all CPU tests pass
  src/ngraph_encapsulate_op.cc
Due: clang-format

better reshape log
  src/ngraph_conversions.h
Due: clang-format

Add test scripts
  examples/mnist_deep_avgpool.py
  examples/test_allreduce.py
Due: none

Address some self-review items
  src/ngraph_encapsulate_op.cc
  src/ngraph_mark_for_clustering.cc
  test/python/test_resize_to_dynamic_shape.py
Due: autopep8, pylint, clang-format

Address another self-review item
  src/ngraph_assign_clusters.cc
Due: clang-format

script
  examples/mnist_deep_avgpool.py
  src/ngraph_builder.cc
Due: clang-format

clang format
  src/ngraph_encapsulate_op.cc
Due: clang-format

Fix edge contraction bug
  src/ngraph_assign_clusters.cc
Due: clang-format

Added TensorMap for Output tensors for CPU
  src/ngraph_encapsulate_op.cc
Due: clang-format

Added Tensor Map to Input Tensor logic
  src/ngraph_encapsulate_op.cc
Due: clang-format

Failing test case for edge contraction where target is static
  test/CMakeLists.txt
  test/graph_rewrites/assign_clusters.cc
Due: clang-format

Fix comment on test case
  test/graph_rewrites/assign_clusters.cc
Due: clang-format

Another comment
  test/graph_rewrites/assign_clusters.cc
Due: clang-format

format
  src/ngraph_encapsulate_op.cc
Due: clang-format
