Repository NervanaSystems/ngraph-tf: changes, and which pre-commit hooks are due for each by the changed paths.
All: autopep8, pylint, clang-format

autopep8:
  name: autopep8
  entry: autopep8 -i
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system

clang-format:
  name: clang-format
  entry: clang-format --style=file -i
  language: system

Enabled Variable Test by default
  test/CMakeLists.txt
Due: none

FIXUP: Removed kernels for NgAssignAdd, NgAssignSub and NgApplyGradientDescent. Missed adding the new file
  src/enable_variable_ops/ngraph_variable_modifiers.cc
Due: clang-format

update workspace file
  bazel/WORKSPACE
Due: none

Incorporate Review Comments. Added Comments for GetSharedName
  src/enable_variable_ops/ngraph_enter_in_catalog.cc
Due: clang-format

Update bazel/WORKSPACE
  bazel/WORKSPACE
Due: none

Added supported for Centos library location (lib64)
  tools/test_utils.py
Due: none

Removing unnecessary header file
  src/ngraph_builder.cc
Due: clang-format

Remove unnecessary header
  src/ngraph_builder.cc
Due: clang-format

Add header
  src/ngraph_builder.cc
Due: clang-format

Incorporate Review Comments. Added Comments for GetSharedName
  src/enable_variable_ops/ngraph_encapsulate_op.cc
  src/enable_variable_ops/ngraph_enter_in_catalog.cc
Due: clang-format

Corrected license dates. Removed commented out code
  src/CMakeLists.txt
  src/enable_variable_ops/ngraph_assign_op.cc
  src/enable_variable_ops/ngraph_var.h
  src/enable_variable_ops/ngraph_variable_modifiers.cc
Due: clang-format

Fixed code formatting
  test/ci/buildkite/test_runner.py
  tools/test_utils.py
Due: none

Experiment with passing a pointer to fix build break
  src/ngraph_builder.cc
Due: clang-format

Merged replacing AssignSub and AssignAdd in same block in replace_optimizers
  src/enable_variable_ops/ngraph_encapsulate_op.cc
  src/enable_variable_ops/ngraph_enter_in_catalog.cc
  src/enable_variable_ops/ngraph_replace_optimizers.cc
  tools/build_utils.py
Due: clang-format

Updating others to pointers as well
  src/ngraph_builder.cc
Due: clang-format

Review Comments. Make the GetSharedName function recursive. Introduce NGraphSupportedTypes in util.cc
  src/enable_variable_ops/ngraph_enter_in_catalog.cc
  src/enable_variable_ops/ngraph_rewrite_for_tracking.cc
  src/enable_variable_ops/ngraph_utils.cc
  src/ngraph_utils.h
Due: clang-format

Add IdentityN nodes with the same name as the fetch node so that the fetch node can be encapsulated if it is supported.
  src/grappler/ngraph_optimizer.cc
  src/grappler/ngraph_optimizer.h
Due: clang-format

Get a new name for the node to be skipped
  src/grappler/ngraph_optimizer.cc
Due: clang-format

Resetting the backend stuff
  src/ngraph_mark_for_clustering.cc
Due: clang-format

Renaming some files
  src/enable_variable_ops/ngraph_catalog.cc
  src/enable_variable_ops/ngraph_catalog.h
  src/enable_variable_ops/ngraph_enter_in_catalog.cc
  tools/build_utils.py
Due: clang-format

Style check
  src/ngraph_builder.cc
Due: clang-format

Renaming some catalog apis. Resetting the ng-tensor in the destructor of ng-encapsulate op.
  src/enable_variable_ops/ngraph_catalog.cc
  src/enable_variable_ops/ngraph_catalog.h
  src/enable_variable_ops/ngraph_encapsulate_op.cc
  src/enable_variable_ops/ngraph_enter_in_catalog.cc
  src/enable_variable_ops/ngraph_rewrite_for_tracking.cc
  src/enable_variable_ops/ngraph_utils.cc
  tools/build_utils.py
Due: clang-format

Format check plus other changes
  test/ci/buildkite/test_runner.py
  tools/test_utils.py
Due: none

Fixed bazel build and added to the test_runner.
  bazel/BUILD
  test/ci/buildkite/test_runner.py
  tools/test_utils.py
Due: none

Fixed code formatting.
  tools/test_utils.py
Due: none

Changes based on comments
  src/grappler/ngraph_optimizer.cc
  src/ngraph_capture_variables.cc
  src/ngraph_capture_variables.h
  src/ngraph_mark_for_clustering.cc
  src/ngraph_mark_for_clustering.h
  test/graph_rewrites/backend_manager_test.cc
  test/graph_rewrites/deadness_test.cc
Due: clang-format

Control edges connection in optimizers replacements.
  src/enable_variable_ops/ngraph_capture_variables.cc
  src/enable_variable_ops/ngraph_replace_optimizers.cc
  src/enable_variable_ops/ngraph_rewrite_for_tracking.cc
Due: clang-format

modify select op to accept more complex shapes as inputs
  src/ngraph_builder.cc
  test/python/test_select.py
Due: autopep8, pylint, clang-format

Modified the code for NMSV4 and merged 'v0.12.0-rc3'
  src/ngraph_builder.cc
  src/ngraph_mark_for_clustering.cc
Due: clang-format

minor change
  src/ngraph_builder.cc
Due: clang-format

Rename files
  src/CMakeLists.txt
  src/enable_variable_ops/ngraph_replace_variable_modifiers.cc
  src/enable_variable_ops/ngraph_replace_variable_modifiers.h
  src/enable_variable_ops/ngraph_rewrite_pass.cc
Due: clang-format

Minor changes
  src/ngraph_rewrite_pass.cc
Due: clang-format

Add Traces
  src/enable_variable_ops/ngraph_assign_op.cc
  src/enable_variable_ops/ngraph_encapsulate_op.cc
  src/enable_variable_ops/ngraph_tracked_variable.cc
Due: clang-format

refactor code for selectop
  src/ngraph_builder.cc
  test/python/test_select.py
Due: autopep8, pylint, clang-format

Minor changes. Review comments
  src/enable_variable_ops/ngraph_catalog.cc
  src/enable_variable_ops/ngraph_catalog.h
  src/enable_variable_ops/ngraph_encapsulate_op.cc
  src/enable_variable_ops/ngraph_rewrite_for_tracking.cc
Due: clang-format

Added support for including nGraph includ files to the Python Whl so that other backends can be built with the binary distribution of ngraph_tensorflow_bridge.
  python/CreatePipWhl.cmake
  python/setup.in.py
  src/CMakeLists.txt
Due: none

Modified the Python format checking/applying code
  maint/apply-code-format.sh
  maint/check-code-format.sh
Due: none

Added that returns the value of the `_GLIBCXX_USE_CXX11_ABI` used building the bridge and nGraph library. This will be useful for building other C++ libraries using the bridge (such as a backend).
  python/ngraph_bridge/__init__.in.py
  src/version.cc
  src/version.h
Due: clang-format

Text deco
  tools/build_utils.py
Due: none

Path conditions:
  autopep8: any of: ^test/python/ and \.py$
  pylint: any of: ^test/python/ and \.py$
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$
