Repository NervanaSystems/ngraph-tf: changes, and which pre-commit hooks are due for each by the changed paths.
All: autopep8, pylint, clang-format

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: autopep8
        name: autopep8
        entry: autopep8 -i
        language: system
        files: ^test/python/
        types: [python]
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        files: ^test/python/
        types: [python]
    -   id: clang-format
        name: clang-format
        entry: clang-format --style=file -i
        language: system
        types: [c++]

Adding dequant tests
  src/ngraph_mark_for_clustering.cc
  test/test_array_ops.cpp
Due: clang-format

Format changes
  src/ngraph_mark_for_clustering.cc
  test/test_array_ops.cpp
Due: clang-format

Addressing some comments
  src/ngraph_builder.cc
  src/ngraph_utils.cc
Due: clang-format

Adding things associated with QDQv2
  src/ngraph_mark_for_clustering.cc
  src/ngraph_utils.cc
  src/ngraph_utils.h
Due: clang-format

Adding things to make QDQv2 work
  src/ngraph_builder.cc
  src/ngraph_utils.cc
  src/ngraph_utils.h
Due: clang-format

In rewrite for tracking we do some checks on the nGraphVariable ops and when we are tracking it, replace with another NGraphVariable op. We were missing the incoming edges to the replaced node.
  src/ngraph_rewrite_for_tracking.cc
  src/tf_deadness_analysis.cc
Due: clang-format

Minor change in comment
  src/ngraph_rewrite_for_tracking.cc
Due: clang-format

Add Intel HEader
  src/tf_deadness_analysis.cc
Due: clang-format

Add QDQv2 tests
  test/test_array_ops.cpp
Due: clang-format

Style changes
  src/ngraph_mark_for_clustering.cc
  src/ngraph_utils.cc
  test/test_array_ops.cpp
Due: clang-format

Adding checks in mark_for_confirmation
  src/ngraph_builder.cc
  src/ngraph_mark_for_clustering.cc
Due: clang-format

Removing internal path. Converting txt to md
  examples/mnist/README.md
Due: none

Add backticks
  examples/mnist/README.md
Due: none

Adding copyright header
  test/python/tf_unittest_runner.py
Due: autopep8, pylint

Enable one python test
  test/python/common.py
  test/python/test_avgpoolbackprop.py
Due: autopep8, pylint

Enable another test
  test/python/test_floor.py
Due: autopep8, pylint

Enabling depthwiseconv and style
  test/python/common.py
  test/python/test_avgpoolbackprop.py
  test/python/test_depthwiseconv2d.py
  test/python/test_floor.py
Due: autopep8, pylint

Added comment block describing parameters, formatting
  test/python/tf_unittest_runner.py
Due: autopep8, pylint

More cleaning of the code and comments
  src/ngraph_builder.cc
Due: clang-format

Initial commit
  maint/check-code-format.sh
  maint/check_copyright.py
Due: none

Minor print change
  maint/check_copyright.py
Due: none

Fix compilation failure
  src/tf_deadness_analysis.cc
Due: clang-format

Fix compilation failure
  src/ngraph_rewrite_for_tracking.cc
  src/tf_deadness_analysis.cc
Due: clang-format

Changes based on comments
  test/test_nn_ops.cpp
Due: clang-format

Fix format
  src/ngraph_rewrite_pass.cc
  src/ngraph_skip_assert.cc
  test/python/test_skip_assert.py
Due: autopep8, pylint, clang-format

minor change
  test/python/tf_unittest_runner.py
Due: autopep8, pylint

comment block changes
  test/python/tf_unittest_runner.py
Due: autopep8, pylint

UPdated the nGraph version to rc.5
  CMakeLists.txt
Due: none

Incorporating Shreshtha's online and offline comments
  CMakeLists.txt
  src/ngraph_builder.cc
  src/ngraph_mark_for_clustering.cc
Due: clang-format

Adding clearer rounding mode comment
  src/ngraph_builder.cc
Due: clang-format

Use walk correctly
  maint/check_copyright.py
Due: none

Added running model tests as part of the CI build
  test/ci/run-premerge-ci-checks.sh
Due: none

Added keras preprocessing to the list
  README.md
Due: none

For debug
  CMakeLists.txt
  src/ngraph_encapsulate_op.cc
Due: clang-format

Incorporate comments
  src/CMakeLists.txt
  src/ngraph_disable_assert.cc
  src/ngraph_disable_assert.h
  src/ngraph_rewrite_pass.cc
  test/python/test_disable_assert.py
Due: autopep8, pylint, clang-format

Corrected spelling mistakes
  src/ngraph_disable_assert.cc
  src/ngraph_rewrite_pass.cc
Due: clang-format

sync with master
  src/tf_deadness_analysis.cc
Due: clang-format

Updated the readme
  README.md
  test/ci/run-premerge-ci-checks.sh
Due: none

Updated with PR feedback
  README.md
  python/ngraph/__init__.in.py
Due: none

minor comment block format changes
  test/python/tf_unittest_runner.py
Due: autopep8, pylint
