Repository NervanaSystems/ngraph-tf: changes, and which pre-commit hooks are due for each by the changed paths.
All: autopep8, pylint, clang-format

autopep8:
  name: autopep8
  entry: autopep8 -i
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system

clang-format:
  name: clang-format
  entry: clang-format --style=file -i
  language: system

Conv2DBackpropInput NHWC test cases passes with non-trivial dilations
  test/test_nn_ops.cpp
Due: clang-format

Automated the Deadness Tests. No longer use session.run()
  test/graph_rewrites/deadness_test.cc
Due: clang-format

Improved cluster check. Improved logs in tf_deadness_analysis
  src/ngraph_assign_clusters.cc
  src/tf_deadness_analysis.cc
Due: clang-format

Improved cluster check. Improved logs in tf_deadness_analysis
  src/ngraph_assign_clusters.cc
  src/tf_deadness_analysis.cc
  test/graph_rewrites/deadness_test.cc
Due: clang-format

Minor Change
  src/ngraph_assign_clusters.cc
Due: clang-format

Conv2DBackpropInputNCHW Same added
  test/test_nn_ops.cpp
Due: clang-format

Removed duplicate code
  src/CMakeLists.txt
Due: none

Cosmetic changes
  CMakeLists.txt
  src/CMakeLists.txt
Due: none

Introduced helper function to list and run tests
  test/python/tf_unittest_runner.py
Due: autopep8, pylint

Minor Change
  src/ngraph_deassign_clusters.cc
Due: clang-format

Review comment
  src/ngraph_assign_clusters.cc
Due: clang-format

Conv2DBackpropInput tests done
  test/test_nn_ops.cpp
Due: clang-format

Incorporate review comments.
  src/ngraph_deassign_clusters.cc
Due: clang-format

minor changes
  test/python/tf_unittest_runner.py
Due: autopep8, pylint

Conv2DBackpropInput test cases done
  test/test_nn_ops.cpp
Due: clang-format

conv2dbackpropfilter NCHW valid + dilation added
  test/test_nn_ops.cpp
Due: clang-format

Added conv2dbackpropfilter same with dilation test case
  test/test_nn_ops.cpp
Due: clang-format

Making all inputs to QMP non-static
  src/ngraph_builder.cc
  src/ngraph_mark_for_clustering.cc
Due: clang-format

Adding dummy min-max to force failure in case ScaledQuantizedMaxPool ever changes its assumptions of not using min-max
  src/ngraph_builder.cc
Due: clang-format

Adding a TODO comment
  src/ngraph_builder.cc
Due: clang-format

Incorporate comments, and added Conv2DBackpropFilter test cases as well
  test/test_nn_ops.cpp
Due: clang-format

1. Enabled disabling through flag 2. Refactored the implementation 3. Enabled another test case 4. Incorporated some review comments
  src/ngraph_assign_clusters.cc
  src/tf_deadness_analysis.cc
  src/tf_deadness_analysis.h
  test/graph_rewrites/deadness_test.cc
Due: clang-format

Incorporated review comments
  src/ngraph_deassign_clusters.cc
Due: clang-format

Fixed if statement syntax
  src/CMakeLists.txt
Due: none

Minor changes
  src/ngraph_assign_clusters.cc
  src/tf_deadness_analysis.cc
  src/tf_deadness_analysis.h
Due: clang-format

Move TF wheel used (from Internet) to 1.12.0rc1
  test/ci/macos/run-ngraph-tf-mac-build.sh
Due: none

More cleanup
  test/test_nn_ops.cpp
Due: clang-format

Update to TF 1.12.0rc2, which was released a couple of days ago
  test/ci/macos/run-ngraph-tf-mac-build.sh
Due: none

pass gpu buffer
  src/ngraph_encapsulate_op.cc
  src/ngraph_tracked_variable.cc
Due: clang-format

Minor Comments
  src/ngraph_assign_clusters.cc
Due: clang-format

Add dockerfile for Klocwork scans. Note that this dockerfile has a dependency on the builds_ubuntu1604_py35 dockerfile.
  test/ci/docker/dockerfiles/Dockerfile.ngraph_tf.klocwork_ubuntu1604_py35
Due: none

Add commands to run Klocwork, from another branch
  test/ci/docker/docker-run-ngraph-tf-klocwork.sh
  test/ci/docker/docker-scripts/run-ngraph-tf-klocwork.sh
Due: none

Adjusted the KW docker image name (aka repository) to the new scheme
  test/ci/docker/docker-run-ngraph-tf-klocwork.sh
Due: none

tf_unittest_runner: Add support for reading a file containing a list specifying the tests to run
  test/python/tests_to_run.txt
  test/python/tf_unittest_runner.py
Due: autopep8, pylint

format
  test/python/tests_to_run.txt
  test/python/tf_unittest_runner.py
Due: autopep8, pylint

Formatting change
  src/ngraph_assign_clusters.cc
Due: clang-format

Fixed a type
  test/test_nn_ops.cpp
Due: clang-format

Minor tf hub function
  diagnostics/tf_bisect.py
Due: none

Ignore text after '#' in the testname file
  test/python/tests_to_run.txt
  test/python/tf_unittest_runner.py
Due: autopep8, pylint

Additional changes
  CMakeLists.txt
  src/CMakeLists.txt
Due: none

Path conditions:
  autopep8: any of: ^test/python/ and \.py$
  pylint: any of: ^test/python/ and \.py$
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$
