Repository NervanaSystems/ngraph-tf: changes, and which pre-commit hooks are due for each by the changed paths.
All: autopep8, pylint, clang-format

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: autopep8
        name: autopep8
        entry: autopep8 -i
        language: system
        files: ^test/python/
        types: [python]
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        files: ^test/python/
        types: [python]
    -   id: clang-format
        name: clang-format
        entry: clang-format --style=file -i
        language: system
        types: [c++]

Implement Backend Assignment
  src/ngraph_assign_backend.cc
  src/ngraph_assign_backend.h
  src/ngraph_mark_for_clustering.cc
  src/ngraph_rewrite_pass.cc
Due: clang-format

minor change
  src/ngraph_builder.cc
Due: clang-format

Update README.md
  test/python/tensorflow/README.md
Due: none

format and minor edits
  test/python/tensorflow/README.md
  test/python/tensorflow/tf_unittest_runner.py
Due: autopep8, pylint

Adding some more python tests
  test/python/test_slice.py
Due: autopep8, pylint

Initial change
  src/ngraph_mark_for_clustering.cc
Due: clang-format

Add cout prints
  src/ngraph_encapsulate_op.cc
Due: clang-format

Reject all static ops if non-const
  src/ngraph_mark_for_clustering.cc
Due: clang-format

Unit test for SplitV
  test/test_array_ops.cpp
Due: clang-format

Complete Running State. Stable with unit tests
  src/ngraph_assign_backend.cc
  src/ngraph_assign_backend.h
  src/ngraph_assign_clusters.cc
  src/ngraph_backend_manager.cc
  src/ngraph_backend_manager.h
  src/ngraph_encapsulate_clusters.cc
  src/ngraph_encapsulate_op.cc
  src/ngraph_mark_for_clustering.cc
  src/ngraph_mark_for_clustering.h
  src/ngraph_rewrite_pass.cc
  test/graph_rewrites/backend_manager_test.cc
Due: clang-format

Added a list python tests that is related to ngraph to file python_tests_list.txt
  test/python/tensorflow/python_tests_list.txt
Due: none

Format Changes
  src/ngraph_assign_clusters.cc
  src/ngraph_encapsulate_clusters.cc
  src/ngraph_mark_for_clustering.cc
  test/graph_rewrites/backend_manager_test.cc
Due: clang-format

Upgraded the latest nGraph.
  src/ngraph_builder.cc
Due: clang-format

Updated CMakeLists.txt
  CMakeLists.txt
Due: none

Format Changes and Changes in the Test
  src/ngraph_assign_clusters.cc
  src/ngraph_encapsulate_op.cc
  test/graph_rewrites/backend_manager_test.cc
Due: clang-format

Some cleanup
  src/ngraph_builder.cc
  test/python/test_slice.py
  test/test_array_ops.cpp
Due: autopep8, pylint, clang-format

Adding an error message and formatting
  src/ngraph_builder.cc
  test/python/test_slice.py
  test/test_array_ops.cpp
Due: autopep8, pylint, clang-format

Some more cleanup and formatting
  src/ngraph_builder.cc
  test/test_array_ops.cpp
Due: clang-format

Getting rid of old comments for softmax
  src/ngraph_builder.cc
Due: clang-format

Added the option to use pre-built TF CC library for unit tests
  CMakeLists.txt
  test/CMakeLists.txt
Due: none

Restored the name of NGRAPH_INSTALL_PREFIX as it chocks the CI server
  CMakeLists.txt
Due: none

Revert "Restored the name of NGRAPH_INSTALL_PREFIX as it chocks the CI server"
  CMakeLists.txt
Due: none

Try to fix bugs caught by klocwork
  src/ngraph_builder.cc
  src/ngraph_tracked_variable.cc
  src/tf_graphcycles.cc
Due: clang-format

Changing batchnorm api and adding tests. One test fails
  CMakeLists.txt
  src/ngraph_builder.cc
  test/test_nn_ops.cpp
Due: clang-format

Fixed second test
  src/ngraph_builder.cc
  test/test_nn_ops.cpp
Due: clang-format

Temporary commit that changes ngraph backend to enable ci test
  CMakeLists.txt
Due: none

Print exception message
  test/python/tensorflow/tf_unittest_runner.py
Due: autopep8, pylint

Applying formatting
  test/python/tensorflow/tf_unittest_runner.py
Due: autopep8, pylint

Update PlaidML ngraph->ngraph_config
  python/CreatePipWhl.cmake
Due: none

Add output of important build commands being run, for better debugging
  test/ci/docker/docker-scripts/run-ngraph-tf-build.sh
Due: none

SplitV unit test for negative size_splits
  src/ngraph_builder.cc
  test/test_array_ops.cpp
Due: clang-format

Modify SplitV translate Op to accept negative size_split
  src/ngraph_builder.cc
Due: clang-format

Added support for relative paths for the location specifications
  CMakeLists.txt
Due: none

Fixed a bug which was preventing from standalone build
  CMakeLists.txt
Due: none

Added more SplitV unit tests
  test/test_array_ops.cpp
Due: clang-format
