Repository NervanaSystems/ngraph-tf: changes, and which pre-commit hooks are due for each by the changed paths.
All: autopep8, pylint, clang-format

autopep8:
  name: autopep8
  entry: autopep8 -i
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system

clang-format:
  name: clang-format
  entry: clang-format --style=file -i
  language: system

Update ngraph tag in build script as well
  build_ngtf.py
Due: none

filename change
  test/python/tensorflow/tf_unittest_runner.py
Due: autopep8, pylint

more changes
  test/python/tensorflow/tf_unittest_runner.py
Due: autopep8, pylint

Fixed the code formatting issues
  src/ngraph_backend_manager.cc
  src/ngraph_backend_manager.h
  test/opexecuter.cpp
Due: clang-format

fix xml format errors
  test/python/tensorflow/tf_unittest_runner.py
Due: autopep8, pylint

Add xml_report parameter to generate results report
  test/python/tensorflow/tf_unittest_runner.py
  test_ngtf.py
Due: autopep8, pylint

Incorporate Review Comments
  build_ngtf.py
  src/ngraph_builder.cc
Due: clang-format

Small changes
  src/ngraph_builder.cc
Due: clang-format

Updated the function name
  src/ngraph_backend_manager.cc
  src/ngraph_backend_manager.h
  src/ngraph_encapsulate_op.cc
  test/opexecuter.cpp
Due: clang-format

Fixed formtting error
  src/ngraph_backend_manager.cc
Due: clang-format

Updated for the release 0.10
  CMakeLists.txt
  README.md
  build_ngtf.py
  python/setup.in.py
  src/version.cc
  test_ngtf.py
Due: clang-format

Apply suggestions from code review
  test/python/tensorflow/tf_unittest_runner.py
Due: autopep8, pylint

Apply suggestions from code review
  src/ngraph_builder.cc
Due: clang-format

Added some suggestions
  src/ngraph_encapsulate_op.cc
Due: clang-format

Add more diagnosis
  CMakeLists.txt
  build_ngtf.py
  src/ngraph_encapsulate_op.cc
Due: clang-format

Initial commit
  CMakeLists.txt
  build_ngtf.py
  src/CMakeLists.txt
  src/ngraph_builder.cc
  src/ngraph_rewrite_pass.cc
Due: clang-format

Combine avgpool and maxpool translate functions into a single function
  src/ngraph_builder.cc
Due: clang-format

Minor change
  src/ngraph_builder.cc
Due: clang-format

installation on current python environment
  build_ngtf.py
Due: none

Changes in build_ngtf
  build_ngtf.py
Due: none

Minor fix for Rank, which will not get placed on ngraph without this
  src/ngraph_mark_for_clustering.cc
Due: clang-format

change ngraph version
  build_ngtf.py
Due: none

Add ngraph-tf plaidml extra dep
  python/setup.in.py
Due: none

Evict the LRU cache based on the total element number
  src/ngraph_encapsulate_op.cc
Due: clang-format

Fix a typo
  src/ngraph_encapsulate_op.cc
Due: clang-format

Fix the format
  src/ngraph_encapsulate_op.cc
Due: clang-format

Added AvgPool
  src/ngraph_builder.cc
  src/ngraph_mark_for_clustering.cc
  test/test_nn_ops.cpp
Due: clang-format

Some prints and comments
  src/ngraph_encapsulate_clusters.cc
  src/ngraph_encapsulate_op.cc
Due: clang-format

Add better format
  src/ngraph_encapsulate_op.cc
Due: clang-format

Added a helper function for quantized pool translation
  src/ngraph_builder.cc
Due: clang-format

Added QuantizedConcat
  src/ngraph_builder.cc
  src/ngraph_mark_for_clustering.cc
  test/test_array_ops.cpp
Due: clang-format

cleaning up
  src/ngraph_builder.cc
  src/ngraph_mark_for_clustering.cc
  test/test_array_ops.cpp
Due: clang-format

Adding a ResourceBase
  src/CMakeLists.txt
  src/ngraph_encapsulate_clusters.cc
  src/ngraph_encapsulate_op.cc
  src/ngraph_ng_tensor_share.cc
  src/ngraph_ng_tensor_share.h
Due: clang-format

Some comments
  src/ngraph_encapsulate_op.cc
Due: clang-format

Support non-Const min/max in quantized conv ops
  build_ngtf.py
  src/ngraph_builder.cc
  src/ngraph_mark_for_clustering.cc
Due: clang-format

Reverting spurious change to build_ngtf
  build_ngtf.py
Due: none

Changed the data parsing format
  src/ngraph_encapsulate_op.cc
Due: clang-format

Path conditions:
  autopep8: any of: ^test/python/ and \.py$
  pylint: any of: ^test/python/ and \.py$
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$
