Repository NervanaSystems/ngraph-tf: changes, and which pre-commit hooks are due for each by the changed paths.
All: autopep8, pylint, clang-format

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: autopep8
        name: autopep8
        entry: autopep8 -i
        language: system
        files: ^test/python/
        types: [python]
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        files: ^test/python/
        types: [python]
    -   id: clang-format
        name: clang-format
        entry: clang-format --style=file -i
        language: system
        types: [c++]

Support multiple random value range for multiple input tensors
  diagnostics/model_test/README.md
  diagnostics/model_test/mnist_cnn.json
  diagnostics/model_test/template.json
  diagnostics/model_test/verify_model.py
Due: none

Fix for klocwork
  src/ngraph_builder.cc
Due: clang-format

Minor change
  src/ngraph_builder.cc
Due: clang-format

Incorporate comments
  src/ngraph_builder.cc
Due: clang-format

Fixed the march flags et. al
  CMakeLists.txt
  build_ngtf.py
  python/CreatePipWhl.cmake
  src/CMakeLists.txt
Due: none

More changes
  src/ngraph_builder.cc
Due: clang-format

Changing tag to ngraph 0.10 release
  CMakeLists.txt
Due: none

Fixed the broken build
  CMakeLists.txt
  build_ngtf.py
  python/CreatePipWhl.cmake
Due: none

Reverted the flags to native
  CMakeLists.txt
  build_ngtf.py
Due: none

Minor change for error message.
  diagnostics/model_test/verify_model.py
Due: none

Updated the op and added more tests
  src/ngraph_builder.cc
  test/test_array_ops.cpp
Due: clang-format

Fix Segfault during StridedSliceOp translation, while running slice_op_test.SliceTest.testScalarInput
  src/ngraph_builder.cc
Due: clang-format

Update the code style
  diagnostics/model_test/verify_model.py
Due: none

Adding support for FusedBatchNormV2 on the bridge
  src/ngraph_builder.cc
  src/ngraph_mark_for_clustering.cc
Due: clang-format

Doc update
  README.md
Due: none

Updated the doc based onfeedback and added the readme to the wheel
  README.md
  examples/README.md
  python/CreatePipWhl.cmake
  python/setup.in.py
Due: none

Update setup.in.py
  python/setup.in.py
Due: none

Add python strided_slice python test to check 0 dim
  test/python/test_slice.py
Due: autopep8, pylint

Updated option 3. In option 2, added an additional step to source virtual env.
  README.md
Due: none

Minor Formating Changes
  README.md
Due: none

Add error checking for transpose op Add unit test for transpose op
  src/ngraph_builder.cc
  test/test_array_ops.cpp
Due: clang-format

Minor change
  README.md
Due: none

Replacing the non ASCII characters
  README.md
Due: none

Support backend configuration strings
  src/ngraph_backend_manager.cc
Due: clang-format

Restored the unicode characters
  README.md
Due: none

i Add the error message to be exactly what tf expects.
  src/ngraph_builder.cc
  test/test_array_ops.cpp
Due: clang-format

Created a mechanism where we only install the tensorflow_bridge library
  CMakeLists.txt
  src/CMakeLists.txt
Due: none

Add fail test case for strided_slice
  test/python/test_slice.py
Due: autopep8, pylint

minor change
  test/python/test_slice.py
Due: autopep8, pylint

Fixed license location
  python/CreatePipWhl.cmake
Due: none

Typos
  python/CreatePipWhl.cmake
Due: none

Added FusedBatchNormV2 test, failed right now
  test/test_nn_ops.cpp
  test/test_utilities.cpp
Due: clang-format

Fix multidim softmax
  src/ngraph_builder.cc
Due: clang-format

Adding unit tests for softmax
  test/test_nn_ops.cpp
Due: clang-format

Use CXX compiler for external projects
  CMakeLists.txt
  cmake/external_gtest.cmake
  third-party/CMakeLists.txt
Due: none

Added C compiler
  CMakeLists.txt
  third-party/CMakeLists.txt
Due: none

Fix the FusedBatchNorm with the Bessel correction in variance
  src/ngraph_builder.cc
Due: clang-format

Fix the format
  src/ngraph_builder.cc
Due: clang-format

Added C compiler; cleanup
  CMakeLists.txt
  cmake/external_gtest.cmake
  third-party/CMakeLists.txt
Due: none
