Repository NervanaSystems/ngraph-tf: changes, and which pre-commit hooks are due for each by the changed paths.
All: autopep8, pylint, clang-format

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: autopep8
        name: autopep8
        entry: autopep8 -i
        language: system
        files: ^test/python/
        types: [python]
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        files: ^test/python/
        types: [python]
    -   id: clang-format
        name: clang-format
        entry: clang-format --style=file -i
        language: system
        types: [c++]

List of Tensorflow python tests to run with Ngraph
  test/python/tensorflow/python_tests_list.txt
  test/python/tensorflow/tests_to_run.txt
Due: none

Add Test Case for Transpose op with Constant input
  test/test_array_ops.cpp
Due: clang-format

Guarding the inclusion of liscence files in wheel
  python/CreatePipWhl.cmake
Due: none

condition fix
  python/CreatePipWhl.cmake
Due: none

Fix for CI not passing
  test/test_math_ops.cpp
Due: clang-format

Add multi-node .json file output
  src/ngraph_encapsulate_op.cc
Due: clang-format

Change CMake file to be consistent with master
  CMakeLists.txt
Due: none

Format change
  src/ngraph_encapsulate_op.cc
Due: clang-format

Incorporate Review Comments
  src/ngraph_builder.cc
Due: clang-format

Dummy plumbing
  src/ngraph_builder.cc
  src/ngraph_mark_for_clustering.cc
Due: clang-format

Simplify the code
  src/ngraph_builder.cc
Due: clang-format

Implement numpy allclose function as our compare function, and support tolerance change for specific test case
  test/opexecuter.cpp
  test/opexecuter.h
  test/test_nn_ops.cpp
  test/test_utilities.cpp
  test/test_utilities.h
Due: clang-format

Changing ngraph branch to something from master as change has merged
  CMakeLists.txt
  src/ngraph_mark_for_clustering.cc
Due: clang-format

Dequantize Op is supported only in 'Scaled' mode. Rejecting all other modes in confirmation pass. Discovered while looking at the dequantize_op_test.DequantizeOpTest.testBasicQint8 test
  src/ngraph_mark_for_clustering.cc
  test/test_array_ops.cpp
Due: clang-format

Incorporated comments: test negative values for FusedBatchNormV2 mean
  test/test_nn_ops.cpp
Due: clang-format

Correct QuantizedConv2DWithBiasAndRequantize
  CMakeLists.txt
  src/ngraph_mark_for_clustering.cc
Due: clang-format

Adding translate fn for new op. Need to resolve TranslateConstOp problem for qint32 (bias type)
  src/ngraph_builder.cc
  src/ngraph_mark_for_clustering.cc
Due: clang-format

Added an option to not build TF
  build_ngtf.py
Due: none

Update build_ngtf.py
  build_ngtf.py
Due: none

Building ng-tf unit tests with tf-master was throwing some compilation errors. It probably has something to do with the order in which the files were included. This order seems to fix for ng-tf build
  test/opexecuter.h
Due: clang-format

Add a simple distributed mnist model
  examples/mnist/mnist_softmax_distributed.py
Due: none

Upgrage nGraph to master
  CMakeLists.txt
  build_ngtf.py
  src/ngraph_encapsulate_op.cc
  test/graph_exec.cpp
  test/opexecuter.cpp
  test/opexecuter.h
Due: clang-format

Minor changes
  test/opexecuter.h
Due: clang-format

Enabling more tests
  CMakeLists.txt
  test/python/tensorflow/python_tests_list.txt
Due: none

minor change
  CMakeLists.txt
Due: none

Disabling one test
  test/python/tensorflow/python_tests_list.txt
Due: none

Strided Slice should raise InvalidArgumentError Fixes slice_op_test.SliceTest.testInvalidIndex and slice_op_test.SliceTest.testScalarInput
  src/ngraph_builder.cc
Due: clang-format

Update CMakeLists.txt
  CMakeLists.txt
Due: none

minor change
  test/python/test_slice.py
Due: autopep8, pylint

Re-emabling slice op InvalidIndex test
  test/python/tensorflow/python_tests_list.txt
Due: none

add compile before call
  src/ngraph_encapsulate_op.cc
Due: clang-format

Modified assert messages
  src/ngraph_builder.cc
  test/python/test_slice.py
Due: autopep8, pylint, clang-format

Address reviewer comment
  CMakeLists.txt
Due: none

Updated nGraph version and added error handlings
  CMakeLists.txt
  build_ngtf.py
Due: none

Adding qint32 support
  src/ngraph_builder.cc
  src/ngraph_utils.cc
Due: clang-format

Added a test file for running all unit tests
  build_ngtf.py
  test_ngtf.py
Due: none

Fixed an issue with patching TF
  test_ngtf.py
Due: none

Minor updates
  test_ngtf.py
Due: none
