Repository NervanaSystems/ngraph-tf: changes, and which pre-commit hooks are due for each by the changed paths.
All: autopep8, pylint, clang-format

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: autopep8
        name: autopep8
        entry: autopep8 -i
        language: system
        files: ^test/python/
        types: [python]
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        files: ^test/python/
        types: [python]
    -   id: clang-format
        name: clang-format
        entry: clang-format --style=file -i
        language: system
        types: [c++]

Add distributed macro
  CMakeLists.txt
Due: none

\Incorporate comments
  src/ngraph_builder.cc
Due: clang-format

TF python test split_op_test.SplitOpTest.testNonexistentDimTensor
  src/ngraph_builder.cc
Due: clang-format

Updated gtest ABI flags
  cmake/external_gtest.cmake
Due: none

Fixed license location
  python/CreatePipWhl.cmake
Due: none

Changing to appropriate ng branch
  CMakeLists.txt
Due: none

Change size_t to float for better accuracy
  src/ngraph_builder.cc
Due: clang-format

Remove NGRAPH_GENERATE_PBTXT flag in the diagonositic readme
  diagnostics/README.md
Due: none

Typo; cleanup
  cmake/external_gtest.cmake
  python/CreatePipWhl.cmake
Due: none

Reduce diff
  cmake/external_gtest.cmake
Due: none

First pass at automating Klocwork scans for ngraph-tf. Currently this has been tested up through the kwbuildproject command.
  test/ci/docker/docker-run-ngraph-tf-klocwork.sh
  test/ci/docker/docker-scripts/run-ngraph-tf-klocwork.sh
Due: none

Remove C_COMPILER flag
  CMakeLists.txt
  cmake/external_gtest.cmake
  third-party/CMakeLists.txt
Due: none

debugging
  src/ngraph_builder.cc
  test/test_nn_ops.cpp
  test/test_utilities.cpp
Due: clang-format

Fix format for CI
  src/ngraph_builder.cc
Due: clang-format

Add install prefix, since we don't have permission at /usr/local/lib
  test/ci/docker/docker-scripts/run-ngraph-tf-build.sh
Due: none

Build gtest_ngtf with -fPIC
  test/CMakeLists.txt
Due: none

Add a NGRAPH LOG that able to see which output tensor is giving failure results
  test/test_nn_ops.cpp
  test/test_utilities.cpp
Due: clang-format

Initial commit
  src/ngraph_builder.cc
  src/ngraph_mark_for_clustering.cc
Due: clang-format

Fix test symlink
  test/CMakeLists.txt
Due: none

Fix for TF python Kernel test : conv_ops_test.Conv2DTest.testOpEdgeCases
  src/ngraph_builder.cc
  test/python/test_conv2D_KernelChecks.py
Due: autopep8, pylint, clang-format

minor change
  src/ngraph_builder.cc
Due: clang-format

Format Changes
  src/ngraph_builder.cc
  test/python/test_conv2D_KernelChecks.py
Due: autopep8, pylint, clang-format

Minor Changes
  src/ngraph_builder.cc
  test/python/test_conv2D_KernelChecks.py
Due: autopep8, pylint, clang-format

Minor changes
  test/python/test_conv2D_KernelChecks.py
Due: autopep8, pylint

Rewrote the virtual environment setup
  build_ngtf.py
Due: none

Fixed the setup by adding missing setuptools package
  build_ngtf.py
Due: none

Smaller diff
  CMakeLists.txt
  test/CMakeLists.txt
  test/ci/docker/docker-scripts/run-ngraph-tf-build.sh
Due: none

Build trigger test
  TMP.txt
Due: none

Removed install prefix for external ngraph
  CMakeLists.txt
  test/ci/docker/docker-scripts/run-ngraph-tf-build.sh
Due: none

Print gtest flags
  cmake/external_gtest.cmake
Due: none

Fix gtest -fPIC flag
  cmake/external_gtest.cmake
Due: none

Cleanup
  cmake/external_gtest.cmake
  python/CreatePipWhl.cmake
Due: none

Fixed message output
  CMakeLists.txt
Due: none

Update the python test list
  test/python/tensorflow/python_tests_list.txt
Due: none

minor asser change in pytest
  test/python/test_slice.py
Due: autopep8, pylint

more changes
  src/ngraph_builder.cc
Due: clang-format

FusedBatchNorm test pass w/ all_close and looser absolute and relative tolerance
  test/test_utilities.cpp
Due: clang-format
