Repository NervanaSystems/ngraph-tf: changes, and which pre-commit hooks are due for each by the changed paths.
All: autopep8, pylint, clang-format

autopep8:
  name: autopep8
  entry: autopep8 -i
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system

clang-format:
  name: clang-format
  entry: clang-format --style=file -i
  language: system

Implemented BiasAddGrad Op
  src/ngraph_builder.cc
  src/ngraph_confirm_pass.cc
  src/ngraph_stub_ops.cc
  test/tf_exec.cpp
Due: clang-format

lil typo
  src/ngraph_assign_clusters.cc
Due: clang-format

Comment out unneeded registrations
  src/ngraph_confirm_pass.cc
  src/ngraph_mark_for_hostmem_pass.cc
  src/ngraph_stub_ops.cc
  src/ngraph_variable_ops.cc
Due: clang-format

compiles now
  src/ngraph_builder.cc
  src/ngraph_confirm_pass.cc
Due: clang-format

Modification according to the review comments
  src/ngraph_builder.cc
  test/tf_exec.cpp
Due: clang-format

Fix dangling `tf::` from merge
  src/ngraph_builder.cc
Due: clang-format

Add hooks that will be needed for freshness tracking
  logging/tf_graph_writer.cc
  src/CMakeLists.txt
  src/ngraph_capture_variables.cc
  src/ngraph_capture_variables.h
  src/ngraph_rewrite_pass.cc
  src/ngraph_tracked_variable.cc
Due: clang-format

Remove "m_last_used_src_ptrs_map" from ngraph_encapsulate_op.
  src/ngraph_encapsulate_op.cc
Due: clang-format

test crashes sigh
  src/ngraph_builder.cc
  src/ngraph_stub_ops.cc
  test/python/test_maxpoolbackprop.py
Due: autopep8, pylint, clang-format

Allreduce op
  src/ngraph_builder.cc
  src/ngraph_confirm_pass.cc
  src/ngraph_stub_ops.cc
Due: clang-format

unitest
  test/python/test_allreduce.py
Due: autopep8, pylint

L2Loss Op
  src/ngraph_builder.cc
  src/ngraph_confirm_pass.cc
  src/ngraph_conversions.h
  src/ngraph_encapsulate_op.cc
  src/ngraph_mark_for_hostmem_pass.cc
  src/ngraph_stub_ops.cc
  src/ngraph_variable_ops.cc
  test/python/test_l2loss.py
  test/tf_exec.cpp
Due: autopep8, pylint, clang-format

Review comments
  src/ngraph_assign_clusters.cc
  src/ngraph_freshness_tracker.cc
  src/ngraph_freshness_tracker.h
  src/ngraph_rewrite_pass.cc
  src/ngraph_utils.h
  test/python/conftest.py
Due: autopep8, pylint, clang-format

Fixed a compilation error.
  test/tf_exec.cpp
Due: clang-format

fix build install issue
  test/tf_exec.cpp
Due: clang-format

works now
  src/ngraph_builder.cc
  test/python/test_maxpoolbackprop.py
Due: autopep8, pylint, clang-format

Adding AddN operator
  src/ngraph_builder.cc
  src/ngraph_confirm_pass.cc
  src/ngraph_stub_ops.cc
  test/tf_exec.cpp
Due: clang-format

Updated changes for NNP support
  CMakeLists.txt
  src/ngraph_encapsulate_op.cc
Due: clang-format

Adding LogicalNot support
  src/ngraph_builder.cc
  src/ngraph_confirm_pass.cc
  src/ngraph_stub_ops.cc
  test/python/test_elementwise_ops.py
Due: autopep8, pylint, clang-format

Implement op SparseSoftmaxCrossEntropyWithLogits
  src/ngraph_builder.cc
  src/ngraph_confirm_pass.cc
  src/ngraph_stub_ops.cc
  test/python/common.py
  test/python/test_relugrad.py
  test/python/test_sparse_softmax_cross_entropy_with_logits.py
  test/tf_exec.cpp
Due: autopep8, pylint, clang-format

Add PreventGradient op
  src/ngraph_builder.cc
  src/ngraph_confirm_pass.cc
  src/ngraph_stub_ops.cc
  test/tf_exec.cpp
Due: clang-format

formatting
  src/ngraph_builder.cc
  src/ngraph_encapsulate_op.cc
Due: clang-format

Enabling backends through env variable
  src/ngraph_encapsulate_op.cc
Due: clang-format

formatting
  src/ngraph_confirm_pass.cc
Due: clang-format

check env var before casting to string
  src/ngraph_encapsulate_op.cc
Due: clang-format

add map
  src/ngraph_encapsulate_op.cc
Due: clang-format

Update bazel in Docker container to 0.16.0
  test/ci/docker/Dockerfile.ngraph-tf-ci
Due: none

Some Cleanup on op SparseSoftmaxCrossEntropyWithLogits
  src/ngraph_builder.cc
  test/python/test_sparse_softmax_cross_entropy_with_logits.py
  test/tf_exec.cpp
Due: autopep8, pylint, clang-format

rename
  src/ngraph_encapsulate_op.cc
Due: clang-format

More test
  CMakeLists.txt
  test/python/test_allreduce.py
Due: autopep8, pylint

Implement builds for tensorflow wheel with ngraph built in
  test/ci/docker/docker-run-tf-with-ngraph-build.sh
  test/ci/docker/docker-scripts/run-tf-with-ngraph-build.sh
Due: none

revert back to the previous allocation method
  src/ngraph_encapsulate_op.cc
Due: clang-format

add structure
  src/ngraph_encapsulate_op.cc
Due: clang-format

Cleaned up code and enabled INTERPRETER backend
  src/ngraph_encapsulate_op.cc
Due: clang-format

Enabled GPU backend
  src/ngraph_encapsulate_op.cc
Due: clang-format

Improved variable name
  src/ngraph_encapsulate_op.cc
Due: clang-format

Address PR comments. Enabled support for Multi-device
  CMakeLists.txt
  src/ngraph_encapsulate_op.cc
Due: clang-format

Path conditions:
  autopep8: any of: ^test/python/ and \.py$
  pylint: any of: ^test/python/ and \.py$
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$
