Repository NervanaSystems/ngraph-tf: changes, and which pre-commit hooks are due for each by the changed paths.
All: autopep8, pylint, clang-format

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: autopep8
        name: autopep8
        entry: autopep8 -i
        language: system
        files: ^test/python/
        types: [python]
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        files: ^test/python/
        types: [python]
    -   id: clang-format
        name: clang-format
        entry: clang-format --style=file -i
        language: system
        types: [c++]

indent and clean-up code
  diagnostics/model_accuracy/verify_inference_model.py
Due: none

Fixed a Tensor cleanup and updated the version numbers in preperation for the next release
  CMakeLists.txt
  build_ngtf.py
  python/setup.in.py
  src/version.cc
  test/opexecuter.cpp
Due: clang-format

Implement TopKV2 Op
  src/ngraph_builder.cc
  src/ngraph_mark_for_clustering.cc
  test/python/test_topkv2.py
Due: autopep8, pylint, clang-format

Disable ngraph_rewrite_pass from the cmake. Add config option to get the grappler working.
  examples/mnist/mnist_deep_simplified_with_grappler.py
  src/CMakeLists.txt
  src/grappler/ngraph_optimizer.cc
  src/ngraph_rewrite_pass.cc
Due: clang-format

Added a chrome event tracing object
  src/ngraph_timer.h
  test/CMakeLists.txt
  test/test_timer.cpp
Due: clang-format

Enhanced the event tracing and instrumented the Encapsulate Op
  src/CMakeLists.txt
  src/ngraph_encapsulate_op.cc
  src/ngraph_timer.cc
  src/ngraph_timer.h
  test/test_timer.cpp
Due: clang-format

Added more events in the encapsulate op
  src/ngraph_encapsulate_op.cc
Due: clang-format

Add a TODO
  src/ngraph_builder.cc
Due: clang-format

Added tracing for NGraphVariableOp.
  CMakeLists.txt
  build_ngtf.py
  src/ngraph_tracked_variable.cc
Due: clang-format

Fixed code formatting
  src/ngraph_tracked_variable.cc
Due: clang-format

Add separate check-code-format script to r0.12 release branch
  test/ci/docker/docker-run-check-code-format.sh
  test/ci/docker/docker-scripts/run-check-code-format.sh
Due: none

UPdated based on code review comments
  test/test_timer.cpp
Due: clang-format

Added the missing flush
  src/ngraph_timer.cc
Due: clang-format

Fix translate function errors
  src/ngraph_builder.cc
  src/ngraph_mark_for_clustering.cc
  test/python/topkv2.py
Due: autopep8, pylint, clang-format

Zero index the friendly name
  src/ngraph_builder.cc
Due: clang-format

topkv2 unit test pass:
  src/ngraph_builder.cc
  src/ngraph_encapsulate_op.cc
  test/python/test_topkv2.py
  test/python/topkv2.py
Due: autopep8, pylint, clang-format

remove temp python test
  test/python/topkv2.py
Due: autopep8, pylint

Changed the build directory to build_cmake to support the MacOS build issue
  CMakeLists.txt
  README.md
  build_ngtf.py
  python/setup.in.py
  src/version.cc
  test_ngtf.py
Due: clang-format

Bump bazel version to 0.21.0 (in Dockerfiles) for building with TF 1.13.x
  test/ci/docker/dockerfiles/Dockerfile.ngraph-tf-ci-py2
  test/ci/docker/dockerfiles/Dockerfile.ngraph-tf-ci-py3
  test/ci/docker/dockerfiles/Dockerfile.ngraph_tf.build_ngtf_ubuntu1604_gcc48_py35
  test/ci/docker/dockerfiles/Dockerfile.ngraph_tf.build_ngtf_ubuntu1604_py35
  test/ci/docker/dockerfiles/Dockerfile.ngraph_tf.build_ngtf_ubuntu1804_py36
Due: none

add more unit test and minor change
  src/ngraph_builder.cc
  test/python/test_topkv2.py
Due: autopep8, pylint, clang-format

add unit test to not sort, disabled
  test/python/test_topkv2.py
Due: autopep8, pylint

added a fix for the bazel build
  test_ngtf.py
Due: none

Typo in README
  README.md
Due: none

Move all phases to the ngraph_optimizer except the Encapsulation phase. Add build flags to turn ngraph_optimizer on/off.
  build_ngtf.py
  src/CMakeLists.txt
  src/grappler/ngraph_optimizer.cc
  src/grappler/ngraph_optimizer.h
  src/ngraph_rewrite_pass.cc
Due: clang-format

Adding review comments
  src/ngraph_builder.cc
  src/ngraph_encapsulate_op.cc
  test/opexecuter.cpp
  test/opexecuter.h
  test/test_math_ops.cpp
Due: clang-format

Minor corrections
  src/ngraph_builder.cc
  test/test_math_ops.cpp
Due: clang-format

Add support for FusedConv2D with FusedBatchNorm
  src/ngraph_builder.cc
Due: clang-format

Adding friendly names for internal ng nodes as well
  src/ngraph_builder.cc
  test/test_math_ops.cpp
Due: clang-format

Replacing some overloaded operators with ConstructNgNode
  src/ngraph_builder.cc
Due: clang-format

select op translate
  src/ngraph_builder.cc
  src/ngraph_mark_for_clustering.cc
  test/python/test_select.py
Due: autopep8, pylint, clang-format

move sorted check to confirmation_function_map based on comment
  src/ngraph_builder.cc
  src/ngraph_mark_for_clustering.cc
Due: clang-format

Fix round mode in QDQV2
  src/ngraph_builder.cc
Due: clang-format

Changes to the mnist grappler example
  examples/mnist/mnist_deep_simplified_with_grappler.py
Due: none

Fix formatting
  examples/mnist/mnist_deep_simplified_with_grappler.py
Due: none

code refactoring
  src/ngraph_builder.cc
  src/ngraph_encapsulate_op.cc
  src/ngraph_utils.cc
  src/ngraph_utils.h
Due: clang-format

Fixed Klockworks error; Updatd bazel WORKSOACE file to use the latest http_archive calls; Added more traces for output copy
  bazel/BUILD
  bazel/WORKSPACE
  src/ngraph_encapsulate_op.cc
  src/ngraph_timer.h
  test_ngtf.py
Due: clang-format

Updated the TensorFlow version
  configure_bazel.sh
Due: none

Added an option to build the nridge and nGraph with existing TensorFlow installation
  CMakeLists.txt
  build_ngtf.py
Due: none

Style fix
  src/ngraph_builder.cc
Due: clang-format

Move the encapsulation pass to grappler optimizer
  src/grappler/ngraph_optimizer.cc
  src/ngraph_mark_for_clustering.cc
  src/ngraph_mark_for_clustering.h
  src/ngraph_rewrite_pass.cc
Due: clang-format
