Repository NervanaSystems/ngraph-tf: changes, and which pre-commit hooks are due for each by the changed paths.
All: autopep8, pylint, clang-format

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: autopep8
        name: autopep8
        entry: autopep8 -i
        language: system
        files: ^test/python/
        types: [python]
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        files: ^test/python/
        types: [python]
    -   id: clang-format
        name: clang-format
        entry: clang-format --style=file -i
        language: system
        types: [c++]

error checking done
  src/ngraph_builder.cc
Due: clang-format

Debugging SpaceToDepth op
  src/ngraph_builder.cc
  test/test_array_ops.cpp
Due: clang-format

All static for debugging
  src/ngraph_builder.cc
  src/ngraph_mark_for_clustering.cc
  src/ngraph_utils.h
Due: clang-format

Different order of slicing added
  src/ngraph_builder.cc
Due: clang-format

Output to single element tested and works
  test/test_array_ops.cpp
Due: clang-format

Added output to multiple elements in a block test cases added
  test/test_array_ops.cpp
Due: clang-format

Debugging multiple elements slice
  src/ngraph_builder.cc
Due: clang-format

Separate deadness check and other checks + setting of attributes
  src/ngraph_mark_for_clustering.cc
  src/tf_deadness_analysis.cc
  test/graph_rewrites/deadness_test.cc
Due: clang-format

Added Slice c++ unit tests
  test/test_array_ops.cpp
Due: clang-format

Previous logic is wrong, making change now
  src/ngraph_builder.cc
  test/test_array_ops.cpp
Due: clang-format

QuantizeAndDequantizeV2. Not working yet
  CMakeLists.txt
  src/ngraph_builder.cc
  src/ngraph_mark_for_clustering.cc
  src/ngraph_utils.cc
  src/ngraph_utils.h
Due: clang-format

Minor correction
  src/ngraph_builder.cc
Due: clang-format

Updating adam's branch by merging master
  CMakeLists.txt
Due: none

Getting good accuracy now
  CMakeLists.txt
  src/ngraph_builder.cc
Due: clang-format

Rewrite of SpaceToDepth op done
  src/ngraph_builder.cc
  test/test_array_ops.cpp
Due: clang-format

NHWC test cases work
  test/test_array_ops.cpp
Due: clang-format

Both NCHW and NHWC SpaceToDepth works
  src/ngraph_builder.cc
  test/test_array_ops.cpp
Due: clang-format

Upgrade ngraph version
  CMakeLists.txt
Due: none

Add one more test utility function
  test/test_array_ops.cpp
  test/test_utilities.cpp
  test/test_utilities.h
Due: clang-format

Remove GetOutputElement
  src/ngraph_builder.cc
Due: clang-format

Revert "Revert "updated for new ngraph API change (#250)""
  CMakeLists.txt
  src/ngraph_encapsulate_op.cc
  src/ngraph_utils.cc
  src/ngraph_utils.h
  test/graph_exec.cpp
  test/opexecuter.cpp
Due: clang-format

Adding QDQv2
  src/ngraph_builder.cc
  src/ngraph_utils.cc
  test/test_array_ops.cpp
Due: clang-format

Incorportate review comments. To disable deadness check, one needs to define a macro NGRAPH_TF_DISABLE_DEADNESS_CHECK. If this macro is not defined, deadness is enabled by default.
  src/ngraph_mark_for_clustering.cc
  src/ngraph_version_utils.h
  src/tf_deadness_analysis.cc
  src/tf_deadness_analysis.h
Due: clang-format

Clean and formatted code for SpaceToDepth
  src/ngraph_builder.cc
  test/test_array_ops.cpp
  test/test_utilities.cpp
  test/test_utilities.h
Due: clang-format

Start adding DepthToSpace translation
  src/ngraph_builder.cc
  src/ngraph_mark_for_clustering.cc
Due: clang-format

New test
  CMakeLists.txt
  test/test_array_ops.cpp
Due: clang-format

Python tf_test_runner to test tensorflow python tests
  test/python/tf_unittest_runner.py
Due: autopep8, pylint

Test runner changes
  test/python/tf_unittest_runner.py
Due: autopep8, pylint

Change to float type
  test/test_array_ops.cpp
Due: clang-format

DepthToSpace done
  src/ngraph_builder.cc
  test/test_array_ops.cpp
Due: clang-format

Changes for r0.7.
  CMakeLists.txt
  python/setup.in.py
  test/build_tf_cc.sh
Due: none

Add more data types for Compare
  test/test_utilities.cpp
Due: clang-format

Formatted
  src/ngraph_builder.cc
  test/test_array_ops.cpp
Due: clang-format

minor changes
  test/python/tf_unittest_runner.py
Due: autopep8, pylint

WIP
  CMakeLists.txt
Due: none

Read
  test/test_nn_ops.cpp
Due: clang-format

MErging correctly
  src/ngraph_mark_for_clustering.cc
Due: clang-format

Changes for skipping the Assert op
  src/CMakeLists.txt
  src/ngraph_rewrite_pass.cc
  src/ngraph_skip_assert.cc
  src/ngraph_skip_assert.h
  test/python/test_assert.py
Due: autopep8, pylint, clang-format

Modified based on comments
  src/ngraph_builder.cc
Due: clang-format

Disable deadness check
  src/CMakeLists.txt
Due: none
