Repository NervanaSystems/ngraph-tf: changes, and which pre-commit hooks are due for each by the changed paths.
All: autopep8, pylint, clang-format

autopep8:
  name: autopep8
  entry: autopep8 -i
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system

clang-format:
  name: clang-format
  entry: clang-format --style=file -i
  language: system

change logic
  src/ngraph_encapsulate_op.cc
Due: clang-format

rename
  src/ngraph_encapsulate_op.cc
Due: clang-format

add comments
  src/ngraph_encapsulate_op.cc
Due: clang-format

revert back
  src/ngraph_encapsulate_op.cc
Due: clang-format

comments
  src/ngraph_encapsulate_op.cc
Due: clang-format

reshape input caches
  src/ngraph_encapsulate_op.cc
Due: clang-format

caching done for CPU inputs
  src/ngraph_encapsulate_op.cc
Due: clang-format

revert output caches
  src/ngraph_encapsulate_op.cc
Due: clang-format

resize output cache
  src/ngraph_encapsulate_op.cc
Due: clang-format

fix bug
  src/ngraph_encapsulate_op.cc
Due: clang-format

rename to current_dst_ptr
  src/ngraph_encapsulate_op.cc
Due: clang-format

output cache done
  src/ngraph_encapsulate_op.cc
Due: clang-format

fix segfault bug
  src/ngraph_encapsulate_op.cc
Due: clang-format

formatting
  src/ngraph_encapsulate_op.cc
Due: clang-format

add condition for CPU and non-CPU
  src/ngraph_encapsulate_op.cc
Due: clang-format

Simplify confirmation functions via @sayantan-nervana's suggestion
  src/ngraph_mark_for_clustering.cc
Due: clang-format

finish copy back to host
  src/ngraph_encapsulate_op.cc
Due: clang-format

Review comments
  src/ngraph_mark_for_clustering.cc
  test/graph_rewrites/assign_clusters.cc
Due: clang-format

Add another unit test
  test/graph_rewrites/assign_clusters.cc
Due: clang-format

works, but rtol looks waaaay high
  src/ngraph_builder.cc
  test/python/test_fusedbatchnorm.py
Due: autopep8, pylint, clang-format

Add the distributed model for test
  examples/mnist_deep_avgpool_mpi.py
Due: none

added nhwc test and removed stray pdb
  test/python/test_fusedbatchnorm.py
Due: autopep8, pylint

Remove stray comment mark
  src/ngraph_builder.cc
Due: clang-format

use nGraph tvm branch and build with NGRAPH_DEX_ONLY
  CMakeLists.txt
  examples/resnet/models/official_resnet_model.py
Due: none

Minor merge cleanup
  src/ngraph_mark_for_clustering.cc
Due: clang-format

Disabled unit tests and cleaned up the example directory.
  examples/axpy.py
  examples/mnist/mnist_cnn_inference.py
  examples/mnist/mnist_deep_simplified.py
  examples/mnist/mnist_fprop_only.py
  examples/mnist_cnn_inference.py
  examples/mnist_cnn_inference_nchw.py
  examples/mnist_deep_simplified.py
  examples/new_axpy.py
  examples/resnet/tf_cnn_benchmarks.py
  examples/send_and_receive.py
  examples/wat.py
  examples/while.py
  test/ci/run-premerge-ci-checks.sh
  test/tf_exec.cpp
Due: clang-format

Clang-format changes.
  src/ngraph_assign_clusters.cc
  src/ngraph_builder.cc
  src/ngraph_capture_variables.cc
  src/ngraph_confirm_pass.cc
  src/ngraph_encapsulate_op.cc
  src/ngraph_mark_for_clustering.cc
  src/ngraph_mark_for_hostmem_pass.cc
  src/ngraph_rewrite_for_tracking.cc
  src/ngraph_rewrite_pass.cc
  src/ngraph_tracked_variable.cc
  src/ngraph_variable_ops.cc
Due: clang-format

Fixed more stuff
  maint/check-code-format.sh
  src/ngraph_builder.cc
  test/ci/run-premerge-ci-checks.sh
Due: clang-format

Modify the last step in horovod
  examples/mnist_deep_avgpool_mpi.py
Due: none

Fixed more stuff
  python/ngraph/__init__.in.py
  test/ci/run-premerge-ci-checks.sh
  test/install_test.py
  test/python/install_test.py
Due: autopep8, pylint

fix offiical resnet model
  examples/resnet/models/official_resnet_model.py
Due: none

Upgrading to latest ngraph.
  CMakeLists.txt
Due: none

Updated with the latest nGraph which contains CPU backend baked in.
  CMakeLists.txt
  examples/mnist/mnist_fprop_only.py
  src/CMakeLists.txt
  test/CMakeLists.txt
Due: none

Removed dead code.
  src/CMakeLists.txt
Due: none

Path conditions:
  autopep8: any of: ^test/python/ and \.py$
  pylint: any of: ^test/python/ and \.py$
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$
