Repository NervanaSystems/ngraph-tf: changes, and which pre-commit hooks are due for each by the changed paths.
All: autopep8, pylint, clang-format

autopep8:
  name: autopep8
  entry: autopep8 -i
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system

clang-format:
  name: clang-format
  entry: clang-format --style=file -i
  language: system

Removed the Unit test build from Graph when the CXX ABI is 0 (i.e., TensorFlow binary is installed)
  build_ngtf.py
Due: none

change ngraph version to 16
  build_ngtf.py
Due: none

Removed the unnecessary build option and added options for building GPU and PlaidML backends
  build_ngtf.py
Due: none

change based on sarkars comment
  src/ngraph_builder.cc
  src/ngraph_mark_for_clustering.cc
  test/python/test_topkv2.py
Due: autopep8, pylint, clang-format

implement onehot
  src/ngraph_builder.cc
  src/ngraph_mark_for_clustering.cc
  test/test_array_ops.cpp
Due: clang-format

modification based on builder refactor
  src/ngraph_builder.cc
Due: clang-format

Fixed code formatting
  src/ngraph_encapsulate_op.cc
Due: clang-format

Minor typo
  src/ngraph_encapsulate_op.cc
Due: clang-format

format
  src/ngraph_builder.cc
Due: clang-format

update select op unit test
  src/ngraph_builder.cc
  test/python/test_select.py
Due: autopep8, pylint, clang-format

minor change
  src/ngraph_builder.cc
Due: clang-format

Uncomment Identity node
  src/ngraph_mark_for_clustering.cc
Due: clang-format

Initial commit
  src/ngraph_builder.cc
  src/ngraph_mark_for_clustering.cc
  src/ngraph_mark_for_clustering.h
  test/python/test_gather.py
  test/test_array_ops.cpp
Due: autopep8, pylint, clang-format

Add null check
  src/ngraph_builder.cc
Due: clang-format

Refactored the build_ngtf.py by creating tools/build_utils.py and updating build_ngtf.py to refer to the former. Also added an option to specific the artifacts directory (ourside of the build tree)
  build_ngtf.py
  test_ngtf.py
  tools/CMakeLists.txt
  tools/build_utils.py
  tools/tf_graph_analyzer.cc
Due: clang-format

Injected failures to test out the ouput
  test/tf_exec.cpp
Due: clang-format

Fixed
  test/tf_exec.cpp
Due: clang-format

working with inception-resnet-v3 model, passed both benchmark and accuracy testing
  src/ngraph_builder.cc
  test/test_array_ops.cpp
Due: clang-format

remove quantized setup in the build_ngtf script
  build_ngtf.py
Due: none

checkout master build_ngtf script
  build_ngtf.py
Due: none

remove quantized related changes
  src/ngraph_encapsulate_op.cc
  src/ngraph_freshness_tracker.h
  src/ngraph_tracked_variable.cc
Due: clang-format

disabled avgpool test
  test/test_nn_ops.cpp
Due: clang-format

Remove commented out code Clean the files
  src/CMakeLists.txt
  src/grappler/ngraph_optimizer.cc
  src/ngraph_mark_for_clustering.cc
  src/ngraph_rewrite_pass.cc
Due: clang-format

Move distributed control outside allreduce op
  src/ngraph_builder.cc
Due: clang-format

Supports scalar, vector and vector with broadcast
  src/ngraph_builder.cc
  src/ngraph_mark_for_clustering.cc
  test/python/test_gather.py
  test/test_array_ops.cpp
Due: autopep8, pylint, clang-format

Minor changes
  src/ngraph_builder.cc
  src/ngraph_mark_for_clustering.cc
  test/python/test_gather.py
Due: autopep8, pylint, clang-format

Add functionality to skip output/fetch nodes before VariableCapture since there could be variables that are requested as outputs.
  src/grappler/ngraph_optimizer.cc
  src/ngraph_capture_variables.cc
  src/ngraph_capture_variables.h
Due: clang-format

Adding higher rank test (disabled)
  test/python/test_gather.py
Due: autopep8, pylint

added the inference run scripts
  tools/test_inference_models.py
Due: none

Clean up
  src/ngraph_mark_for_clustering.cc
  src/ngraph_rewrite_pass.cc
Due: clang-format

Fix a bug
  src/ngraph_builder.cc
Due: clang-format

Fixed code formatting
  tools/build_utils.py
  tools/test_inference_models.py
Due: none

more changes to onehot
  src/ngraph_builder.cc
  src/ngraph_mark_for_clustering.cc
  test/test_array_ops.cpp
Due: clang-format

add 3d test and minor changes
  test/python/test_topkv2.py
Due: autopep8, pylint

Update
  src/ngraph_builder.cc
Due: clang-format

enabled QAvgPool test
  test/test_nn_ops.cpp
Due: clang-format

Updated to nGraph version rc.2
  CMakeLists.txt
  build_ngtf.py
Due: none

path fix to run tf python unit tests
  test_ngtf.py
Due: none

minor change
  test_ngtf.py
Due: none

Path conditions:
  autopep8: any of: ^test/python/ and \.py$
  pylint: any of: ^test/python/ and \.py$
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$
