Repository NervanaSystems/ngraph-tf: changes, and which pre-commit hooks are due for each by the changed paths.
All: autopep8, pylint, clang-format

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: autopep8
        name: autopep8
        entry: autopep8 -i
        language: system
        files: ^test/python/
        types: [python]
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        files: ^test/python/
        types: [python]
    -   id: clang-format
        name: clang-format
        entry: clang-format --style=file -i
        language: system
        types: [c++]

Fix reshaping input and filter
  src/ngraph_builder.cc
Due: clang-format

Enabling other qconv ops
  src/ngraph_builder.cc
  src/ngraph_mark_for_clustering.cc
Due: clang-format

Minor correction in type_constraints
  src/ngraph_mark_for_clustering.cc
Due: clang-format

Resnet working
  src/ngraph_builder.cc
Due: clang-format

Cleanup and style
  src/ngraph_builder.cc
  src/ngraph_mark_for_clustering.cc
Due: clang-format

Passing training Ops as output tensor to mlp
  diagnostics/model_test/mnist_mlp.json
Due: none

Update README.md
  diagnostics/model_test/README.md
Due: none

Continue to debug cache usage
  src/ngraph_encapsulate_op.cc
Due: clang-format

Initial commit for TF data dumper
  diagnostics/dump_tf_outs/README.md
  diagnostics/dump_tf_outs/config.json
  diagnostics/dump_tf_outs/data_dump/resnet50_int8_input0___import_v0_mpool0_MaxPool-0.bin
  diagnostics/dump_tf_outs/data_dump/resnet50_int8_input0___import_v0_resnet_v10_conv2_conv2d_Conv2D_eightbit_requantize-0.bin
  diagnostics/dump_tf_outs/data_dump/resnet50_int8_input1___import_v0_mpool0_MaxPool-0.bin
  diagnostics/dump_tf_outs/data_dump/resnet50_int8_input1___import_v0_resnet_v10_conv2_conv2d_Conv2D_eightbit_requantize-0.bin
  diagnostics/dump_tf_outs/data_dump/resnet50_int8_input2___import_v0_mpool0_MaxPool-0.bin
  diagnostics/dump_tf_outs/data_dump/resnet50_int8_input2___import_v0_resnet_v10_conv2_conv2d_Conv2D_eightbit_requantize-0.bin
  diagnostics/dump_tf_outs/data_dump/resnet50_int8_input3___import_v0_mpool0_MaxPool-0.bin
  diagnostics/dump_tf_outs/data_dump/resnet50_int8_input3___import_v0_resnet_v10_conv2_conv2d_Conv2D_eightbit_requantize-0.bin
  diagnostics/dump_tf_outs/data_dump/resnet50_int8_input4___import_v0_mpool0_MaxPool-0.bin
  diagnostics/dump_tf_outs/data_dump/resnet50_int8_input4___import_v0_resnet_v10_conv2_conv2d_Conv2D_eightbit_requantize-0.bin
  diagnostics/dump_tf_outs/data_dump/resnet50_int8_input5___import_v0_mpool0_MaxPool-0.bin
  diagnostics/dump_tf_outs/data_dump/resnet50_int8_input5___import_v0_resnet_v10_conv2_conv2d_Conv2D_eightbit_requantize-0.bin
  diagnostics/dump_tf_outs/data_dump/resnet50_int8_input6___import_v0_mpool0_MaxPool-0.bin
  diagnostics/dump_tf_outs/data_dump/resnet50_int8_input6___import_v0_resnet_v10_conv2_conv2d_Conv2D_eightbit_requantize-0.bin
  diagnostics/dump_tf_outs/data_dump/resnet50_int8_input7___import_v0_mpool0_MaxPool-0.bin
  diagnostics/dump_tf_outs/data_dump/resnet50_int8_input7___import_v0_resnet_v10_conv2_conv2d_Conv2D_eightbit_requantize-0.bin
  diagnostics/dump_tf_outs/data_dump/resnet50_int8_input8___import_v0_mpool0_MaxPool-0.bin
  diagnostics/dump_tf_outs/data_dump/resnet50_int8_input8___import_v0_resnet_v10_conv2_conv2d_Conv2D_eightbit_requantize-0.bin
  diagnostics/dump_tf_outs/data_dump/resnet50_int8_input9___import_v0_mpool0_MaxPool-0.bin
  diagnostics/dump_tf_outs/data_dump/resnet50_int8_input9___import_v0_resnet_v10_conv2_conv2d_Conv2D_eightbit_requantize-0.bin
  diagnostics/dump_tf_outs/tf_dump.py
Due: none

Also dumping .npy files
  diagnostics/dump_tf_outs/data_dump/resnet50_int8_input0___import_v0_mpool0_MaxPool-0.npy
  diagnostics/dump_tf_outs/data_dump/resnet50_int8_input0___import_v0_resnet_v10_conv2_conv2d_Conv2D_eightbit_requantize-0.npy
  diagnostics/dump_tf_outs/data_dump/resnet50_int8_input1___import_v0_mpool0_MaxPool-0.npy
  diagnostics/dump_tf_outs/data_dump/resnet50_int8_input1___import_v0_resnet_v10_conv2_conv2d_Conv2D_eightbit_requantize-0.npy
  diagnostics/dump_tf_outs/data_dump/resnet50_int8_input2___import_v0_mpool0_MaxPool-0.npy
  diagnostics/dump_tf_outs/data_dump/resnet50_int8_input2___import_v0_resnet_v10_conv2_conv2d_Conv2D_eightbit_requantize-0.npy
  diagnostics/dump_tf_outs/data_dump/resnet50_int8_input3___import_v0_mpool0_MaxPool-0.npy
  diagnostics/dump_tf_outs/data_dump/resnet50_int8_input3___import_v0_resnet_v10_conv2_conv2d_Conv2D_eightbit_requantize-0.npy
  diagnostics/dump_tf_outs/data_dump/resnet50_int8_input4___import_v0_mpool0_MaxPool-0.npy
  diagnostics/dump_tf_outs/data_dump/resnet50_int8_input4___import_v0_resnet_v10_conv2_conv2d_Conv2D_eightbit_requantize-0.npy
  diagnostics/dump_tf_outs/data_dump/resnet50_int8_input5___import_v0_mpool0_MaxPool-0.npy
  diagnostics/dump_tf_outs/data_dump/resnet50_int8_input5___import_v0_resnet_v10_conv2_conv2d_Conv2D_eightbit_requantize-0.npy
  diagnostics/dump_tf_outs/data_dump/resnet50_int8_input6___import_v0_mpool0_MaxPool-0.npy
  diagnostics/dump_tf_outs/data_dump/resnet50_int8_input6___import_v0_resnet_v10_conv2_conv2d_Conv2D_eightbit_requantize-0.npy
  diagnostics/dump_tf_outs/data_dump/resnet50_int8_input7___import_v0_mpool0_MaxPool-0.npy
  diagnostics/dump_tf_outs/data_dump/resnet50_int8_input7___import_v0_resnet_v10_conv2_conv2d_Conv2D_eightbit_requantize-0.npy
  diagnostics/dump_tf_outs/data_dump/resnet50_int8_input8___import_v0_mpool0_MaxPool-0.npy
  diagnostics/dump_tf_outs/data_dump/resnet50_int8_input8___import_v0_resnet_v10_conv2_conv2d_Conv2D_eightbit_requantize-0.npy
  diagnostics/dump_tf_outs/data_dump/resnet50_int8_input9___import_v0_mpool0_MaxPool-0.npy
  diagnostics/dump_tf_outs/data_dump/resnet50_int8_input9___import_v0_resnet_v10_conv2_conv2d_Conv2D_eightbit_requantize-0.npy
  diagnostics/dump_tf_outs/tf_dump.py
Due: none

Modify the threshold
  test/test_nn_ops.cpp
Due: clang-format

format check
  test/test_nn_ops.cpp
Due: clang-format

Cache usage debug to continue
  src/ngraph_encapsulate_op.cc
Due: clang-format

more changes
  diagnostics/model_test/mnist_mlp.json
  diagnostics/model_test/template_ckpt.json
  diagnostics/model_test/verify_model.py
Due: none

printing skipped tensors, empty output_tensor list works
  diagnostics/model_test/verify_model.py
Due: none

Chnages in translate function. does not compile
  src/ngraph_builder.cc
Due: clang-format

Translate Function changes compile. C++ unit tests pass
  src/ngraph_builder.cc
Due: clang-format

Add Control dependency to ngraph cluster
  src/ngraph_builder.cc
Due: clang-format

Some corrections. Revisited ops
  src/ngraph_builder.cc
Due: clang-format

Updated the ngraph version
  build_ngtf.py
Due: none

Update CMakeLists.txt
  CMakeLists.txt
Due: none

Add Bob's memory printout
  CMakeLists.txt
  build_ngtf.py
  src/ngraph_encapsulate_op.cc
Due: clang-format

Added a reference cunting for the backend manager and support for terminating the backend so that backends can release their resources
  src/ngraph_backend_manager.cc
  src/ngraph_backend_manager.h
  src/ngraph_encapsulate_op.cc
  test/opexecuter.cpp
Due: clang-format

format
  diagnostics/model_test/verify_model.py
Due: none

MLP runs with logs
  src/ngraph_assign_clusters.cc
  src/tf_graphcycles.cc
  src/tf_graphcycles.h
Due: clang-format

Initial commit
  diagnostics/model_test/mnist_cnn_with_inputs.json
  diagnostics/model_test/mnist_inputs/inp_import_Placeholder-0.npy
  diagnostics/model_test/verify_model.py
Due: none

Add style
  diagnostics/model_test/verify_model.py
Due: none

mingshan's comments and few changes
  diagnostics/model_test/README.md
  diagnostics/model_test/mnist_cnn.json
  diagnostics/model_test/mnist_mlp.json
  diagnostics/model_test/template_ckpt.json
  diagnostics/model_test/template_pb.json
  diagnostics/model_test/verify_model.py
Due: none

Both modes working, random and input
  diagnostics/model_test/verify_model.py
Due: none

verified resnet20 training, adding json. added few comments
  diagnostics/model_test/resnet20.json
  diagnostics/model_test/verify_model.py
Due: none

addressing comments
  diagnostics/model_test/README.md
  diagnostics/model_test/verify_model.py
Due: none

Adding quantize node as output
  diagnostics/dump_tf_outs/config.json
Due: none

Adding another layer data
  diagnostics/dump_tf_outs/data_dump/resnet50_int8_input0___import_v0_resnet_v10_conv2_conv2d_Conv2D_eightbit_quantize_v0_mpool0_MaxPool-0.bin
  diagnostics/dump_tf_outs/data_dump/resnet50_int8_input0___import_v0_resnet_v10_conv2_conv2d_Conv2D_eightbit_quantize_v0_mpool0_MaxPool-0.npy
  diagnostics/dump_tf_outs/data_dump/resnet50_int8_input1___import_v0_resnet_v10_conv2_conv2d_Conv2D_eightbit_quantize_v0_mpool0_MaxPool-0.bin
  diagnostics/dump_tf_outs/data_dump/resnet50_int8_input1___import_v0_resnet_v10_conv2_conv2d_Conv2D_eightbit_quantize_v0_mpool0_MaxPool-0.npy
  diagnostics/dump_tf_outs/data_dump/resnet50_int8_input2___import_v0_resnet_v10_conv2_conv2d_Conv2D_eightbit_quantize_v0_mpool0_MaxPool-0.bin
  diagnostics/dump_tf_outs/data_dump/resnet50_int8_input2___import_v0_resnet_v10_conv2_conv2d_Conv2D_eightbit_quantize_v0_mpool0_MaxPool-0.npy
  diagnostics/dump_tf_outs/data_dump/resnet50_int8_input3___import_v0_resnet_v10_conv2_conv2d_Conv2D_eightbit_quantize_v0_mpool0_MaxPool-0.bin
  diagnostics/dump_tf_outs/data_dump/resnet50_int8_input3___import_v0_resnet_v10_conv2_conv2d_Conv2D_eightbit_quantize_v0_mpool0_MaxPool-0.npy
  diagnostics/dump_tf_outs/data_dump/resnet50_int8_input4___import_v0_resnet_v10_conv2_conv2d_Conv2D_eightbit_quantize_v0_mpool0_MaxPool-0.bin
  diagnostics/dump_tf_outs/data_dump/resnet50_int8_input4___import_v0_resnet_v10_conv2_conv2d_Conv2D_eightbit_quantize_v0_mpool0_MaxPool-0.npy
  diagnostics/dump_tf_outs/data_dump/resnet50_int8_input5___import_v0_resnet_v10_conv2_conv2d_Conv2D_eightbit_quantize_v0_mpool0_MaxPool-0.bin
  diagnostics/dump_tf_outs/data_dump/resnet50_int8_input5___import_v0_resnet_v10_conv2_conv2d_Conv2D_eightbit_quantize_v0_mpool0_MaxPool-0.npy
  diagnostics/dump_tf_outs/data_dump/resnet50_int8_input6___import_v0_resnet_v10_conv2_conv2d_Conv2D_eightbit_quantize_v0_mpool0_MaxPool-0.bin
  diagnostics/dump_tf_outs/data_dump/resnet50_int8_input6___import_v0_resnet_v10_conv2_conv2d_Conv2D_eightbit_quantize_v0_mpool0_MaxPool-0.npy
  diagnostics/dump_tf_outs/data_dump/resnet50_int8_input7___import_v0_resnet_v10_conv2_conv2d_Conv2D_eightbit_quantize_v0_mpool0_MaxPool-0.bin
  diagnostics/dump_tf_outs/data_dump/resnet50_int8_input7___import_v0_resnet_v10_conv2_conv2d_Conv2D_eightbit_quantize_v0_mpool0_MaxPool-0.npy
  diagnostics/dump_tf_outs/data_dump/resnet50_int8_input8___import_v0_resnet_v10_conv2_conv2d_Conv2D_eightbit_quantize_v0_mpool0_MaxPool-0.bin
  diagnostics/dump_tf_outs/data_dump/resnet50_int8_input8___import_v0_resnet_v10_conv2_conv2d_Conv2D_eightbit_quantize_v0_mpool0_MaxPool-0.npy
  diagnostics/dump_tf_outs/data_dump/resnet50_int8_input9___import_v0_resnet_v10_conv2_conv2d_Conv2D_eightbit_quantize_v0_mpool0_MaxPool-0.bin
  diagnostics/dump_tf_outs/data_dump/resnet50_int8_input9___import_v0_resnet_v10_conv2_conv2d_Conv2D_eightbit_quantize_v0_mpool0_MaxPool-0.npy
Due: none

Correct typo
  src/ngraph_builder.cc
Due: clang-format

Add some more detailed noncontraction logging
  src/ngraph_assign_clusters.cc
Due: clang-format

Updated ngraph tag to include slice-reshape sinking bug fix
  CMakeLists.txt
Due: none

Enable JUNIT with unittest xml reporting
  test/python/tensorflow/tf_unittest_runner.py
Due: autopep8, pylint

use -j=N to run N jobs in parallel
  build_ngtf.py
Due: none

Added per backend ref-count
  src/ngraph_backend_manager.cc
  src/ngraph_backend_manager.h
Due: clang-format
