Repository NervanaSystems/ngraph-tf: changes, and which pre-commit hooks are due for each by the changed paths.
All: autopep8, pylint, clang-format

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: autopep8
        name: autopep8
        entry: autopep8 -i
        language: system
        files: ^test/python/
        types: [python]
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        files: ^test/python/
        types: [python]
    -   id: clang-format
        name: clang-format
        entry: clang-format --style=file -i
        language: system
        types: [c++]

Added a vector to collect the nodes can be removed
  src/enable_variable_ops/ngraph_replace_variable_modifiers.cc
Due: clang-format

Used utilities in replace modifiers
  src/enable_variable_ops/ngraph_capture_variables.cc
  src/enable_variable_ops/ngraph_replace_op_utilities.h
  src/enable_variable_ops/ngraph_replace_variable_modifiers.cc
Due: clang-format

Used utilities in replace modifiers. Updated node types in ngraph_utils.cc
  src/enable_variable_ops/ngraph_capture_variables.cc
  src/enable_variable_ops/ngraph_replace_op_utilities.h
  src/enable_variable_ops/ngraph_replace_variable_modifiers.cc
  src/enable_variable_ops/ngraph_utils.cc
  src/ngraph_utils.h
Due: clang-format

Minor change
  src/ngraph_utils.h
Due: clang-format

TF python unit-test runner 1) Raises/prints exception of Error and Fail cases 2) This does not interrupt the tests execution, exception is raised after all the tests run
  test/python/tensorflow/tf_unittest_runner.py
Due: autopep8, pylint

Minor change
  src/ngraph_utils.h
  tools/build_utils.py
Due: clang-format

fix bug
  test/python/tensorflow/tf_unittest_runner.py
Due: autopep8, pylint

minor change
  test/python/tensorflow/tf_unittest_runner.py
Due: autopep8, pylint

Pass as pointers
  src/ngraph_builder.cc
Due: clang-format

Fixed CopyLog
  src/enable_variable_ops/ngraph_utils.cc
Due: clang-format

Changed the Flag Name
  build_ngtf.py
  src/CMakeLists.txt
Due: none

refactor code - added parse_result function
  test/python/tensorflow/tf_unittest_runner.py
Due: autopep8, pylint

Updated Comments
  src/enable_variable_ops/ngraph_catalog.h
  tools/build_utils.py
Due: clang-format

minor
  tools/build_utils.py
Due: none

Diff changes
  src/ngraph_assign_op.cc
  src/ngraph_capture_variables.cc
  src/ngraph_catalog.cc
  src/ngraph_catalog.h
  src/ngraph_encapsulate_op.cc
  src/ngraph_enter_in_catalog.cc
  src/ngraph_replace_op_utilities.cc
  src/ngraph_replace_op_utilities.h
  src/ngraph_replace_variable_modifiers.cc
  src/ngraph_replace_variable_modifiers.h
  src/ngraph_rewrite_for_tracking.cc
  src/ngraph_rewrite_pass.cc
  src/ngraph_tracked_variable.cc
  src/ngraph_utils.cc
  src/ngraph_var.h
  src/ngraph_variable_modifiers.cc
Due: clang-format

Removed files
  src/ngraph_applygradientdescent_op.cc
  src/ngraph_assignadd_op.cc
  src/ngraph_assignsub_op.cc
Due: clang-format

Corrected License dates in test_variable_ops.cc
  test/test_variable_ops.cpp
Due: clang-format

Patch files for model scripts to run with grappler
  test/grappler/README.md
  test/grappler/a3c_ng_optimizer.patch
  test/grappler/benchmark_cnn_ng_optimizer.patch
  test/grappler/build_ng_optimizer.patch
  test/grappler/dcgan_inference_bench_ng_optimizer.patch
  test/grappler/draw_inf_ng_optimizer.patch
  test/grappler/eval_image_classifier_ng_optimizer.patch
  test/grappler/fastgen_ng_optimizer.patch
  test/grappler/image_recognition.patch
  test/grappler/infer_detections_ng_optimizer.patch
  test/grappler/inference_model_ng_optimizer.patch
  test/grappler/ncf_main_ng_optimizer.patch
  test/grappler/ssd_mobilenet_v1.patch
  test/grappler/unet_ng_optimizer.patch
  test/grappler/wide_deep_ng_optimizer.patch
  test/python/common.py
Due: autopep8, pylint

New release prep
  CMakeLists.txt
  README.md
  bazel/WORKSPACE
  build_ngtf.py
  python/CreatePipWhl.cmake
  python/setup.in.py
  src/version.cc
Due: clang-format

Added comments to catalog. Did some renaming
  src/enable_variable_ops/ngraph_catalog.cc
  src/enable_variable_ops/ngraph_catalog.h
  src/enable_variable_ops/ngraph_enter_in_catalog.h
Due: clang-format

Error Check for registered modifiers
  src/enable_variable_ops/ngraph_variable_modifiers.cc
Due: clang-format

minor bug fix and remove unit test which fails on TF
  src/ngraph_builder.cc
  test/python/test_select.py
Due: autopep8, pylint, clang-format

Added recursive copy of the include directory and fixed a typo
  README.md
  python/setup.in.py
Due: none

minor update for catching exceptions
  test/python/tensorflow/tf_unittest_runner.py
Due: autopep8, pylint

changes based on comments
  src/ngraph_builder.cc
  test/python/test_select.py
Due: autopep8, pylint, clang-format

minor changes
  src/ngraph_builder.cc
Due: clang-format

enable topk and one_hot unit tests
  test/python/tensorflow/python_tests_list.txt
  test/python/tensorflow/tf_unittest_runner.py
Due: autopep8, pylint

disable topk failing/error tests to debug
  test/python/tensorflow/python_tests_list.txt
Due: none

Test
  README.md
Due: none

Fix readme
  test/grappler/README.md
Due: none

Test commit
  README.md
Due: none

minor change
  src/ngraph_builder.cc
Due: clang-format

Expanding cluster manager
  src/ngraph_cluster_manager.cc
  src/ngraph_cluster_manager.h
  src/ngraph_deassign_clusters.cc
Due: clang-format

Remove parse_result function - python testrunner result object stores only one test at a time - moved back parsing to run_test function
  test/python/tensorflow/python_tests_list.txt
  test/python/tensorflow/tf_unittest_runner.py
Due: autopep8, pylint

Fixed Seg Fault Seen in --enable_variables_and_optimizers version. Fixed Backend Release Call in master version. Added some logs.
  src/enable_variable_ops/ngraph_assign_op.cc
  src/enable_variable_ops/ngraph_encapsulate_op.cc
  src/enable_variable_ops/ngraph_enter_in_catalog.cc
  src/enable_variable_ops/ngraph_tracked_variable.cc
  src/enable_variable_ops/ngraph_var.h
  src/ngraph_backend_manager.cc
  src/ngraph_encapsulate_op.cc
Due: clang-format

minor:disable topk ut case which runs the failing ut
  test/python/tensorflow/python_tests_list.txt
Due: none

Added more patch files Removed some accidently uploaded files Update readme
  test/grappler/README.md
  test/grappler/image_recognition.patch
  test/grappler/misc_utils_ng_optimizer.patch
  test/grappler/ssd_mobilenet_v1.patch
  test/grappler/train_squeezenet_ng_optimizer.patch
  test/grappler/trainer_lib_ng_optimizer.patch
  test/python/common.py
Due: autopep8, pylint
