Repository NervanaSystems/ngraph-tf: changes, and which pre-commit hooks are due for each by the changed paths.
All: autopep8, pylint, clang-format

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: autopep8
        name: autopep8
        entry: autopep8 -i
        language: system
        files: ^test/python/
        types: [python]
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        files: ^test/python/
        types: [python]
    -   id: clang-format
        name: clang-format
        entry: clang-format --style=file -i
        language: system
        types: [c++]

Minor CI script change from r0.4 that needs to be on master
  test/ci/docker/docker-run-ngraph-tf-cmdline.sh
Due: none

Change the comment in FuseBatchNormGrad
  src/ngraph_builder.cc
Due: clang-format

More pytests to C++ unit tests
  test/test_math_ops.cpp
Due: clang-format

Implement ShapeOp
  src/ngraph_builder.cc
  src/ngraph_mark_for_clustering.cc
  test/test_array_ops.cpp
Due: clang-format

Fix the type from float to int
  src/ngraph_builder.cc
Due: clang-format

Fixed formatting
  src/ngraph_builder.cc
  test/test_array_ops.cpp
Due: clang-format

Initial commit
  maint/apply-code-format.sh
  maint/check-code-format.sh
  maint/clang_format_lib.sh
Due: none

check script works
  maint/check-code-format.sh
Due: none

Finishing apply script
  maint/apply-code-format.sh
  maint/check-code-format.sh
Due: none

Apply script working
  maint/apply-code-format.sh
  maint/check-code-format.sh
Due: none

Minor change
  maint/apply-code-format.sh
Due: none

Minor change
  maint/clang_format_lib.sh
Due: none

Adding the ability to compile nGraph tools by enabling flag at command line
  CMakeLists.txt
Due: none

Added headers for tf files mentioning the git perm link. Incorportated review comments.
  src/ngraph_mark_for_clustering.cc
  src/tf_deadness_analysis.cc
  src/tf_deadness_analysis.h
  test/graph_rewrites/deadness_test.cc
Due: clang-format

Modify Fill Op test by adding loops for constant vectors
  test/test_array_ops.cpp
Due: clang-format

Modified the templatization of the AssertTensorEquals fucntion based on the previous comment, but it somehow does not work as expected. We might need to look into further at a later stage.
  test/CMakeLists.txt
  test/opexecuter.cpp
  test/test_utilities.cpp
  test/test_utilities.h
  test/tf_exec.cpp
Due: clang-format

Revert "Modified the templatization of the AssertTensorEquals fucntion based on the" This commit was for future reference only.
  test/CMakeLists.txt
  test/opexecuter.cpp
  test/test_utilities.cpp
  test/test_utilities.h
  test/tf_exec.cpp
Due: clang-format

Changed the way the default case is handled.
  test/opexecuter.cpp
Due: clang-format

Update ArrayOp Tile unit test
  test/test_array_ops.cpp
Due: clang-format

Removing Const op entirely to test Fill Using AssignInputIntValues utility function instead to pass input sizes
  test/test_array_ops.cpp
Due: clang-format

Changes based on comments
  test/opexecuter.cpp
  test/test_utilities.h
Due: clang-format

Updating docker install list. Modifying apply and check scripts to run yapf only for py3
  maint/apply-code-format.sh
  maint/check-code-format.sh
  maint/clang_format_lib.sh
  test/ci/docker/Dockerfile.ngraph-tf-ci-py3
Due: none

Minor changes
  maint/apply-code-format.sh
  maint/check-code-format.sh
Due: none

using tensorflow version and not git_version for compatibility
  cmake/FindTensorFlow.cmake
  python/ngraph/__init__.in.py
  src/CMakeLists.txt
Due: none

Reuse type mapping utility
  src/ngraph_builder.cc
  src/ngraph_builder.h
Due: clang-format

Added model_test scripts in diagnositics folder
  diagnostics/model_test/README.md
  diagnostics/model_test/mnist_cnn.json
  diagnostics/model_test/verify_model.py
Due: none

Initial commit
  src/ngraph_mark_for_clustering.cc
  src/ngraph_utils.cc
  src/ngraph_utils.h
Due: clang-format

TF version check added. Deadness analysis requires TF 1.11 or above
  src/ngraph_mark_for_clustering.cc
  src/ngraph_version_utils.h
  src/tf_deadness_analysis.cc
  src/tf_deadness_analysis.h
  test/graph_rewrites/deadness_test.cc
Due: clang-format

Clang formating. Minor Changes
  src/ngraph_mark_for_clustering.cc
  src/ngraph_version_utils.h
  src/tf_deadness_analysis.cc
  src/tf_deadness_analysis.h
  test/graph_rewrites/deadness_test.cc
Due: clang-format

Tested with the new commits Incorporated comments
  src/ngraph_builder.cc
  test/test_array_ops.cpp
Due: clang-format

Switch branch
  test/test_array_ops.cpp
  test/test_utilities.cpp
  test/test_utilities.h
Due: clang-format

Change the scripts based on deviceless
  diagnostics/model_test/verify_model.py
Due: none

Write a templatized function to populate tensor values from a vector of inputs of any datatype
  test/test_array_ops.cpp
  test/test_utilities.cpp
  test/test_utilities.h
Due: clang-format

Adding more plumbing
  src/ngraph_builder.cc
  src/ngraph_deassign_clusters.cc
  src/ngraph_mark_for_clustering.cc
  src/ngraph_utils.cc
Due: clang-format

Incorporate review comments. Make deadness_analyzer static in ngraph_mark_for_clustering
  src/ngraph_mark_for_clustering.cc
  src/tf_deadness_analysis.cc
  src/tf_deadness_analysis.h
  test/graph_rewrites/deadness_test.cc
Due: clang-format

C++ test for Fill Op using AssignInputValuesFromVector Util function C++ test for Abs Op
  test/test_math_ops.cpp
  test/test_utilities.cpp
  test/test_utilities.h
Due: clang-format

Added more C++ tests 1. Minimum 2. ExpandDims Removed redundant py files
  test/python/test_abs.py
  test/python/test_cast.py
  test/python/test_exp.py
  test/python/test_minimum.py
  test/test_array_ops.cpp
  test/test_math_ops.cpp
Due: autopep8, pylint, clang-format

Remove C++ test for Exp Op
  test/test_math_ops.cpp
Due: clang-format
