Repository NervanaSystems/ngraph-tf: changes, and which pre-commit hooks are due for each by the changed paths.
All: autopep8, pylint, clang-format

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: autopep8
        name: autopep8
        entry: autopep8 -i
        language: system
        files: ^test/python/
        types: [python]
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        files: ^test/python/
        types: [python]
    -   id: clang-format
        name: clang-format
        entry: clang-format --style=file -i
        language: system
        types: [c++]

Added floor_div unit tests for negative integer and float inputs
  test/test_math_ops.cpp
Due: clang-format

Update README.md
  diagnostics/README.md
Due: none

Added support for adding license files to the whl
  CMakeLists.txt
  python/CreatePipWhl.cmake
  python/setup.in.py
  src/CMakeLists.txt
Due: none

Fixed the formatting error
  test/test_math_ops.cpp
Due: clang-format

Implement GetCurrentlySupportedBackendName
  python/ngraph_config/__init__.in.py
  src/ngraph_api.cc
  src/ngraph_api.h
  test/python/test_set_backend.py
Due: autopep8, pylint, clang-format

incorporated comments
  test/test_math_ops.cpp
Due: clang-format

Enabled ability to have attributes with the backend name
  src/ngraph_backend_manager.cc
Due: clang-format

Update README.md
  README.md
Due: none

Sytle fix
  src/ngraph_backend_manager.cc
Due: clang-format

Fixed the renamed wheel and upgraded nGraph to rc.6
  CMakeLists.txt
  build_ngtf.py
  python/CreatePipWhl.cmake
  python/setup.in.py
Due: none

Working GetCurrentlySupportedBackendName and removed debug comments
  python/ngraph_config/__init__.in.py
  src/ngraph_api.cc
  src/ngraph_api.h
Due: clang-format

Fix SPLIT op - Add functionality to handle negative axis - Add unit tests for the op as well
  src/ngraph_builder.cc
  test/test_array_ops.cpp
Due: clang-format

Minor changes
  python/ngraph_bridge/__init__.in.py
  test/python/test_set_backend.py
Due: autopep8, pylint

Added some comments
  src/ngraph_builder.cc
  test/test_array_ops.cpp
Due: clang-format

Minor changes
  python/ngraph_bridge/__init__.in.py
  src/ngraph_api.cc
  test/python/test_set_backend.py
Due: autopep8, pylint, clang-format

NGRAPH_TF_BACKEND Error Checking
  python/ngraph_bridge/__init__.in.py
  src/ngraph_backend_manager.h
  src/ngraph_mark_for_clustering.cc
  test/opexecuter.cpp
Due: clang-format

NGRAPH_TF_BACKEND errors out if the backend is invalid
  src/ngraph_mark_for_clustering.cc
Due: clang-format

NGRAPH_TF_BACKEND errors out if the backend is invalid
  test/python/test_set_backend.py
Due: autopep8, pylint

Fix the SplitPositiveAxis Test
  test/test_array_ops.cpp
Due: clang-format

Pytest for set backend
  test/python/common.py
  test/python/test_set_backend.py
Due: autopep8, pylint

Incorporated comments
  test/test_array_ops.cpp
Due: clang-format

Add abseil-cpp license to third-party/licenses
  third-party/licenses/abseil-cpp-license.txt
Due: none

Adding floor_mod test with negative int and float inputs
  test/test_math_ops.cpp
Due: clang-format

Added the AVX512 support. Also fixed the pip whl file name to contain manylinux1
  CMakeLists.txt
  build_ngtf.py
  python/setup.in.py
Due: none

Format Changes
  test/python/test_set_backend.py
Due: autopep8, pylint

Incorporate review comments
  test/python/test_set_backend.py
Due: autopep8, pylint

Upgraded to nraph 0.10.0
  CMakeLists.txt
  README.md
  build_ngtf.py
  python/setup.in.py
  src/version.cc
Due: clang-format

Fixed the compiler flags
  CMakeLists.txt
Due: none

Prints to debug segfault
  src/ngraph_builder.cc
Due: clang-format

Fixed klockworks errors
  src/ngraph_builder.cc
Due: clang-format

Fixing another klocwork
  src/ngraph_builder.cc
Due: clang-format

Update CreatePipWhl.cmake
  python/CreatePipWhl.cmake
Due: none

Code format
  src/ngraph_builder.cc
Due: clang-format

Fix LICENSE location, typos
  python/CreatePipWhl.cmake
Due: none

Fixed typo
  diagnostics/model_test/README.md
Due: none

Fix SplitV op - Add invalid argument errors if size_splits != length
  src/ngraph_builder.cc
Due: clang-format

Updated the change
  src/ngraph_builder.cc
Due: clang-format
