Repository NervanaSystems/ngraph-tf: changes, and which pre-commit hooks are due for each by the changed paths.
All: autopep8, pylint, clang-format

autopep8:
  name: autopep8
  entry: autopep8 -i
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system

clang-format:
  name: clang-format
  entry: clang-format --style=file -i
  language: system

Disabled the previous QAvgPool test and add a new one that won't have fractional output
  test/test_nn_ops.cpp
Due: clang-format

exit with error
  test/python/tensorflow/tf_unittest_runner.py
Due: autopep8, pylint

Update tensorflow used for build to the latest, since ngraph-bridge now works with TF 1.13.1
  test/ci/macos/run-ngraph-tf-mac-build.sh
Due: none

Remove the node info dump function
  src/ngraph_builder.cc
  src/ngraph_utils.cc
  src/ngraph_utils.h
Due: clang-format

Changed to use specific 1.13.1 version of TensorFlow, as per pull-request review comment
  test/ci/macos/run-ngraph-tf-mac-build.sh
Due: none

Using get_backend_node API
  src/ngraph_builder.cc
  test/python/test_gather.py
Due: autopep8, pylint, clang-format

Added fusedconv2d unit tests
  src/ngraph_builder.cc
  test/python/test_fusedConv2D.py
Due: autopep8, pylint, clang-format

Add compiler Flag. Add a test file
  build_ngtf.py
  src/CMakeLists.txt
  src/enable_variable_ops/ngraph_encapsulate_op.cc
  test/CMakeLists.txt
  test/test_variable_ops.cpp
Due: clang-format

onehot for 1d,2d,3d with unit tests
  src/ngraph_builder.cc
  test/test_array_ops.cpp
Due: clang-format

Add all the modified and new files
  build_ngtf.py
  src/enable_variable_ops/ngraph_assign_op.cc
  src/enable_variable_ops/ngraph_capture_variables.cc
  src/enable_variable_ops/ngraph_capture_variables.h
  src/enable_variable_ops/ngraph_catalog.cc
  src/enable_variable_ops/ngraph_catalog.h
  src/enable_variable_ops/ngraph_enter_in_catalog.cc
  src/enable_variable_ops/ngraph_enter_in_catalog.h
  src/enable_variable_ops/ngraph_replace_optimizers.cc
  src/enable_variable_ops/ngraph_replace_optimizers.h
  src/enable_variable_ops/ngraph_rewrite_for_tracking.cc
  src/enable_variable_ops/ngraph_rewrite_for_tracking.h
  src/enable_variable_ops/ngraph_rewrite_pass.cc
  src/enable_variable_ops/ngraph_tracked_variable.cc
  src/enable_variable_ops/ngraph_utils.cc
  src/enable_variable_ops/ngraph_utils.h
  src/enable_variable_ops/ngraph_var.h
Due: clang-format

Style fix
  test/python/test_fusedConv2D.py
Due: autopep8, pylint

minor change
  src/ngraph_builder.cc
Due: clang-format

Compiles for variable support. Changes in mark for clustering and encapsulate_clusters is present in both the versions
  src/CMakeLists.txt
  src/enable_variable_ops/ngraph_assign_op.cc
  src/enable_variable_ops/ngraph_capture_variables.h
  src/enable_variable_ops/ngraph_catalog.h
  src/enable_variable_ops/ngraph_enter_in_catalog.cc
  src/enable_variable_ops/ngraph_enter_in_catalog.h
  src/enable_variable_ops/ngraph_rewrite_for_tracking.cc
  src/enable_variable_ops/ngraph_rewrite_for_tracking.h
  src/enable_variable_ops/ngraph_rewrite_pass.cc
  src/enable_variable_ops/ngraph_tracked_variable.cc
  src/enable_variable_ops/ngraph_utils.cc
  src/enable_variable_ops/ngraph_utils.h
  src/enable_variable_ops/ngraph_var.h
  src/ngraph_encapsulate_clusters.cc
  src/ngraph_encapsulate_clusters.h
  src/ngraph_mark_for_clustering.cc
  src/ngraph_rewrite_for_tracking.h
  src/ngraph_rewrite_pass.cc
  src/ngraph_utils.cc
  src/ngraph_utils.h
Due: clang-format

Compiles for variable support. Changes in mark for clustering, encapsulate_clusters and rewrite for tracking for adding backend and graph id is present in both the versions.
  src/CMakeLists.txt
  src/enable_variable_ops/ngraph_assign_op.cc
  src/enable_variable_ops/ngraph_capture_variables.h
  src/enable_variable_ops/ngraph_catalog.h
  src/enable_variable_ops/ngraph_enter_in_catalog.cc
  src/enable_variable_ops/ngraph_enter_in_catalog.h
  src/enable_variable_ops/ngraph_rewrite_for_tracking.cc
  src/enable_variable_ops/ngraph_rewrite_for_tracking.h
  src/enable_variable_ops/ngraph_rewrite_pass.cc
  src/enable_variable_ops/ngraph_tracked_variable.cc
  src/enable_variable_ops/ngraph_utils.cc
  src/enable_variable_ops/ngraph_utils.h
  src/enable_variable_ops/ngraph_var.h
  src/ngraph_encapsulate_clusters.cc
  src/ngraph_encapsulate_clusters.h
  src/ngraph_mark_for_clustering.cc
  src/ngraph_rewrite_for_tracking.cc
  src/ngraph_rewrite_for_tracking.h
  src/ngraph_rewrite_pass.cc
  src/ngraph_utils.cc
  src/ngraph_utils.h
Due: clang-format

Format Changes
  src/enable_variable_ops/ngraph_assign_op.cc
  src/enable_variable_ops/ngraph_catalog.h
  src/enable_variable_ops/ngraph_encapsulate_op.cc
  src/enable_variable_ops/ngraph_enter_in_catalog.h
  src/enable_variable_ops/ngraph_replace_optimizers.cc
  src/enable_variable_ops/ngraph_replace_optimizers.h
  src/enable_variable_ops/ngraph_rewrite_for_tracking.cc
  src/enable_variable_ops/ngraph_rewrite_pass.cc
  src/ngraph_mark_for_clustering.cc
  src/ngraph_rewrite_pass.cc
  src/ngraph_utils.cc
  test/test_variable_ops.cpp
Due: clang-format

TF CPU only supports NHWC convolution. Remove NCHW test cases
  test/python/test_fusedConv2D.py
Due: autopep8, pylint

debugging
  src/ngraph_builder.cc
Due: clang-format

Tested non-variable support version. ci passes
  src/ngraph_encapsulate_op.cc
Due: clang-format

Changes based on comments
  examples/mnist/mnist_deep_simplified.py
  examples/mnist/mnist_deep_simplified_with_grappler.py
  src/grappler/ngraph_optimizer.cc
  src/grappler/ngraph_optimizer.h
  src/ngraph_capture_variables.cc
  src/ngraph_capture_variables.h
  src/ngraph_mark_for_clustering.cc
  src/ngraph_mark_for_clustering.h
  src/ngraph_rewrite_pass.cc
  src/ngraph_utils.cc
  src/ngraph_utils.h
  test/graph_rewrites/backend_manager_test.cc
  test/graph_rewrites/deadness_test.cc
Due: clang-format

Change function name
  src/ngraph_builder.cc
Due: clang-format

add precision tolerance to fused batchnorm test
  test/python/test_fusedConv2D.py
Due: autopep8, pylint

Get op instead of node
  src/ngraph_builder.cc
Due: clang-format

Initial commit
  src/ngraph_encapsulate_clusters.cc
Due: clang-format

Add provenance tag
  src/ngraph_builder.cc
Due: clang-format

1.Remove exra character in sdt out 2.Print result of verification
  diagnostics/model_accuracy/verify_inference_model.py
Due: none

Fix formatting
  src/grappler/ngraph_optimizer.cc
  src/grappler/ngraph_optimizer.h
  src/ngraph_capture_variables.cc
  src/ngraph_capture_variables.h
  src/ngraph_mark_for_clustering.h
  src/ngraph_rewrite_pass.cc
  src/ngraph_utils.cc
Due: clang-format

Addressed PR feedback
  src/ngraph_mark_for_clustering.cc
Due: clang-format

Updating pyformatting to py3 + yapf 0.26
  examples/mnist/mnist_softmax_distributed.py
  maint/apply-code-format.sh
  maint/check-code-format.sh
  test/ci/docker/docker-scripts/run-build-test-ngtf.sh
  test/ci/docker/docker-scripts/run-check-code-format.sh
  test/ci/docker/dockerfiles/Dockerfile.ngraph-tf-ci-py2
  test/ci/docker/dockerfiles/Dockerfile.ngraph-tf-ci-py3
  test/python/test_avgpoolbackprop.py
  test/python/test_elementwise_ops.py
  test/python/test_floor.py
  test/python/test_relu6.py
  test/python/test_sigmoid.py
  test/python/test_stack.py
  tools/build_utils.py
Due: autopep8, pylint

Fix formatting for the python file
  examples/mnist/mnist_deep_simplified.py
Due: none

Change op to node
  src/ngraph_builder.cc
Due: clang-format

Removed PrintTensor Calls and vlogs
  src/enable_variable_ops/ngraph_applygradientdescent_op.cc
  src/enable_variable_ops/ngraph_assign_op.cc
  src/enable_variable_ops/ngraph_assignadd_op.cc
  src/enable_variable_ops/ngraph_assignsub_op.cc
  src/enable_variable_ops/ngraph_encapsulate_op.cc
  src/enable_variable_ops/ngraph_tracked_variable.cc
Due: clang-format

Removed prints and vlogs from encapsulate
  src/enable_variable_ops/ngraph_encapsulate_op.cc
Due: clang-format

Update build_ngtf.py
  build_ngtf.py
Due: none

changes based on review
  src/ngraph_builder.cc
  test/test_array_ops.cpp
Due: clang-format

dump junit xml results for model inference
  diagnostics/model_accuracy/verify_inference_model.py
Due: none

remove junit output and return boolean when check accuracy
  diagnostics/model_accuracy/verify_inference_model.py
Due: none

Refactoring test_ngtf
  test/CMakeLists.txt
  test/build_tf_cc.sh
  test_ngtf.py
Due: none

Changes based on comments
  build_ngtf.py
  examples/mnist/mnist_deep_simplified.py
  src/grappler/ngraph_optimizer.cc
  src/grappler/ngraph_optimizer.h
  src/ngraph_capture_variables.cc
  src/ngraph_mark_for_clustering.cc
Due: clang-format

Minor change to pass the skip_nodes by reference
  src/grappler/ngraph_optimizer.cc
  src/ngraph_capture_variables.cc
  src/ngraph_mark_for_clustering.cc
Due: clang-format

Path conditions:
  autopep8: any of: ^test/python/ and \.py$
  pylint: any of: ^test/python/ and \.py$
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$
