Repository NervanaSystems/ngraph-tf: changes, and which pre-commit hooks are due for each by the changed paths.
All: autopep8, pylint, clang-format

autopep8:
  name: autopep8
  entry: autopep8 -i
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system

clang-format:
  name: clang-format
  entry: clang-format --style=file -i
  language: system

Updated nGraph version
  CMakeLists.txt
Due: none

Using AddEdge Instead of UpdateEdge. tf was crashing while updating a control edge. However if we add the control edge and removed the node being replaced. It does the same thing.
  src/ngraph_capture_variables.cc
  src/ngraph_rewrite_for_tracking.cc
  src/tf_deadness_analysis.cc
Due: clang-format

Incorporate review comments. Removing edges specifically to be safe
  src/ngraph_capture_variables.cc
  src/ngraph_rewrite_for_tracking.cc
Due: clang-format

Fix segmentation fault Add more checks
  src/ngraph_disable_assert.cc
Due: clang-format

Add libsdl1.2-dev to Dockerfile for Python3, to run A3C model
  test/ci/docker/Dockerfile.ngraph-tf-ci-py3
Due: none

Support scaled unsigned mode correctly
  src/ngraph_builder.cc
  test/test_array_ops.cpp
Due: clang-format

Adding u8 to float dequant test
  test/test_array_ops.cpp
Due: clang-format

Add another test ci changes
  test/ci/run-premerge-ci-checks.sh
  test/python/test_disable_assert.py
Due: autopep8, pylint

Move the NGRAPH_TF_DISABLE flag to appropriate location so that it takes affect right from the beginning of the execution.
  src/ngraph_capture_variables.cc
  src/ngraph_mark_for_clustering.cc
  src/ngraph_rewrite_pass.cc
Due: clang-format

Style and minor change
  src/ngraph_builder.cc
  test/test_array_ops.cpp
Due: clang-format

Minor changes
  src/ngraph_disable_assert.cc
  src/ngraph_rewrite_pass.cc
Due: clang-format

Using import ngraph instead of raw .so load
  test/python/common.py
  test/python/conftest.py
Due: autopep8, pylint

Enable l2 loss test
  test/python/test_l2loss.py
Due: autopep8, pylint

Adding relu6, prod, sigmoid
  test/python/test_prod.py
  test/python/test_relu6.py
  test/python/test_sigmoid.py
Due: autopep8, pylint

Some more tests and style
  test/python/conftest.py
  test/python/test_l2loss.py
  test/python/test_prod.py
  test/python/test_relu6.py
  test/python/test_sigmoid.py
  test/python/test_sign.py
  test/python/test_softmax.py
  test/python/test_stack.py
Due: autopep8, pylint

Reenable element wise tests
  test/python/test_elementwise_ops.py
Due: autopep8, pylint

Enabling all tests in ci, disabling those that fail
  test/ci/run-premerge-ci-checks.sh
  test/python/test_api.py
  test/python/test_conv2dbackpropinput.py
  test/python/test_fusedbatchnorm.py
  test/python/test_maxpoolbackprop.py
  test/python/test_relugrad.py
  test/python/test_sparse_softmax_cross_entropy_with_logits.py
Due: autopep8, pylint

Removing opt disabling. Const folding is prevented if placeholders are used
  test/python/common.py
Due: autopep8, pylint

Removing stray pdb
  test/python/test_avgpoolbackprop.py
Due: autopep8, pylint

Added ops in confirmation pass, still converting
  src/ngraph_builder.cc
  src/ngraph_mark_for_clustering.cc
  test/test_array_ops.cpp
Due: clang-format

Initial commit
  diagnostics/tf_bisect.py
Due: none

More functions
  diagnostics/tf_bisect.py
Due: none

Somewhat working
  diagnostics/tf_bisect.py
Due: none

Support multiple outputs, and unspecified outputs
  diagnostics/model_test/mnist_cnn.json
  diagnostics/model_test/verify_model.py
Due: none

Support multiple outputs, or all outputs
  diagnostics/model_test/mnist_cnn.json
  diagnostics/model_test/verify_model.py
Due: none

Changes based on comments
  src/ngraph_rewrite_pass.cc
Due: clang-format

Figuring ops are not placed on NGraph
  src/ngraph_builder.cc
  test/test_array_ops.cpp
Due: clang-format

fix of tensor liveness issue
  src/ngraph_encapsulate_op.cc
Due: clang-format

Clean up the code
  src/ngraph_builder.cc
  src/ngraph_mark_for_clustering.cc
  test/test_array_ops.cpp
Due: clang-format

Added some comments
  src/ngraph_builder.cc
Due: clang-format

Add Regex Support for specifying test cases
  test/python/tensorflow/tf_unittest_runner.py
Due: autopep8, pylint

format
  test/python/tensorflow/tf_unittest_runner.py
  test/python/tf_unittest_runner.py
Due: autopep8, pylint

Introduce clustering according to the deadness predicate of the node.
  src/ngraph_assign_clusters.cc
  src/ngraph_mark_for_clustering.cc
  src/tf_deadness_analysis.cc
  src/tf_deadness_analysis.h
Due: clang-format

Initial commit for quantized maxpool
  src/ngraph_builder.cc
  src/ngraph_mark_for_clustering.cc
Due: clang-format

Extend the model test script - Get multiple output tensor layers - Change input numbers between 0-255 - Load both pb and pbtxt type graph
  diagnostics/model_test/quantized_mnist_cnn2.json
  diagnostics/model_test/verify_model.py
Due: none

Update to new ngraph batch norm API.
  src/ngraph_builder.cc
Due: clang-format

Modify the model test script - Change input numbers between 0-255 - Load both pb and pbtxt type graph - Set back_end as parameter - Save test result and tensor array to .npy file
  diagnostics/model_test/mnist_cnn.json
  diagnostics/model_test/verify_model.py
Due: none

Reformat the code
  diagnostics/model_test/verify_model.py
Due: none

Also can get random number range from json file
  diagnostics/model_test/mnist_cnn.json
  diagnostics/model_test/verify_model.py
Due: none

Update random_value name in json easy to understand
  diagnostics/model_test/mnist_cnn.json
  diagnostics/model_test/verify_model.py
Due: none

Path conditions:
  autopep8: any of: ^test/python/ and \.py$
  pylint: any of: ^test/python/ and \.py$
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$
