Repository NervanaSystems/ngraph-tf: changes, and which pre-commit hooks are due for each by the changed paths.
All: autopep8, pylint, clang-format

autopep8:
  name: autopep8
  entry: autopep8 -i
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system

clang-format:
  name: clang-format
  entry: clang-format --style=file -i
  language: system

Request row-major layouts from ngraph
  src/ngraph_builder.cc
Due: clang-format

Request row-major layouts from ngraph (#161)
  src/ngraph_builder.cc
Due: clang-format

Clean up merge goofs
  src/ngraph_builder.cc
  test/ci/docker/Dockerfile.ngraph-tf-ci-py2
Due: clang-format

Merge to master
  CMakeLists.txt
  src/ngraph_mark_for_clustering.cc
Due: clang-format

Fix compilation
  CMakeLists.txt
  src/ngraph_builder.cc
Due: clang-format

Merge to master
  src/ngraph_builder.cc
  src/ngraph_mark_for_clustering.cc
Due: clang-format

separated c/c++ api
  python/ngraph/__init__.in.py
  src/ngraph_api.cc
  src/ngraph_api.h
  test/python/test_api.py
Due: autopep8, pylint, clang-format

First pass
  python/ngraph/__init__.in.py
  src/ngraph_api.cc
  src/ngraph_api.h
  test/python/test_api.py
Due: autopep8, pylint, clang-format

Backend plan 1: pass translate functions the ng nodes
  src/ngraph_builder1.cc
  src/ngraph_builder1.h
Due: clang-format

Guard the backend object with a mutex
  src/ngraph_encapsulate_op.cc
Due: clang-format

Add GUARDED_BY
  src/ngraph_encapsulate_op.cc
Due: clang-format

Add unit test infrastructure
  test/CMakeLists.txt
  test/TestCaseBuilderSimple.cpp
  test/TestCaseBuilderSimple.h
  test/TestSimple.cpp
  test/TestUtilities.cpp
  test/TestUtilities.h
  test/opexecuter.cpp
  test/opexecuter.h
  test/test_math_ops.cpp
  test/test_nn_ops.cpp
  test/test_utilities.cpp
  test/test_utilities.h
  test/tf_exec.cpp
Due: clang-format

Added Comments, clean up
  test/opexecuter.cpp
  test/opexecuter.h
  test/test_math_ops.cpp
  test/test_nn_ops.cpp
  test/test_utilities.cpp
  test/test_utilities.h
Due: clang-format

Added Comments, clean up
  test/TestCaseBuilderSimple.cpp
  test/TestCaseBuilderSimple.h
  test/TestSimple.cpp
  test/TestUtilities.cpp
  test/TestUtilities.h
  test/opexecuter.cpp
  test/opexecuter.h
  test/test_math_ops.cpp
  test/test_nn_ops.cpp
  test/test_utilities.cpp
  test/test_utilities.h
Due: clang-format

Clean up
  test/CMakeLists.txt
  test/opexecuter.cpp
Due: clang-format

Big fix for the default run-type for running commands (inference models) in a docker container
  test/ci/docker/docker-run-ngraph-tf-cmdline.sh
Due: none

Add unary and binary functions
  src/ngraph_builder1.cc
  src/ngraph_builder1.h
Due: clang-format

Some cleanup
  src/ngraph_builder1.cc
  src/ngraph_builder1.h
Due: clang-format

Add AddN
  src/ngraph_builder1.cc
  src/ngraph_builder1.h
Due: clang-format

Add support for static inputs
  test/opexecuter.cpp
  test/opexecuter.h
Due: clang-format

Add a typedef
  src/ngraph_builder1.cc
Due: clang-format

AddN test runs with Builder, not with Builder1
  test/tf_exec.cpp
Due: clang-format

Trying a few tests. Constant folding seems to happen even with L0
  src/ngraph_builder.cc
  src/ngraph_builder1.cc
  src/ngraph_encapsulate_op.cc
  test/tf_exec.cpp
Due: clang-format

just the api, no guts yet
  src/ngraph_api.cc
  src/ngraph_api.h
Due: clang-format

Adding Const and NoOp
  src/ngraph_builder1.cc
  src/ngraph_encapsulate_op.cc
Due: clang-format

maybe this even works
  python/ngraph/__init__.in.py
Due: none

Remove unnecessary mutex locks around create_tensor calls; smuggle in Jayaram's fix for result layouts
  src/ngraph_builder.cc
  src/ngraph_encapsulate_op.cc
Due: clang-format

Remove legacy source files (from before "deviceless" switch)
  src/ngraph_confirm_pass.cc
  src/ngraph_mark_for_hostmem_pass.cc
  src/ngraph_mark_for_hostmem_pass.h
  src/ngraph_stub_ops.cc
  src/ngraph_variable_ops.cc
Due: clang-format

Negate test runs, which is basically Const test (because of constant folding)
  src/ngraph_builder1.cc
  src/ngraph_builder1.h
Due: clang-format

this ought to work now, more evals though
  python/ngraph/__init__.in.py
Due: none

Static inputs testing
  src/ngraph_builder.cc
  test/opexecuter.cpp
  test/opexecuter.h
  test/test_math_ops.cpp
  test/test_nn_ops.cpp
  test/tf_exec.cpp
Due: clang-format

Cleanup up the unit test main and disabled failing tests until the new unit testing framework is in place.
  test/main.cpp
  test/tf_exec.cpp
Due: clang-format

returning tf::Status in the C++ api
  src/ngraph_api.cc
  src/ngraph_api.h
Due: clang-format

better comments
  python/ngraph/__init__.in.py
Due: none

Updated.
  CMakeLists.txt
  python/setup.in.py
  src/ngraph_builder.cc
Due: clang-format

logging placement
  src/ngraph_mark_for_clustering.cc
  test/python/test_api.py
Due: autopep8, pylint, clang-format

probably need to update init also
  python/ngraph/__init__.in.py
Due: none

Rearrange the TRANSLATE_OP_MAP portion
  src/ngraph_builder1.cc
  src/ngraph_builder1.h
Due: clang-format

Able to run Neg test with new framework
  src/ngraph_builder1.cc
  test/CMakeLists.txt
  test/opexecuter.cpp
  test/opexecuter.h
  test/test_math_ops.cpp
  test/test_utilities.cpp
  test/test_utilities.h
Due: clang-format

cleanups and version number fix for the nGraph pip
  python/setup.in.py
  test/ci/run-premerge-ci-checks.sh
Due: none

Path conditions:
  autopep8: any of: ^test/python/ and \.py$
  pylint: any of: ^test/python/ and \.py$
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$
