Repository NervanaSystems/ngraph-tf: changes, and which pre-commit hooks are due for each by the changed paths.
All: autopep8, pylint, clang-format

autopep8:
  name: autopep8
  entry: autopep8 -i
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system

clang-format:
  name: clang-format
  entry: clang-format --style=file -i
  language: system

Taking care of backend setting
  src/ngraph_builder.cc
  src/ngraph_mark_for_clustering.cc
Due: clang-format

Remove stray print
  src/ngraph_mark_for_clustering.cc
Due: clang-format

Changing to passing pointers
  src/ngraph_builder.cc
Due: clang-format

Added a build option to choose a specific nGraph version
  build_ngtf.py
  test_ngtf.py
Due: none

test commit
  README.md
Due: none

Revert "Initial commit"
  src/lrucache.cpp
Due: clang-format

Update build_ngtf.py
  build_ngtf.py
Due: none

Added version check for YAPF
  maint/apply-code-format.sh
  maint/check-code-format.sh
Due: none

Added TF Python tests
  test/ci/buildkite/test_runner.py
  tools/test_utils.py
Due: none

Fixed the TensorFlow Python tests
  test/ci/buildkite/test_runner.py
Due: none

Fixed the Pytest and some typos
  build_ngtf.py
  maint/apply-code-format.sh
  maint/check-code-format.sh
Due: none

Handle negative axis
  src/ngraph_builder.cc
  test/python/test_gather.py
Due: autopep8, pylint, clang-format

Added License Dates. Renamed maps in catalog
  src/enable_variable_ops/ngraph_assign_op.cc
  src/enable_variable_ops/ngraph_capture_variables.cc
  src/enable_variable_ops/ngraph_catalog.cc
  src/enable_variable_ops/ngraph_catalog.h
  src/enable_variable_ops/ngraph_encapsulate_op.cc
  src/enable_variable_ops/ngraph_enter_in_catalog.cc
  src/enable_variable_ops/ngraph_enter_in_catalog.h
  src/enable_variable_ops/ngraph_replace_variable_modifiers.cc
  src/enable_variable_ops/ngraph_replace_variable_modifiers.h
  src/enable_variable_ops/ngraph_rewrite_for_tracking.cc
  src/enable_variable_ops/ngraph_rewrite_pass.cc
  src/enable_variable_ops/ngraph_tracked_variable.cc
  src/enable_variable_ops/ngraph_utils.cc
  src/enable_variable_ops/ngraph_var.h
  src/enable_variable_ops/ngraph_variable_modifiers.cc
Due: clang-format

Format changes
  src/enable_variable_ops/ngraph_assign_op.cc
  src/enable_variable_ops/ngraph_catalog.cc
  src/enable_variable_ops/ngraph_catalog.h
  src/enable_variable_ops/ngraph_encapsulate_op.cc
  src/enable_variable_ops/ngraph_enter_in_catalog.cc
Due: clang-format

fix ci failure - input data type
  test/python/test_select.py
Due: autopep8, pylint

Adding disabled cpp unit test
  test/test_array_ops.cpp
Due: clang-format

Removed stray cout
  src/ngraph_mark_for_clustering.cc
Due: clang-format

Adding tests for gather (not meaningful, as they run on CPU and fallback)
  test/python/tensorflow/python_tests_list.txt
Due: none

Renamed Catalog Functions
  src/enable_variable_ops/ngraph_assign_op.cc
  src/enable_variable_ops/ngraph_catalog.cc
  src/enable_variable_ops/ngraph_catalog.h
  src/enable_variable_ops/ngraph_encapsulate_op.cc
  src/enable_variable_ops/ngraph_enter_in_catalog.cc
Due: clang-format

fix bug in selectop translate
  src/ngraph_builder.cc
Due: clang-format

Release 0.12.0-rc-4 prep
  README.md
  python/setup.in.py
  src/version.cc
Due: clang-format

Unified the key generation for all indexes. CreateNodeKey
  src/enable_variable_ops/ngraph_catalog.cc
  src/enable_variable_ops/ngraph_encapsulate_op.cc
  src/enable_variable_ops/ngraph_enter_in_catalog.cc
Due: clang-format

changes based on comments
  src/ngraph_builder.cc
  test/python/test_select.py
Due: autopep8, pylint, clang-format

modify unit test
  test/python/test_select.py
Due: autopep8, pylint

Update README.md
  README.md
Due: none

Modify testrunner to print error and failure outputs along with summary
  test/python/tensorflow/tf_unittest_runner.py
Due: autopep8, pylint

Moved Replace functions to new files to be shared between Capture and RewriteForTracking passes
  src/CMakeLists.txt
  src/enable_variable_ops/ngraph_replace_op_utilities.cc
  src/enable_variable_ops/ngraph_replace_op_utilities.h
  src/enable_variable_ops/ngraph_replace_variable_modifiers.h
  src/enable_variable_ops/ngraph_rewrite_for_tracking.cc
  src/ngraph_rewrite_for_tracking.h
Due: clang-format

Update test/python/test_select.py
  test/python/test_select.py
Due: autopep8, pylint

Changes made in rewrite for tracking
  src/enable_variable_ops/ngraph_replace_op_utilities.cc
  src/enable_variable_ops/ngraph_replace_op_utilities.h
  src/enable_variable_ops/ngraph_replace_variable_modifiers.h
  src/enable_variable_ops/ngraph_rewrite_for_tracking.cc
Due: clang-format

Added Function map in rewrite for tracking
  src/enable_variable_ops/ngraph_replace_op_utilities.cc
  src/enable_variable_ops/ngraph_replace_op_utilities.h
  src/enable_variable_ops/ngraph_rewrite_for_tracking.cc
Due: clang-format

Refactored capture variable pass to use the replacement functions in ngraph replace op utilities
  src/enable_variable_ops/ngraph_capture_variables.cc
  src/enable_variable_ops/ngraph_replace_op_utilities.cc
  src/enable_variable_ops/ngraph_replace_op_utilities.h
  src/enable_variable_ops/ngraph_rewrite_for_tracking.cc
Due: clang-format

Return appropriate error to satisfy TF unit test gather_op_test.GatherTest.testBadAxis
  src/ngraph_builder.cc
  test/python/tensorflow/python_tests_list.txt
Due: clang-format

Added utilites to replace incoming nad outgoing edges
  src/enable_variable_ops/ngraph_capture_variables.cc
  src/enable_variable_ops/ngraph_replace_op_utilities.cc
  src/enable_variable_ops/ngraph_replace_op_utilities.h
  src/enable_variable_ops/ngraph_replace_variable_modifiers.cc
  src/enable_variable_ops/ngraph_rewrite_for_tracking.cc
Due: clang-format

Return appropriate error to satisfy gather_op_test.GatherTest.testBadIndicesCPU
  src/ngraph_builder.cc
Due: clang-format

Traiging rest of the tests
  src/ngraph_builder.cc
  test/python/tensorflow/python_tests_list.txt
Due: clang-format

Minor change
  test/python/tensorflow/python_tests_list.txt
Due: none

Remove commented out code
  src/enable_variable_ops/ngraph_capture_variables.cc
  src/enable_variable_ops/ngraph_rewrite_for_tracking.cc
Due: clang-format

Move confirmation function outside
  src/ngraph_mark_for_clustering.cc
Due: clang-format

Minor fix
  src/ngraph_mark_for_clustering.cc
Due: clang-format

Path conditions:
  autopep8: any of: ^test/python/ and \.py$
  pylint: any of: ^test/python/ and \.py$
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$
