Repository NervanaSystems/ngraph-tf: changes, and which pre-commit hooks are due for each by the changed paths.
All: autopep8, pylint, clang-format

autopep8:
  name: autopep8
  entry: autopep8 -i
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system

clang-format:
  name: clang-format
  entry: clang-format --style=file -i
  language: system

Reformatted code
  diagnostics/model_test/verify_model.py
Due: none

Readjusting some env flags
  test/python/common.py
Due: autopep8, pylint

Formatting
  src/ngraph_builder.cc
Due: clang-format

- Change the naming in json file - Update the script as new json format
  diagnostics/model_test/mnist_cnn.json
  diagnostics/model_test/verify_model.py
Due: none

Remove output.log file. User always can pipe the output to a file.
  diagnostics/model_test/mnist_cnn.json
  diagnostics/model_test/verify_model.py
Due: none

Cluster only if the predicates match exactly. Nodes with #true predicate (like some constants) which could have been possibly clustered are not clustered at the moment.
  src/ngraph_assign_clusters.cc
  src/tf_deadness_analysis.cc
  test/graph_rewrites/assign_clusters.cc
  test/graph_rewrites/deadness_test.cc
Due: clang-format

Update README.md
  diagnostics/model_test/README.md
Due: none

Regex to list and run tests
  test/python/tensorflow/tf_unittest_runner.py
Due: autopep8, pylint

Update README.md and template.json file
  diagnostics/model_test/README.md
  diagnostics/model_test/template.json
Due: none

Formatting. Also adding some quantize tests that request min max outputs
  src/ngraph_builder.cc
  src/ngraph_mark_for_clustering.cc
  test/test_array_ops.cpp
Due: clang-format

Removed 'frozen' from graph file naming because it doesn't need to be a frozen graph always
  diagnostics/model_test/README.md
  diagnostics/model_test/mnist_cnn.json
  diagnostics/model_test/verify_model.py
Due: none

fix the batchnorm api
  src/ngraph_builder.cc
Due: clang-format

api fix
  CMakeLists.txt
  src/ngraph_builder.cc
Due: clang-format

Adding a QMP test
  test/test_nn_ops.cpp
Due: clang-format

Overhaul make-docker-ngraph-tf-ci.sh to be able to handle a range of different docker builds, in preparation for supporting gcc48, debian, multiple python 3.x, multiple backends, etc.
  test/ci/docker/make-docker-ngraph-tf-ci.sh
Due: none

Remove quantization part
  diagnostics/model_test/README.md
  diagnostics/model_test/mnist_cnn.json
  diagnostics/model_test/template.json
  diagnostics/model_test/verify_model.py
Due: none

Added more unit tests
  test/graph_rewrites/deadness_test.cc
Due: clang-format

Move dockerfiles to their own directory, to limit the clutter as we add more
  test/ci/docker/dockerfiles/Dockerfile.ngraph-tf-ci-py2
  test/ci/docker/dockerfiles/Dockerfile.ngraph-tf-ci-py3
  test/ci/docker/make-docker-ngraph-tf-ci.sh
Due: none

First working Dockerfile for gcc 4.8 on Ubuntu 16.04 (with Python 3.5)
  test/ci/docker/dockerfiles/Dockerfile-README.txt
  test/ci/docker/dockerfiles/Dockerfile.ngraph_tf_ci.ubuntu1604_gcc48_py35
Due: none

Remove old obsolete TF with MKLDNN build. It used to be used for reference testing, but modern ngraph-tf build strategies have eliminated the need for this.
  test/ci/docker/docker-run-tf-mkldnn-build.sh
Due: none

Adding prints to ASSERT_EQs and comparing tensor shapres correctly
  test/graph_exec.cpp
  test/graph_rewrites/assign_clusters.cc
  test/opexecuter.cpp
  test/test_utilities.cpp
  test/test_utilities.h
Due: clang-format

Print out full tensor shapes in case of mismatch
  test/test_utilities.cpp
  test/test_utilities.h
Due: clang-format

Format and output min-max shape correction
  src/ngraph_builder.cc
  test/test_nn_ops.cpp
Due: clang-format

Modify docker-run-ngraph-tf-build.sh to use an a long Docker image name of form class:ID. Note that ngraph-tf build worked with python3 build test.
  test/ci/docker/docker-run-ngraph-tf-build.sh
Due: none

Adding extensive tests
  src/ngraph_builder.cc
  test/test_nn_ops.cpp
Due: clang-format

Adding a TODO
  test/test_nn_ops.cpp
Due: clang-format

Removing endls
  test/graph_rewrites/assign_clusters.cc
  test/opexecuter.cpp
  test/test_utilities.cpp
  test/test_utilities.h
Due: clang-format

Remove old build script to build "reference" TensorFlow wheel with MKLDNN. It is no longer needed, as a result of new ngraph-tf build strategies.
  test/ci/docker/docker-scripts/run-tf-mkldnn-build.sh
Due: none

Addiing mingshan's comments
  test/opexecuter.cpp
Due: clang-format

Cluster Nodes According to Deadness. Cluster with True predicate is merged with other non-true clusters whenever possible.
  src/ngraph_assign_clusters.cc
  src/tf_deadness_analysis.cc
Due: clang-format

Check norm value if it's infinity number
  diagnostics/model_test/verify_model.py
Due: none

More regex expressions work
  test/python/tensorflow/tf_unittest_runner.py
Due: autopep8, pylint

Reorganized dockerfiles and rewrote make-docker-image such that it is more user friendly, in anticipation of creating commands for developers to use
  test/ci/docker/dockerfiles/Dockerfile.ngraph_tf.builds_ubuntu1604_gcc48_py35
  test/ci/docker/make-docker-ngraph-tf-ci.sh
Due: none

Added functionality to utilize a pre-built nGraph built for the bridge
  CMakeLists.txt
  src/CMakeLists.txt
Due: none

Added More test cases. Some clean up.
  src/ngraph_assign_clusters.cc
  src/tf_deadness_analysis.cc
  src/tf_deadness_analysis.h
  test/graph_rewrites/deadness_test.cc
Due: clang-format

Add more Dockerfiles, grouped into those for builds (including unit-testing) and those for running inference models
  test/ci/docker/dockerfiles/Dockerfile.ngraph_tf.builds_ubuntu1604_py27
  test/ci/docker/dockerfiles/Dockerfile.ngraph_tf.builds_ubuntu1604_py35
  test/ci/docker/dockerfiles/Dockerfile.ngraph_tf.inference_ubuntu1604_py27
  test/ci/docker/dockerfiles/Dockerfile.ngraph_tf.inference_ubuntu1604_py35
Due: none

Comment block changes
  test/python/tensorflow/tf_unittest_runner.py
Due: autopep8, pylint

Moved back the test runner file to python/test for review purpose
  test/python/tf_unittest_runner.py
Due: autopep8, pylint

Update dockerfile documentation
  test/ci/docker/dockerfiles/Dockerfile-README.txt
Due: none

Non-trivial dilation with valid padding works for Conv2DBackpropInput
  test/test_nn_ops.cpp
Due: clang-format

Path conditions:
  autopep8: any of: ^test/python/ and \.py$
  pylint: any of: ^test/python/ and \.py$
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$
