Repository NervanaSystems/ngraph-tf: changes, and which pre-commit hooks are due for each by the changed paths.
All: autopep8, pylint, clang-format

autopep8:
  name: autopep8
  entry: autopep8 -i
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system

clang-format:
  name: clang-format
  entry: clang-format --style=file -i
  language: system

Formatting, add unit tests
  src/ngraph_builder.cc
  test/tf_exec.cpp
Due: clang-format

Add more unit test for BatchMatMul
  test/tf_exec.cpp
Due: clang-format

Remove all exclamation points
  src/ngraph_builder.cc
Due: clang-format

Review comments
  src/ngraph_builder.cc
Due: clang-format

reverted ngraph loading for unit tests :(
  test/python/common.py
  test/python/conftest.py
Due: autopep8, pylint

augh, forgot to include the actual test
  test/python/test_minimum.py
Due: autopep8, pylint

sanitize explanation
  CMakeLists.txt
Due: none

More corner cases test
  test/tf_exec.cpp
Due: clang-format

remove comments
  test/tf_exec.cpp
Due: clang-format

Change according to Adam's comments
  src/ngraph_builder.cc
  test/tf_exec.cpp
Due: clang-format

More modification
  src/ngraph_builder.cc
Due: clang-format

fix expand index for negative number
  src/ngraph_builder.cc
Due: clang-format

fix debug string, incorrect op name
  src/ngraph_builder.cc
Due: clang-format

Updated the cmake with the latest nGraph tag. Also enabled the resnet testingin the CI now that the Python pip is working after the fix of the nGraph lib rpath.
  CMakeLists.txt
  test/ci/run-premerge-ci-checks.sh
Due: none

add comment
  src/ngraph_builder.cc
Due: clang-format

Updated the version number and the nGraph lib versions for Mac
  python/CreatePipWhl.cmake
  python/setup.in.py
Due: none

Turned off the resnet test as the CI system is not yet ready.
  test/ci/run-premerge-ci-checks.sh
Due: none

Reverting the version number field for the pip package as it's breaking the CI builds.
  python/setup.in.py
Due: none

Modify CPP Test Case for operator RealDiv
  src/ngraph_builder.cc
  test/tf_exec.cpp
Due: clang-format

Changed cpp test case for RealDiv Op to run on ngraph
  test/tf_exec.cpp
Due: clang-format

Changed cpp test case for RealDiv Op to run on ngraph
  src/ngraph_builder.cc
  test/tf_exec.cpp
Due: clang-format

Fix segfault in encapsulation due to invalidated iterator
  src/ngraph_encapsulate_pass.cc
Due: clang-format

refactored input validation, removed some stray-seeming prints
  src/ngraph_builder.cc
Due: clang-format

Implement Op SquaredDifference
  src/ngraph_builder.cc
  src/ngraph_confirm_pass.cc
  src/ngraph_stub_ops.cc
  test/tf_exec.cpp
Due: clang-format

save the const value in comfirm pass for strided slice
  src/ngraph_builder.cc
  src/ngraph_confirm_pass.cc
  test/python/test_slice.py
Due: autopep8, pylint, clang-format

aaaaalmost there, need to fix templates
  src/ngraph_builder.cc
Due: clang-format

validate min input count
  src/ngraph_builder.cc
Due: clang-format

no longer caring about particular numerical types for vectors
  src/ngraph_builder.cc
Due: clang-format

disable stride slice when using tf.newaxis
  src/ngraph_confirm_pass.cc
Due: clang-format

bonus: static assert on dimensionality
  src/ngraph_builder.cc
Due: clang-format

minor change in comment
  src/ngraph_confirm_pass.cc
Due: clang-format

Tile op implementation
  src/ngraph_builder.cc
  src/ngraph_confirm_pass.cc
  src/ngraph_stub_ops.cc
  test/python/test_tile.py
  test/tf_exec.cpp
Due: autopep8, pylint, clang-format

Remove the comment
  test/python/test_tile.py
Due: autopep8, pylint

Remove invalid comment
  test/tf_exec.cpp
Due: clang-format

Created the INTERPRETER backend to avoid the LLVM build issue from TensorFlow.
  examples/mnist_cnn_inference.py
  examples/mnist_fprop_only.py
  examples/resnet/tf_cnn_benchmarks.py
  src/ngraph_encapsulate_op.cc
Due: clang-format

padding refactor
  src/ngraph_builder.cc
Due: clang-format

save begin and size as attrs for slice
  src/ngraph_builder.cc
  src/ngraph_confirm_pass.cc
Due: clang-format

Implement Op Reciprocal
  src/ngraph_builder.cc
  src/ngraph_confirm_pass.cc
  src/ngraph_stub_ops.cc
  test/tf_exec.cpp
Due: clang-format

save dim as attrs for expand dims
  src/ngraph_builder.cc
  src/ngraph_confirm_pass.cc
Due: clang-format

Path conditions:
  autopep8: any of: ^test/python/ and \.py$
  pylint: any of: ^test/python/ and \.py$
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$
