Repository NervanaSystems/ngraph-tf: changes, and which pre-commit hooks are due for each by the changed paths.
All: autopep8, pylint, clang-format

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: autopep8
        name: autopep8
        entry: autopep8 -i
        language: system
        files: ^test/python/
        types: [python]
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        files: ^test/python/
        types: [python]
    -   id: clang-format
        name: clang-format
        entry: clang-format --style=file -i
        language: system
        types: [c++]

VariableV2: Bypass resource manager for all but the first Compute call
  src/ngraph_variable_ops.cc
Due: clang-format

Bypass resource manager for Assign as well
  src/ngraph_encapsulate_op.cc
  src/ngraph_variable_ops.cc
Due: clang-format

Fix bug introduced in recent commit with NHWC order
  src/ngraph_builder.cc
Due: clang-format

Implement op Conv2DBackpropFilter
  src/ngraph_builder.cc
Due: clang-format

AvgPoolBackprop implementation
  src/ngraph_builder.cc
  src/ngraph_confirm_pass.cc
  src/ngraph_stub_ops.cc
Due: clang-format

Code changes for Adam's comments
  src/ngraph_builder.cc
  test/tf_exec.cpp
Due: clang-format

change
  test/tf_exec.cpp
Due: clang-format

post-merge fixes
  src/ngraph_builder.cc
Due: clang-format

added GetInputNodes
  src/ngraph_builder.cc
Due: clang-format

Implement op Conv2DBackpropFilter, unit testcase WIP
  src/ngraph_builder.cc
  src/ngraph_confirm_pass.cc
  src/ngraph_stub_ops.cc
  test/tf_exec.cpp
Due: clang-format

AvgPoolGrad debugging
  src/ngraph_builder.cc
  test/python/test_avgpoolbackprop.py
Due: autopep8, pylint, clang-format

Add the deassignment pass
  src/CMakeLists.txt
  src/ngraph_assign_clusters.cc
  src/ngraph_deassign_clusters.cc
  src/ngraph_deassign_clusters.h
  src/ngraph_mark_for_clustering.cc
  src/ngraph_rewrite_pass.cc
Due: clang-format

AvgPoolGrad works
  src/ngraph_builder.cc
  test/python/test_avgpoolbackprop.py
Due: autopep8, pylint, clang-format

Merge with master
  src/ngraph_confirm_pass.cc
Due: clang-format

Op Conv2DBackpropFilter Complete
  src/ngraph_builder.cc
  test/tf_exec.cpp
Due: clang-format

Code modification according to review request
  src/ngraph_builder.cc
  src/ngraph_conversions.h
  test/python/test_avgpoolbackprop.py
Due: autopep8, pylint, clang-format

Re-enable encapsulation; RN50 works with the expected perf
  src/CMakeLists.txt
  src/ngraph_assign_clusters.cc
  src/ngraph_encapsulate_clusters.cc
  src/ngraph_encapsulate_clusters.h
  src/ngraph_rewrite_pass.cc
  src/ngraph_utils.h
Due: clang-format

Remove unused files
  src/CMakeLists.txt
  src/ngraph_cluster.cc
  src/ngraph_cluster.h
  src/ngraph_confirm_pass.cc
  src/ngraph_encapsulate_pass.cc
Due: clang-format

Remove stale comment
  src/ngraph_mark_for_clustering.cc
Due: clang-format

Add example to illustrate that _ngraph_requested attribute will survive, if we want to use that
  examples/new_axpy.py
  python/ngraph/__init__.in.py
Due: none

Added environment flags to enable output of graphs in pbtxt and dot format.
  logging/tf_graph_writer.cc
Due: clang-format

Change the name from ng_kernel_shape to ng_window_shape
  src/ngraph_builder.cc
Due: clang-format

Fix a bug
  src/ngraph_builder.cc
Due: clang-format

Implement op ReluGrad
  src/ngraph_builder.cc
  src/ngraph_confirm_pass.cc
  src/ngraph_stub_ops.cc
  test/python/test_relugrad.py
Due: autopep8, pylint, clang-format

Adding floordiv, floormod and negate ops
  src/ngraph_builder.cc
  src/ngraph_confirm_pass.cc
  src/ngraph_stub_ops.cc
  test/tf_exec.cpp
Due: clang-format

Added random generator utlility function in common.py and added a 1-d test case for relu_grad op
  test/python/common.py
  test/python/test_relugrad.py
Due: autopep8, pylint

Start porting over the tests
  src/ngraph_deassign_clusters.cc
  src/ngraph_mark_for_clustering.cc
  test/python/common.py
  test/python/conftest.py
  test/python/test_abs.py
  test/python/test_cast.py
  test/python/test_conv2dbackpropinput.py
  test/test_axpy.pbtxt
  test/tf_exec.cpp
Due: autopep8, pylint, clang-format

Hack to get the C++ tests to pass
  src/ngraph_encapsulate_op.cc
Due: clang-format

Enabling backends through env variable
  src/ngraph_encapsulate_op.cc
Due: clang-format

Incorporating reviews
  src/ngraph_builder.cc
  test/tf_exec.cpp
Due: clang-format

Run clang-format
  logging/tf_graph_writer.cc
  src/ngraph_assign_clusters.cc
  src/ngraph_builder.cc
  src/ngraph_builder.h
  src/ngraph_cluster_manager.cc
  src/ngraph_conversions.h
  src/ngraph_deassign_clusters.cc
  src/ngraph_encapsulate_clusters.cc
  src/ngraph_encapsulate_op.cc
  src/ngraph_mark_for_clustering.cc
  src/ngraph_rewrite_pass.cc
  src/ngraph_utils.cc
  src/ngraph_utils.h
  test/conversions.cpp
  test/graph_exec.cpp
  test/padding.cpp
  test/tf_exec.cpp
Due: clang-format

Restore obsolete files from point of departure, to ease merge pains
  src/ngraph_confirm_pass.cc
  src/ngraph_stub_ops.cc
  src/ngraph_variable_ops.cc
Due: clang-format

Temporary file to trigger CI pre-merge check tests on PRs targetting branch r0.4.
  test/ci/docker/README-test-CI.txt
Due: none

Test CI pre-merge testing for PRs destined for master
  test/ci/docker/README-test-CI.txt
Due: none

A few basic comments
  src/ngraph_assign_clusters.cc
  src/ngraph_deassign_clusters.cc
  src/ngraph_encapsulate_clusters.cc
  src/ngraph_mark_for_clustering.cc
  src/ngraph_rewrite_pass.cc
Due: clang-format

Another push to try to get Jenkins to build
  test/ci/docker/README-test-CI.txt
Due: none

Another push to attempt another Jenkins build
  test/ci/docker/README-test-CI.txt
Due: none

Minor comment change
  src/ngraph_builder.cc
Due: clang-format
