Repository NervanaSystems/ngraph-tf: changes, and which pre-commit hooks are due for each by the changed paths.
All: autopep8, pylint, clang-format

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: autopep8
        name: autopep8
        entry: autopep8 -i
        language: system
        files: ^test/python/
        types: [python]
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        files: ^test/python/
        types: [python]
    -   id: clang-format
        name: clang-format
        entry: clang-format --style=file -i
        language: system
        types: [c++]

format
  src/ngraph_encapsulate_op.cc
Due: clang-format

Updated the nGraph version.
  CMakeLists.txt
Due: none

Add librosa for wavenet testing. Tried to pip-install it in the inference model command, but got massive errors, so I'm putting it in the Docker images.
  test/ci/docker/Dockerfile.ngraph-tf-ci-py2
  test/ci/docker/Dockerfile.ngraph-tf-ci-py3
Due: none

address pr review comment
  README.md
Due: none

nGraph version upgrade: v0.8.0-rc.2
  CMakeLists.txt
Due: none

Some corrections in python API
  python/ngraph/__init__.in.py
Due: none

Print more descriptive error msg
  python/ngraph/__init__.in.py
Due: none

version update and changes for mac support
  python/CreatePipWhl.cmake
  python/setup.in.py
Due: none

FIxed the Mac OS build
  python/CreatePipWhl.cmake
Due: none

Fixed the unit test build for mac.
  test/CMakeLists.txt
  test/build_tf_cc.sh
Due: none

Clarify upstream options
  README.md
Due: none

finalizing PR review feedbacks
  README.md
Due: none

more cleanup for formatting and running unit tests
  README.md
Due: none

fix typo
  README.md
Due: none

minor changes
  src/ngraph_builder.cc
  src/ngraph_mark_for_clustering.cc
Due: clang-format

more minor changes
  test/test_math_ops.cpp
Due: clang-format

Updated the nGraph version
  CMakeLists.txt
Due: none

Updated the README and the version number
  README.md
Due: none

Implement ArgMax Op
  src/ngraph_builder.cc
  src/ngraph_mark_for_clustering.cc
  test/test_math_ops.cpp
Due: clang-format

Incorporated changes based on comments
  src/ngraph_builder.cc
  src/ngraph_utils.cc
  src/ngraph_utils.h
  test/test_math_ops.cpp
Due: clang-format

Tests worked
  src/ngraph_builder.cc
  src/ngraph_mark_for_clustering.cc
  test/python/test_sigmoidgrad.py
Due: autopep8, pylint, clang-format

Adding the builder file to commits
  src/ngraph_builder.cc
Due: clang-format

Implement Min op
  src/ngraph_builder.cc
  src/ngraph_mark_for_clustering.cc
  test/test_math_ops.cpp
Due: clang-format

Formatting
  src/ngraph_utils.cc
Due: clang-format

Added more test cases
  test/python/test_abs.py
  test/python/test_avgpoolbackprop.py
  test/python/test_sigmoidgrad.py
Due: autopep8, pylint

Added back test_abs.py and test_avgpoolbackprop.py
  test/python/test_abs.py
  test/python/test_avgpoolbackprop.py
Due: autopep8, pylint

More test
  test/python/test_sigmoidgrad.py
Due: autopep8, pylint

Fixed OpExecutor.cpp: SRC and SINK nodes must only be linked via control slots and control slots must only be linked to control slots
  test/opexecuter.cpp
Due: clang-format

Implement tanhgrad op
  src/ngraph_builder.cc
  src/ngraph_mark_for_clustering.cc
Due: clang-format

Switch branch
  src/ngraph_builder.cc
  test/python/test_sigmoidgrad.py
Due: autopep8, pylint, clang-format

Changes based on comments
  src/ngraph_utils.cc
Due: clang-format

Finish the op
  src/ngraph_builder.cc
  test/python/test_sigmoidgrad.py
Due: autopep8, pylint, clang-format

Minor changes
  src/ngraph_builder.cc
Due: clang-format

change logic for set stale for input
  src/ngraph_encapsulate_op.cc
Due: clang-format

Add tests
  src/ngraph_builder.cc
  test/python/test_tanhgrad.py
Due: autopep8, pylint, clang-format

nvgpu input stale (#222)
  src/ngraph_encapsulate_op.cc
Due: clang-format

Changes made based on comments
  src/ngraph_builder.cc
Due: clang-format

Added all the image classification models on TF hub
  diagnostics/model_test/tf_hub/tf_hub_model_test.py
Due: none

Upgraded the nGraph version
  CMakeLists.txt
  README.md
  python/ngraph/__init__.in.py
  python/setup.in.py
  test/ci/run-premerge-ci-checks.sh
Due: none
