Repository NervanaSystems/ngraph-tf: changes, and which pre-commit hooks are due for each by the changed paths.
All: autopep8, pylint, clang-format

autopep8:
  name: autopep8
  entry: autopep8 -i
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system

clang-format:
  name: clang-format
  entry: clang-format --style=file -i
  language: system

Editing ci checks bfile now that examples folder has been modified
  test/ci/run-premerge-ci-checks.sh
Due: none

Add a keras example
  examples/README.md
  examples/keras_sample.py
Due: none

Incorporated comments
  src/ngraph_encapsulate_op.cc
  test/opexecuter.cpp
Due: clang-format

Add missing yapf and futures packages from Py3 Dockerfile, plus add comments as to why they are needed
  test/ci/docker/Dockerfile.ngraph-tf-ci-py2
  test/ci/docker/Dockerfile.ngraph-tf-ci-py3
Due: none

Fix bug in yapf check, as per Sayantan's request
  maint/apply-code-format.sh
Due: none

Finished the template for random generate inputs with specific data type
  test/test_utilities.h
Due: clang-format

Change keras script
  examples/keras_sample.py
Due: none

Add style to keras script
  examples/keras_sample.py
Due: none

Rewrite all the tests to use the new utility function
  test/test_array_ops.cpp
  test/test_nn_ops.cpp
Due: clang-format

Formatted and ready
  test/test_utilities.cpp
Due: clang-format

Change based on comments
  diagnostics/model_test/verify_model.py
Due: none

Adding training in keras example
  examples/keras_sample.py
Due: none

Minor change
  examples/README.md
Due: none

Changes made based on comments
  test/test_utilities.cpp
  test/test_utilities.h
Due: clang-format

Testing the fix of CPU backend
  CMakeLists.txt
Due: none

Removes a dotfile accidentally added to repo
  examples/mnist/.nfs00000000ec78a05400000095
Due: none

Additions to .gitignore
  .gitignore
Due: none

Delete redundant py files
  test/python/test_expand_dims.py
  test/python/test_fill.py
  test/python/test_log.py
  test/python/test_pow.py
  test/python/test_tile.py
  test/python/test_unpack.py
Due: autopep8, pylint

Fixed formatting
  test/test_math_ops.cpp
Due: clang-format

debugging branch
  CMakeLists.txt
  examples/resnet/benchmark_cnn.py
  src/ngraph_encapsulate_op.cc
Due: clang-format

Finalize to one template function and change the range for the random generator function
  test/test_nn_ops.cpp
  test/test_utilities.cpp
  test/test_utilities.h
Due: clang-format

Rename file mnist_deep_avgpool_mpi.py -> mnist_deep_avgpool_distributed.py
  examples/mnist_deep_avgpool_distributed.py
Due: none

Remove devices
  examples/mnist_deep_avgpool.py
  examples/mnist_deep_avgpool_distributed.py
  examples/test_allreduce.py
  src/ngraph_builder.cc
Due: clang-format

Changes made based on comments Add template.json and enforce user to provide a json file
  diagnostics/README.md
  diagnostics/model_test/README.md
  diagnostics/model_test/template.json
  diagnostics/model_test/verify_model.py
Due: none

Change made based on comments
  diagnostics/model_test/verify_model.py
Due: none

add mutex for create backend
  src/ngraph_encapsulate_op.cc
Due: clang-format

Fix the ci test not running issue
  test/ci/run-premerge-ci-checks.sh
Due: none

remove test_allreduce
  test/python/test_allreduce.py
Due: autopep8, pylint

add correct stale(isDirty) for gpu input
  src/ngraph_encapsulate_op.cc
Due: clang-format

Added back the py test files for abs and cast
  test/python/test_abs.py
  test/python/test_cast.py
Due: autopep8, pylint

Adding translation for QuantizedConv2D
  src/ngraph_builder.cc
  src/ngraph_encapsulate_op.cc
  src/ngraph_mark_for_clustering.cc
Due: clang-format

Add test for minimum broadcasting
  test/test_math_ops.cpp
Due: clang-format

Added a for loop in the ExpandDims test to loop over the axis so that different axis values could be tested.
  test/test_array_ops.cpp
Due: clang-format

batch one of editing
  README.md
Due: none

Implement Max op
  src/ngraph_builder.cc
  src/ngraph_mark_for_clustering.cc
  test/test_math_ops.cpp
Due: clang-format

undo the git tag testing change
  CMakeLists.txt
Due: none

Use NCHW
  examples/README.md
  test/ci/run-premerge-ci-checks.sh
Due: none

Make the README have more awesomeness of clarity wrt the sorta kooky virtualenv requirement for TF
  README.md
Due: none

Path conditions:
  autopep8: any of: ^test/python/ and \.py$
  pylint: any of: ^test/python/ and \.py$
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$
