Repository NervanaSystems/ngraph-tf: changes, and which pre-commit hooks are due for each by the changed paths.
All: autopep8, pylint, clang-format

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: autopep8
        name: autopep8
        entry: autopep8 -i
        language: system
        files: ^test/python/
        types: [python]
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        files: ^test/python/
        types: [python]
    -   id: clang-format
        name: clang-format
        entry: clang-format --style=file -i
        language: system
        types: [c++]

Neg, Add, RealDiv working
  src/ngraph_builder.cc
  src/ngraph_builder1.cc
  src/ngraph_builder1.h
  src/ngraph_encapsulate_op.cc
  test/opexecuter.cpp
  test/opexecuter.h
Due: clang-format

Static Inputs Working. Added Conv2DBackPropFilter test
  test/opexecuter.cpp
  test/opexecuter.h
  test/test_math_ops.cpp
  test/test_nn_ops.cpp
Due: clang-format

Static Inputs Working. Added Conv2DBackPropFilter test
  src/ngraph_builder.cc
  test/opexecuter.cpp
  test/opexecuter.h
  test/test_math_ops.cpp
  test/test_nn_ops.cpp
Due: clang-format

clean up
  test/opexecuter.cpp
Due: clang-format

Add AvgPool and conversions
  src/CMakeLists.txt
  src/ngraph_builder1.cc
  src/ngraph_builder1.h
  src/ngraph_conversions.cc
  src/ngraph_conversions.h
Due: clang-format

Add test for a bug with StridedSlice
  CMakeLists.txt
  src/ngraph_builder.cc
  test/python/test_slice.py
Due: autopep8, pylint, clang-format

Add test for a bug with StridedSlice (#174)
  CMakeLists.txt
  src/ngraph_builder.cc
  test/python/test_slice.py
Due: autopep8, pylint, clang-format

clean up
  test/opexecuter.cpp
  test/tf_exec.cpp
Due: clang-format

Move translateops functions to separate file
  src/ngraph_builder.cc
  src/ngraph_builder1.cc
  src/ngraph_builder1.h
  src/ngraph_conversions.cc
  src/ngraph_conversions.h
  src/ngraph_encapsulate_op.cc
  src/ngraph_translateops.h
  test/opexecuter.cpp
  test/test_math_ops.cpp
  test/test_utilities.cpp
  test/test_utilities.h
  test/tf_exec.cpp
Due: clang-format

Added support for DOUBLE and fixed a compilation error introduced due to the latest TensorFlow code merge.
  src/ngraph_encapsulate_clusters.cc
  src/ngraph_utils.h
Due: clang-format

Fixed code format issues.
  src/ngraph_encapsulate_clusters.cc
  src/ngraph_utils.h
Due: clang-format

Some cleanup
  src/ngraph_builder1.cc
  src/ngraph_builder1.h
Due: clang-format

Shape match in TF
  test/test_utilities.cpp
Due: clang-format

Added shape match to ValidateTensorData
  test/test_utilities.cpp
Due: clang-format

clang format
  test/tf_exec.cpp
Due: clang-format

More cleanup
  src/ngraph_builder1.cc
  src/ngraph_builder1.h
  src/ngraph_translateops.h
Due: clang-format

More cleanup
  src/ngraph_builder.cc
  src/ngraph_builder1.h
  src/ngraph_encapsulate_op.cc
  test/CMakeLists.txt
  test/opexecuter.cpp
  test/opexecuter.h
  test/test_math_ops.cpp
  test/test_utilities.cpp
  test/test_utilities.h
Due: clang-format

More cleanup
  test/tf_exec.cpp
Due: clang-format

Fix ShrinkMask in Strided Slice op
  src/ngraph_builder.cc
  test/python/test_slice.py
Due: autopep8, pylint, clang-format

Going back to old builder
  src/ngraph_encapsulate_op.cc
Due: clang-format

Applying style
  src/ngraph_builder1.h
Due: clang-format

Low hanging fruits
  src/ngraph_builder1.cc
Due: clang-format

WIP: Add more unit tests 1. Square root
  test/test_math_ops.cpp
Due: clang-format

Renamed the libngraph_device to libngraph_bridge (as nGraph is no longer a TF device).
  CMakeLists.txt
  README.md
  examples/axpy.py
  python/CreatePipWhl.cmake
  python/ngraph/__init__.in.py
  src/CMakeLists.txt
  test/CMakeLists.txt
  test/ci/docker/docker-scripts/run-ngraph-tf-build.sh
  test/ci/docker/docker-scripts/run-ngraph-tf-cmdline.sh
  test/python/common.py
  test/python/conftest.py
  test/tensorflow/ngraph.patch
Due: autopep8, pylint

Adding pbtxt to dot function
  logging/tf_graph_writer.cc
  logging/tf_graph_writer.h
Due: clang-format

StridedSlice Op 1.ShrinkMask is treated as mask, and reshape done accordingly. output shape is found using only begin and end vector. The op's implementation is still WIP.
  src/ngraph_builder.cc
  test/python/test_slice.py
Due: autopep8, pylint, clang-format

Add clang-3.9-format for style-checks in Python 3 builds. Add comment for why clang-3.9-format is being included.
  test/ci/docker/Dockerfile.ngraph-tf-ci-py2
  test/ci/docker/Dockerfile.ngraph-tf-ci-py3
Due: none

clang formating, flake8 formatting
  src/ngraph_builder.cc
  test/python/test_slice.py
Due: autopep8, pylint, clang-format

Generate JUnit XML file in build directory for now. Probably need to make the XML filename more unique.
  test/ci/docker/docker-scripts/run-ngraph-tf-build.sh
Due: none

renamed C++ APIs to use TensorFlow format and logging op placement in the correct place
  src/ngraph_api.cc
  src/ngraph_api.h
  src/ngraph_builder.cc
  src/ngraph_capture_variables.cc
  src/ngraph_deassign_clusters.cc
  src/ngraph_mark_for_clustering.cc
Due: clang-format

Incorporated review comments
  src/ngraph_builder.cc
  test/python/test_slice.py
Due: autopep8, pylint, clang-format

fixed logging order, always logging if enabled
  src/ngraph_deassign_clusters.cc
Due: clang-format

Apply style
  logging/tf_graph_writer.cc
  logging/tf_graph_writer.h
Due: clang-format

first commit
  test/test_nn_ops.cpp
Due: clang-format

Added BiasAddGrad test
  test/test_nn_ops.cpp
Due: clang-format

Pass the ci test
  test/test_nn_ops.cpp
Due: clang-format

MOre changes and cleanups
  README.md
  examples/axpy.py
  examples/mnist/mnist_deep_simplified.py
  examples/mnist/mnist_fprop_only.py
  examples/resnet/README.md
  examples/resnet/benchmark_cnn.py
  examples/resnet_block_NHWC.py
  python/CreatePipWhl.cmake
Due: none

Resolving some of the review comments
  src/ngraph_builder1.cc
  src/ngraph_translateops.h
Due: clang-format

Apply style
  src/ngraph_builder1.cc
Due: clang-format
