Repository NervanaSystems/ngraph-tf: changes, and which pre-commit hooks are due for each by the changed paths.
All: autopep8, pylint, clang-format

autopep8:
  name: autopep8
  entry: autopep8 -i
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system

clang-format:
  name: clang-format
  entry: clang-format --style=file -i
  language: system

Add Copy Logs
  src/enable_variable_ops/ngraph_applygradientdescent_op.cc
  src/enable_variable_ops/ngraph_assign_op.cc
  src/enable_variable_ops/ngraph_assignadd_op.cc
  src/enable_variable_ops/ngraph_assignsub_op.cc
  src/enable_variable_ops/ngraph_enter_in_catalog.cc
  src/enable_variable_ops/ngraph_tracked_variable.cc
  src/enable_variable_ops/ngraph_utils.cc
  src/ngraph_utils.h
Due: clang-format

Working dockerfile for running build_ngtf.sh and test_ngtf.sh in a CentOS 7.6 docker container. I tested a full build, which changes that I will commit shortly, and it worked fine.
  test/ci/docker/dockerfiles/Dockerfile.ngraph_tf.build_ngtf_centos76_py34
Due: none

Modify run-as-user.sh to work properly on RedHat-derived Linux versions (like CentOS) as well as Debian/Ubuntu-derived Linux (which was already supported)
  test/ci/docker/docker-scripts/run-as-user.sh
Due: none

Remove the code-format check from run-build-test-ngtf.sh, as this has been broken into a separate script (and parallel task in batch jobs)
  test/ci/docker/docker-scripts/run-build-test-ngtf.sh
Due: none

Throw error if NGraphVar was not found in resource manager
  src/enable_variable_ops/ngraph_applygradientdescent_op.cc
  src/enable_variable_ops/ngraph_assign_op.cc
  src/enable_variable_ops/ngraph_assignadd_op.cc
  src/enable_variable_ops/ngraph_assignsub_op.cc
  src/enable_variable_ops/ngraph_encapsulate_op.cc
Due: clang-format

Format changes
  src/enable_variable_ops/ngraph_applygradientdescent_op.cc
  src/enable_variable_ops/ngraph_assign_op.cc
  src/enable_variable_ops/ngraph_assignadd_op.cc
  src/enable_variable_ops/ngraph_assignsub_op.cc
  src/enable_variable_ops/ngraph_encapsulate_op.cc
  src/enable_variable_ops/ngraph_enter_in_catalog.cc
  src/enable_variable_ops/ngraph_tracked_variable.cc
  src/enable_variable_ops/ngraph_utils.cc
  test/test_variable_ops.cpp
Due: clang-format

Format changes. Tested the non-variable-support option. CI passes.
  src/enable_variable_ops/ngraph_applygradientdescent_op.cc
  src/enable_variable_ops/ngraph_assign_op.cc
  src/enable_variable_ops/ngraph_assignadd_op.cc
  src/enable_variable_ops/ngraph_assignsub_op.cc
  src/enable_variable_ops/ngraph_encapsulate_op.cc
  src/enable_variable_ops/ngraph_enter_in_catalog.cc
  src/enable_variable_ops/ngraph_tracked_variable.cc
  src/enable_variable_ops/ngraph_utils.cc
  test/test_variable_ops.cpp
Due: clang-format

WIP
  test/ci/buildkite/test_runner.py
  tools/test_utils.py
Due: none

Replace the Event with ngraph::Event and associated cleanup
  CMakeLists.txt
  build_ngtf.py
  src/CMakeLists.txt
  src/ngraph_encapsulate_op.cc
  src/ngraph_timer.cc
  src/ngraph_timer.h
  src/ngraph_tracked_variable.cc
  test/CMakeLists.txt
  test/test_timer.cpp
Due: clang-format

Adding correct ngraph tag, with core changes
  CMakeLists.txt
  build_ngtf.py
  test/python/test_gather.py
Due: autopep8, pylint

Add style
  test/python/test_gather.py
Due: autopep8, pylint

Rel 0.12.0-rc2 prep
  CMakeLists.txt
  README.md
  build_ngtf.py
  python/setup.in.py
  src/version.cc
Due: clang-format

Diff changes
  src/ngraph_applygradientdescent_op.cc
  src/ngraph_assign_op.cc
  src/ngraph_assignadd_op.cc
  src/ngraph_assignsub_op.cc
  src/ngraph_capture_variables.cc
  src/ngraph_catalog.cc
  src/ngraph_catalog.h
  src/ngraph_encapsulate_op.cc
  src/ngraph_enter_in_catalog.cc
  src/ngraph_enter_in_catalog.h
  src/ngraph_replace_optimizers.cc
  src/ngraph_replace_optimizers.h
  src/ngraph_rewrite_for_tracking.cc
  src/ngraph_rewrite_pass.cc
  src/ngraph_tracked_variable.cc
  src/ngraph_utils.cc
  src/ngraph_var.h
Due: clang-format

Script to create this diff branch
  create_compare_branch.sh
Due: none

Fixed the broken build
  build_ngtf.py
Due: none

1. Update ngraph version 2. Modify Pad op based on new ngraph Pad op api
  CMakeLists.txt
  bazel/WORKSPACE
  build_ngtf.py
  src/ngraph_builder.cc
Due: clang-format

Add unit test for Pad Op
  test/test_array_ops.cpp
Due: clang-format

Correctly collecting shared tensors info on mnist deep simplified training
  src/ngraph_encapsulate_clusters.cc
Due: clang-format

Added more tests
  test/CMakeLists.txt
  test/ci/buildkite/test_runner.py
  test/python/CMakeLists.txt
  tools/test_utils.py
Due: none

Added more tests
  test/CMakeLists.txt
  test/ci/buildkite/test_runner.py
  tools/test_utils.py
Due: none

Initial commit for nms
  src/ngraph_builder.cc
  src/ngraph_mark_for_clustering.cc
  src/ngraph_mark_for_clustering.h
Due: clang-format

Fixed a bug and code format
  test/ci/buildkite/test_runner.py
  tools/test_utils.py
Due: none

test commit
  test/python/tensorflow/python_tests_list.txt
  test_ngtf.py
Due: none

Some changes from gather branch
  src/ngraph_mark_for_clustering.cc
Due: clang-format

Updated based on code review comments
  test/CMakeLists.txt
  test/ci/buildkite/test_runner.py
Due: none

Adding initial commit for catalog
  src/CMakeLists.txt
  src/ngraph_catalog.cc
  src/ngraph_catalog.h
Due: clang-format

Adding another version of catalog
  src/ngraph_catalog.cc
  src/ngraph_catalog.h
Due: clang-format

Added options to select backend
  test/ci/buildkite/test_runner.py
  tools/test_utils.py
Due: none

remove interpreter test
  test/python/tensorflow/python_tests_list.txt
  test_ngtf.py
Due: none

Adding to_string to TensorID class
  src/ngraph_catalog.cc
  src/ngraph_catalog.h
  src/ngraph_encapsulate_clusters.cc
Due: clang-format

Moving hash functor inside TensorID class
  src/ngraph_catalog.cc
  src/ngraph_catalog.h
  src/ngraph_encapsulate_clusters.cc
Due: clang-format

Remove earlier class
  src/ngraph_catalog.cc
  src/ngraph_catalog.h
Due: clang-format

Some comments and clean up
  src/enable_variable_ops/ngraph_assign_op.cc
  src/enable_variable_ops/ngraph_catalog.h
  src/enable_variable_ops/ngraph_encapsulate_op.cc
  src/enable_variable_ops/ngraph_var.h
Due: clang-format

Inheriting constructors for TensorID, and adding some utility functions
  src/ngraph_catalog.cc
  src/ngraph_catalog.h
Due: clang-format

Fixed changes due to grappler merge
  src/CMakeLists.txt
  src/enable_variable_ops/ngraph_assign_op.cc
  src/enable_variable_ops/ngraph_capture_variables.cc
  src/enable_variable_ops/ngraph_catalog.h
  src/enable_variable_ops/ngraph_rewrite_pass.cc
  src/enable_variable_ops/ngraph_var.h
Due: clang-format

Incorporate Comments. Removed Space before Commas
  src/enable_variable_ops/ngraph_applygradientdescent_op.cc
  src/enable_variable_ops/ngraph_assign_op.cc
  src/enable_variable_ops/ngraph_assignadd_op.cc
  src/enable_variable_ops/ngraph_assignsub_op.cc
  test/test_variable_ops.cpp
Due: clang-format

Removed kernels for NgAssignAdd, NgAssignSub and NgApplyGradientDescent
  src/CMakeLists.txt
  src/enable_variable_ops/ngraph_applygradientdescent_op.cc
  src/enable_variable_ops/ngraph_assign_op.cc
  src/enable_variable_ops/ngraph_assignadd_op.cc
  src/enable_variable_ops/ngraph_assignsub_op.cc
Due: clang-format

Incorportate Review Comments. Removed the empty just_looking check.
  src/enable_variable_ops/ngraph_assign_op.cc
  src/enable_variable_ops/ngraph_tracked_variable.cc
Due: clang-format

Incorporate Review Comments. Remove Graph Catalog
  src/enable_variable_ops/ngraph_catalog.h
  src/enable_variable_ops/ngraph_rewrite_for_tracking.cc
Due: clang-format

Incorporate Review Comments. Delete in destructor does not need a check whether key exists
  src/enable_variable_ops/ngraph_encapsulate_op.cc
  src/enable_variable_ops/ngraph_rewrite_for_tracking.cc
Due: clang-format

Path conditions:
  autopep8: any of: ^test/python/ and \.py$
  pylint: any of: ^test/python/ and \.py$
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$
