Repository NervanaSystems/ngraph-tf: changes, and which pre-commit hooks are due for each by the changed paths.
All: autopep8, pylint, clang-format

autopep8:
  name: autopep8
  entry: autopep8 -i
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system

clang-format:
  name: clang-format
  entry: clang-format --style=file -i
  language: system

expanded unit tests; no longer using rtol when floating point addition is involved
  test/python/test_fusedbatchnorm.py
Due: autopep8, pylint

Run clang-format; disable assign_clusters.cone in CI
  src/ngraph_assign_clusters.cc
  src/ngraph_builder.cc
  src/ngraph_builder.h
  src/ngraph_encapsulate_op.cc
  src/ngraph_mark_for_clustering.cc
  test/ci/run-premerge-ci-checks.sh
  test/graph_exec.cpp
  test/graph_rewrites/assign_clusters.cc
Due: clang-format

Fix for static input bug
  src/ngraph_assign_clusters.cc
Due: clang-format

add resnet unit test
  examples/resnet_unit_test.py
Due: none

Updated the hash
  CMakeLists.txt
Due: none

add training phase
  examples/resnet_unit_test.py
Due: none

Formatting and enabling cone test
  src/ngraph_assign_clusters.cc
  test/ci/run-premerge-ci-checks.sh
Due: clang-format

Reformatting the comment
  src/ngraph_assign_clusters.cc
Due: clang-format

Add better logging of cluster assignments
  src/ngraph_assign_clusters.cc
  src/ngraph_deassign_clusters.cc
Due: clang-format

Fix logical-not unit test to make Python 3 happy
  test/python/test_elementwise_ops.py
Due: autopep8, pylint

fix training tests
  examples/resnet_unit_test.py
Due: none

add more comments
  examples/resnet_unit_test.py
Due: none

move file
  test/python/resnet_unit_test.py
Due: autopep8, pylint

Review comments
  src/ngraph_deassign_clusters.cc
Due: clang-format

Incorporating some suggestions
  src/ngraph_assign_clusters.cc
Due: clang-format

Stub builder1
  src/CMakeLists.txt
  src/ngraph_builder1.cc
  src/ngraph_builder1.h
  src/ngraph_encapsulate_op.cc
Due: clang-format

Compute input shapes inside TranslateGraph
  src/ngraph_builder1.cc
  src/ngraph_builder1.h
  src/ngraph_encapsulate_op.cc
Due: clang-format

Disabled building of nGraph tests and tools and updated the hash
  CMakeLists.txt
Due: none

Updated @rpath/@loader_paths with reduced dependencies
  python/CreatePipWhl.cmake
Due: none

Added generating of log to indicate whether ops are placed on nGraph. Also updated the run-pre-merge.sh to save the log for debugging.
  test/ci/run-premerge-ci-checks.sh
Due: none

Updated based on new nGraph commit
  CMakeLists.txt
  test/ci/run-premerge-ci-checks.sh
Due: none

Update again based on nGraph PR update
  CMakeLists.txt
  python/CreatePipWhl.cmake
Due: none

Modify reference TensorFlow builds (with MKL-DNN) to support Python 3. This needed to be done now because the Docker image name changed, which broke the Python 2 TF-MKLDNN builds.
  test/ci/docker/docker-run-tf-mkldnn-build.sh
  test/ci/docker/docker-scripts/run-tf-mkldnn-build.sh
Due: none

Undo some merge boo-boos
  src/ngraph_encapsulate_op.cc
  test/tf_exec.cpp
Due: clang-format

Fix tf-with-ngraph builds to be able to target Python 3
  test/ci/docker/docker-run-tf-with-ngraph-build.sh
  test/ci/docker/docker-scripts/run-tf-with-ngraph-build.sh
Due: none

test
  examples/mnist_deep_avgpool.py
  examples/mnist_deep_avgpool_mpi.py
Due: none

Added and building with a few utility functions
  src/ngraph_builder1.cc
  src/ngraph_builder1.h
Due: clang-format

Some cleanup
  src/ngraph_builder1.cc
  src/ngraph_builder1.h
  src/ngraph_encapsulate_op.cc
Due: clang-format

sqrt op
  src/ngraph_builder.cc
  src/ngraph_confirm_pass.cc
  src/ngraph_stub_ops.cc
  test/tf_exec.cpp
Due: clang-format

comment fix
  src/ngraph_confirm_pass.cc
Due: clang-format

using correct DTypes for Sqrt/Rsqrt
  src/ngraph_confirm_pass.cc
Due: clang-format

move back to test
  test/resnet_unit_test.py
Due: none

Updated the nGraph git hash.
  CMakeLists.txt
Due: none

Upgraded to nGraph 0.6 version. Also added a version number for the Python whl.
  CMakeLists.txt
  python/setup.in.py
Due: none

Fix typo bug in run-ngraph-tf-cmdline.sh, add packages to Dockerfiles to allow SSD-VGG16 to run
  test/ci/docker/Dockerfile.ngraph-tf-ci-py2
  test/ci/docker/Dockerfile.ngraph-tf-ci-py3
  test/ci/docker/docker-scripts/run-ngraph-tf-cmdline.sh
Due: none

device disable/enable
  python/ngraph/__init__.in.py
  src/CMakeLists.txt
  src/ngraph_api.cc
  src/ngraph_api.h
  src/ngraph_capture_variables.cc
  src/ngraph_mark_for_clustering.cc
  test/python/common.py
  test/python/test_api.py
Due: autopep8, pylint, clang-format

Saving for the comments. Does not build
  src/ngraph_builder1.cc
Due: clang-format

Fix the bug `W tensorflow/core/framework/op_kernel.cc:1318] OP_REQUIRES failed at ngraph_encapsulate_op.cc:272 : Not found: Input node not found at index 4`
  src/ngraph_builder.cc
Due: clang-format

Fixed code format error.
  src/ngraph_builder.cc
Due: clang-format

More code formatting fix
  src/ngraph_builder.cc
Due: clang-format

Path conditions:
  autopep8: any of: ^test/python/ and \.py$
  pylint: any of: ^test/python/ and \.py$
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$
