Repository NervanaSystems/ngraph-tf: changes, and which pre-commit hooks are due for each by the changed paths.
All: autopep8, pylint, clang-format

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: autopep8
        name: autopep8
        entry: autopep8 -i
        language: system
        files: ^test/python/
        types: [python]
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        files: ^test/python/
        types: [python]
    -   id: clang-format
        name: clang-format
        entry: clang-format --style=file -i
        language: system
        types: [c++]

Updating to ngraph master
  CMakeLists.txt
Due: none

minor change
  test/python/tf_unittest_runner.py
Due: autopep8, pylint

Initial commit for quantized custom op
  CMakeLists.txt
  src/ngraph_builder.cc
  src/ngraph_mark_for_clustering.cc
  src/ngraph_utils.cc
  src/ngraph_utils.h
  test/python/common.py
  test/test_nn_ops.cpp
Due: autopep8, pylint, clang-format

Support for patching TF to allow running unit tests using nGraph
  test/python/tensorflow/tf_unittest_ngraph.patch
  test/python/tensorflow/tf_unittest_runner.py
Due: autopep8, pylint

Add README
  test/python/tensorflow/README.md
Due: none

Trying python test
  test/python/test_quantized_conv2d_with_bias_and_relu_and_requantize.py
Due: autopep8, pylint

CentOS fix
  src/CMakeLists.txt
Due: none

Added a feature so that I can extend the RPATH settings at the command line
  CMakeLists.txt
Due: none

format
  test/python/tensorflow/README.md
Due: none

Incorporate review comments. Made few functions arguments const wherever applicable.
  src/ngraph_assign_clusters.cc
  src/tf_deadness_analysis.cc
  src/tf_deadness_analysis.h
Due: clang-format

Fix standalone logic
  src/CMakeLists.txt
Due: none

Incorporated review comments. Changed function args to const. And added another assert in the node check wrt deadness.
  src/ngraph_assign_clusters.cc
Due: clang-format

Minor comments
  src/ngraph_assign_clusters.cc
Due: clang-format

Print summary of test results
  test/python/tensorflow/tests_to_run.txt
  test/python/tensorflow/tf_unittest_runner.py
Due: autopep8, pylint

Renamed Python package 'ngraph' to 'ngraph_config' as this is really to configure the nGraph via the bridge.
  CMakeLists.txt
  README.md
  diagnostics/README.md
  diagnostics/model_test/verify_model.py
  diagnostics/ngtf_graph_viewer.py
  examples/README.md
  examples/axpy.py
  examples/keras_sample.py
  examples/mnist/mnist_cnn_inference.py
  examples/mnist/mnist_deep_simplified.py
  examples/mnist/mnist_deep_simplified_distributed.py
  examples/mnist/mnist_fprop_only.py
  python/CreatePipWhl.cmake
  python/ngraph_config/__init__.in.py
  python/setup.in.py
  test/ci/run-premerge-ci-checks.sh
  test/install_test.py
  test/python/common.py
  test/resnet_unit_test.py
Due: autopep8, pylint

Add PlaidML support
  CMakeLists.txt
  python/CreatePipWhl.cmake
Due: none

Err if PlaidML_DIR missing w/NGRAPH_PLAIDML_ENABLE
  CMakeLists.txt
Due: none

Shrestha/Cluster Nodes According to Matching Deadness Predicate (#285)
  src/ngraph_assign_clusters.cc
  src/ngraph_mark_for_clustering.cc
  src/tf_deadness_analysis.cc
  src/tf_deadness_analysis.h
  test/graph_rewrites/assign_clusters.cc
  test/graph_rewrites/deadness_test.cc
Due: clang-format

Protect a grep so that is matches or not, but does not return exit code 1 which kills the script
  test/ci/docker/docker-run-ngraph-tf-build.sh
Due: none

Print status of each test case run
  test/python/tensorflow/tf_unittest_runner.py
Due: autopep8, pylint

Revert "Shrestha/Cluster Nodes According to Matching Deadness Predicate (#285)"
  src/ngraph_assign_clusters.cc
  src/ngraph_mark_for_clustering.cc
  src/tf_deadness_analysis.cc
  src/tf_deadness_analysis.h
  test/graph_rewrites/assign_clusters.cc
  test/graph_rewrites/deadness_test.cc
Due: clang-format

Implement set_backend
  src/CMakeLists.txt
  src/ngraph_api.cc
  src/ngraph_backend_state.cc
  src/ngraph_backend_state.h
  src/ngraph_encapsulate_op.cc
Due: clang-format

Updated to the latest nGraph and fixed cmake errors for MacOS/PlainML backend.
  CMakeLists.txt
  python/CreatePipWhl.cmake
Due: none

Minor changes in READMEs. Corrected some parameters etc.
  README.md
  diagnostics/README.md
  diagnostics/model_test/README.md
Due: none

Add prints for gcc and OS versions, to make it more clear what how builds are being done
  test/ci/docker/docker-scripts/run-ngraph-tf-build.sh
Due: none

Incorporate Review Comments
  diagnostics/README.md
Due: none

- Show calculated norm value for both passed and failed case - Beautify the test result - Return exit code
  diagnostics/model_test/README.md
  diagnostics/model_test/verify_model.py
Due: none

Modified to run w/ ngraph_config
  diagnostics/model_test/tf_hub/tf_hub_model_test.py
Due: none

Add an md5sum of the ngraph_config wheel, after the wheel is built. This helps track whether the proper wheel ends up in the right place in Artifactory.
  test/ci/docker/docker-scripts/run-ngraph-tf-build.sh
Due: none

Set Backend
  src/ngraph_api.cc
Due: clang-format

Add Summary and Stats for tests and colors for status
  test/python/tensorflow/tf_unittest_runner.py
Due: autopep8, pylint

Changes based on review for print_stats
  test/python/tensorflow/tf_unittest_runner.py
Due: autopep8, pylint

Applied code format
  diagnostics/model_test/verify_model.py
Due: none

Add mutex to safeguard the Compute function which can be called by multiple threads at the same time causing crash as seen in the ssd_vgg16 model.
  src/ngraph_encapsulate_op.cc
Due: clang-format

minor re-arrange
  test/python/tensorflow/tf_unittest_runner.py
Due: autopep8, pylint

minor change
  test/python/tensorflow/tf_unittest_runner.py
Due: autopep8, pylint

Fix: typo
  src/ngraph_assign_clusters.cc
Due: clang-format

minor syntax change for py3
  test/python/tensorflow/tf_unittest_runner.py
Due: autopep8, pylint
