Repository NervanaSystems/ngraph-tf: changes, and which pre-commit hooks are due for each by the changed paths.
All: autopep8, pylint, clang-format

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: autopep8
        name: autopep8
        entry: autopep8 -i
        language: system
        files: ^test/python/
        types: [python]
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        files: ^test/python/
        types: [python]
    -   id: clang-format
        name: clang-format
        entry: clang-format --style=file -i
        language: system
        types: [c++]

Eliminates one additional transpose
  src/ngraph_builder.cc
Due: clang-format

- Show calculated norm value for both passed and failed case - Beautify the test result - Return exit code
  diagnostics/model_test/verify_model.py
Due: none

Change based on comments
  src/ngraph_builder.cc
Due: clang-format

Code format change
  diagnostics/model_test/verify_model.py
Due: none

Add distributed flags for allreduce placement on ngraph
  CMakeLists.txt
  src/ngraph_mark_for_clustering.cc
Due: clang-format

ngraph_config.disable() and env variable NGRAPH_TF_DISABLE should show the same behavior. Enabled that
  src/ngraph_api.cc
  src/ngraph_rewrite_pass.cc
Due: clang-format

ngraph_config.disable() and env variable NGRAPH_TF_DISABLE should show the same behavior. Enabled that
  src/ngraph_api.cc
  src/ngraph_mark_for_clustering.cc
  src/ngraph_rewrite_pass.cc
Due: clang-format

Minor Changes
  src/ngraph_api.cc
Due: clang-format

Initial commit. Adding failing test
  src/ngraph_builder.cc
  src/ngraph_mark_for_clustering.cc
  test/test_array_ops.cpp
Due: clang-format

Fix formatting
  src/ngraph_encapsulate_op.cc
Due: clang-format

Reimplement strided slice
  src/ngraph_builder.cc
  test/test_array_ops.cpp
Due: clang-format

Changing ngraph to ngraph_config in patch
  test/python/tensorflow/tf_unittest_ngraph.patch
Due: none

Unit test running after correcting negative stride
  src/ngraph_builder.cc
  test/opexecuter.cpp
  test/test_array_ops.cpp
Due: clang-format

Handle begin/end/stride vector size < input rank
  src/ngraph_builder.cc
  test/test_array_ops.cpp
Due: clang-format

Apply style
  src/ngraph_builder.cc
  test/test_array_ops.cpp
Due: clang-format

Handle shrink_mask in tf_to_ng appropriately
  src/ngraph_builder.cc
  test/python/test_slice.py
Due: autopep8, pylint, clang-format

Experiment with new design.
  src/CMakeLists.txt
  src/ngraph_backend_manager.cc
  src/ngraph_backend_manager.h
  src/ngraph_encapsulate_op.cc
Due: clang-format

Syncing shapes with changes in ngraph
  src/ngraph_builder.cc
Due: clang-format

Add TODO comment
  src/ngraph_builder.cc
Due: clang-format

Fix transformer-LT bug The softmax op expected the dimension = 2 same as TF. But now the TF kernel for softmax in TF has changed the constraint to >=1 so making that same change in ngtf fixes the bug.
  src/ngraph_builder.cc
Due: clang-format

Added unit tests
  test/python/test_softmax.py
Due: autopep8, pylint

Format Changes + Get Backend From Env Variable NGRAPH_TF_Backend
  src/ngraph_backend_manager.cc
  src/ngraph_backend_manager.h
  src/ngraph_encapsulate_op.cc
Due: clang-format

Non working commit
  src/ngraph_builder.cc
Due: clang-format

Added some comments capturing the workflow along with the implementation of create tensor
  src/ngraph_encapsulate_op.cc
  src/ngraph_freshness_tracker.h
  test/opexecuter.cpp
Due: clang-format

Major revision in tf_to_ng logic
  src/ngraph_builder.cc
  test/python/test_slice.py
Due: autopep8, pylint, clang-format

Leaving out ellipses too
  src/ngraph_mark_for_clustering.cc
Due: clang-format

Some clean up
  src/ngraph_builder.cc
  test/opexecuter.cpp
  test/python/test_slice.py
Due: autopep8, pylint, clang-format

Modify readme to run pythong TF unittest runner
  test/python/tensorflow/README.md
Due: none

Update README.md
  test/python/tensorflow/README.md
Due: none

Updating ngraph version. It now contains nishant's changes
  CMakeLists.txt
Due: none

Minor Changes
  src/ngraph_encapsulate_op.cc
  test/opexecuter.cpp
Due: clang-format

Initial commit. Adding nishant's branch in backend
  CMakeLists.txt
Due: none

Handle negative dimension during Translate SplitVOp
  src/ngraph_builder.cc
Due: clang-format

Cleanup and using correct ngraph commit hash
  CMakeLists.txt
  test/python/test_quantized_conv2d_with_bias_and_relu_and_requantize.py
  test/test_nn_ops.cpp
Due: autopep8, pylint, clang-format

Use output of forward pooling in ngraph::op::MaxPoolBackprop.
  src/ngraph_builder.cc
Due: clang-format

Added a simple test to check the set backend and get supported backend apis.
  src/ngraph_backend_manager.cc
  src/ngraph_backend_manager.h
  test/CMakeLists.txt
Due: clang-format

Comment for a simple observation
  src/ngraph_tracked_variable.cc
Due: clang-format
