Repository NervanaSystems/ngraph-tf: changes, and which pre-commit hooks are due for each by the changed paths.
All: autopep8, pylint, clang-format

autopep8:
  name: autopep8
  entry: autopep8 -i
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system

clang-format:
  name: clang-format
  entry: clang-format --style=file -i
  language: system

Update build_ngtf.py
  build_ngtf.py
Due: none

Update src/CMakeLists.txt
  src/CMakeLists.txt
Due: none

Update logging/CMakeLists.txt [skip ci]
  logging/CMakeLists.txt
Due: none

Update src/tf_deadness_analysis.h [skip ci]
  src/tf_deadness_analysis.h
Due: clang-format

Update test/python/CMakeLists.txt [skip ci]
  test/python/CMakeLists.txt
Due: none

Update third-party/CMakeLists.txt [skip ci]
  third-party/CMakeLists.txt
Due: none

Update README.md
  README.md
Due: none

Test
  README.md
Due: none

TEST
  README.md
Due: none

Testing the trigger
  README.md
Due: none

Testing again
  README.md
Due: none

More testing
  README.md
Due: none

Testing buildkite pipeline config
  README.md
Due: none

Fixed
  README.md
Due: none

Fixed typo
  README.md
Due: none

Test PR
  README.md
Due: none

Runs, but fails first run and still needs rewrite pass
  build_ngtf.py
  src/ngraph_encapsulate_clusters.cc
  src/ngraph_encapsulate_clusters.h
  src/ngraph_encapsulate_op.cc
  src/ngraph_rewrite_pass.cc
Due: clang-format

Readme update.
  README.md
Due: none

Testing external PR
  README.md
Due: none

Added Grappler related version information
  build_ngtf.py
  python/ngraph_bridge/__init__.in.py
  src/version.cc
  src/version.h
Due: clang-format

Fixed code formatting
  src/version.cc
  src/version.h
Due: clang-format

Enable pytest to work with grappler
  test/python/common.py
Due: autopep8, pylint

Fixed formatting
  test/python/common.py
Due: autopep8, pylint

Test changes
  src/ngraph_encapsulate_clusters.cc
Due: clang-format

Initial commit for flib with grappler
  src/ngraph_cluster_manager.cc
  src/ngraph_cluster_manager.h
  src/ngraph_encapsulate_clusters.cc
Due: clang-format

Minor changes for --enable_variables_and_optimizers flag
  src/enable_variable_ops/ngraph_capture_variables.cc
  src/enable_variable_ops/ngraph_rewrite_pass.cc
Due: clang-format

Changes to fix building with the --enable_variables_and_optimizers version
  src/enable_variable_ops/ngraph_capture_variables.cc
  src/enable_variable_ops/ngraph_rewrite_pass.cc
Due: clang-format

Changed the mnist_deep_simplified to use the grappler
  examples/mnist/mnist_deep_simplified.py
Due: none

Minor changes
  src/ngraph_capture_variables.cc
  src/ngraph_mark_for_clustering.cc
Due: clang-format

Update examples/mnist/mnist_deep_simplified.py
  examples/mnist/mnist_deep_simplified.py
Due: none

Small Change in MNIST script
  examples/mnist/mnist_cnn_inference.py
  examples/mnist/mnist_deep_simplified.py
  examples/mnist/mnist_deep_simplified_distributed.py
Due: none

minor change
  examples/mnist/mnist_cnn_inference.py
  examples/mnist/mnist_deep_simplified.py
  examples/mnist/mnist_deep_simplified_distributed.py
Due: none

Incorporate comment
  src/grappler/ngraph_optimizer.cc
Due: clang-format

Update run_pipeline.sh
  test/ci/buildkite/run_pipeline.sh
Due: none

1. Use the same ngraph_encapsulate_op with and without enable variable ops 2. Update Cmake to define NGRAPH_TF_ENABLE_VARIABLES_AND_OPTIMIZERS
  src/CMakeLists.txt
  src/enable_variable_ops/ngraph_encapsulate_op.cc
  src/ngraph_encapsulate_op.cc
Due: clang-format

Removed the unnecessary text.
  README.md
Due: none

Changes GatherV2 indices to Node (#502)
  src/ngraph_builder.cc
  src/ngraph_mark_for_clustering.cc
Due: clang-format

Running with grappler
  examples/mnist/mnist_deep_simplified.py
  src/grappler/ngraph_optimizer.cc
  src/ngraph_cluster_manager.cc
  src/ngraph_encapsulate_clusters.cc
  src/ngraph_encapsulate_clusters.h
  src/ngraph_encapsulate_op.cc
  src/ngraph_rewrite_pass.cc
Due: clang-format

Path conditions:
  autopep8: any of: ^test/python/ and \.py$
  pylint: any of: ^test/python/ and \.py$
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$
