Repository NervanaSystems/ngraph-tf: changes, and which pre-commit hooks are due for each by the changed paths.
All: autopep8, pylint, clang-format

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: autopep8
        name: autopep8
        entry: autopep8 -i
        language: system
        files: ^test/python/
        types: [python]
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        files: ^test/python/
        types: [python]
    -   id: clang-format
        name: clang-format
        entry: clang-format --style=file -i
        language: system
        types: [c++]

Added new files and updated the nGraph version to the recent one
  bazel/BUILD
  bazel/WORKSPACE
  bazel/ngraph.BUILD
  src/ngraph_encapsulate_op.cc
Due: clang-format

Fixed code formatting
  src/ngraph_encapsulate_op.cc
Due: clang-format

Add function to query ngraph bridge python module for build flag --enable_variables_and_optimizers
  python/ngraph_bridge/__init__.in.py
  src/version.cc
  src/version.h
Due: clang-format

Added python function for cxx11_ABI library too
  python/ngraph_bridge/__init__.in.py
Due: none

minor change
  python/ngraph_bridge/__init__.in.py
Due: none

Fix if-def
  src/ngraph_encapsulate_op.cc
Due: clang-format

update regex, tolerance to verify accuracy
  diagnostics/model_accuracy/verify_inference_model.py
Due: none

Running through mnist example, but nan losses
  examples/mnist/mnist_deep_simplified.py
Due: none

Added Traces for individual input copy. Moved GetVariable Trace outside output tensor creation trace
  src/ngraph_encapsulate_op.cc
Due: clang-format

Flib pytests
  test/python/common.py
  test/python/test_flib.py
Due: autopep8, pylint

Adding the pbtxt under test
  test/python/flib_graph_1.pbtxt
  test/python/test_flib.py
Due: autopep8, pylint

Adding a test with NgVar and NgEnc
  test/python/flib_graph_2.pbtxt
  test/python/test_flib.py
Due: autopep8, pylint

flib_graph_*.pbtxt generated using this file
  examples/test_small.py
Due: none

Workaround for initializing variables
  test/python/test_flib.py
Due: autopep8, pylint

More exploring
  CMakeLists.txt
  build_ngtf.py
  src/ngraph_builder.cc
  src/ngraph_utils.cc
  src/ngraph_utils.h
Due: clang-format

Fix format
  src/ngraph_builder.cc
  src/ngraph_utils.cc
Due: clang-format

Add patch file to run tf python unit tests with grappler
  test/python/tensorflow/tf_unittest_ngraph_with_grappler.patch
Due: none

Update Readme
  test/python/tensorflow/README.md
Due: none

chris's comments
  diagnostics/model_accuracy/verify_inference_model.py
Due: none

Fixed wheel name
  test/ci/buildkite/ngtf-cpu_ubuntu.yaml
Due: none

Added wait steps to the ubuntu recipe
  test/ci/buildkite/ngtf-cpu_ubuntu.yaml
Due: none

Added a wait step for the CentOS recipe
  test/ci/buildkite/ngtf-cpu_centos.yaml
Due: none

Change floor to flib
  test/python/test_flib.py
Due: autopep8, pylint

Minor change
  test/python/test_flib.py
Due: autopep8, pylint

Initial commit for debugging
  test/python/common.py
  test/python/test_abs.py
  test/python/test_api.py
  test/python/test_cast.py
  test/python/test_conv2D_KernelChecks.py
  test/python/test_conv2dbackpropinput.py
  test/python/test_depthwiseconv2d.py
  test/python/test_elementwise_ops.py
  test/python/test_flib.py
  test/python/test_floor.py
  test/python/test_fusedConv2D.py
  test/python/test_fusedbatchnorm.py
  test/python/test_gather.py
  test/python/test_l2loss.py
  test/python/test_maxpoolbackprop.py
  test/python/test_prod.py
  test/python/test_relu6.py
  test/python/test_relugrad.py
  test/python/test_resize_to_dynamic_shape.py
  test/python/test_select.py
  test/python/test_set_backend.py
  test/python/test_sigmoid.py
  test/python/test_sigmoidgrad.py
  test/python/test_sign.py
  test/python/test_slice.py
  test/python/test_softmax.py
  test/python/test_sparse_softmax_cross_entropy_with_logits.py
  test/python/test_split.py
  test/python/test_squeeze.py
  test/python/test_stack.py
  test/python/test_tanh.py
  test/python/test_tanhgrad.py
  test/python/test_topkv2.py
  test/python/test_while_loop.py
Due: autopep8, pylint

format
  src/ngraph_encapsulate_op.cc
Due: clang-format

computesignature and get_ng_exec returns status
  src/ngraph_encapsulate_op.cc
Due: clang-format

change re for top1_accuracy and top5_accuracy in verify_inference_model.py and change number_batches to 50 for resnet model for trial dashboard
  diagnostics/model_accuracy/verify_inference_model.py
Due: none

Debug logs
  src/ngraph_builder.cc
  src/ngraph_encapsulate_op.cc
Due: clang-format

add sys.exit(1) at end of verify_inference_model.py when there is exception
  diagnostics/model_accuracy/verify_inference_model.py
Due: none

remove --max_num_batches=50 in resnet50 model in verify_inference_model.py
  diagnostics/model_accuracy/model-run.json
  diagnostics/model_accuracy/verify_inference_model.py
Due: none

More debug logs. Test
  src/ngraph_builder.cc
  src/ngraph_encapsulate_op.cc
  test/test_variable_ops.cpp
Due: clang-format

change --max_num_batches to 250 for resnet50 in verify_inference_model.py
  diagnostics/model_accuracy/verify_inference_model.py
Due: none

change --max_num_batches to 150 in verify_inference_model.py for resnet50
  diagnostics/model_accuracy/verify_inference_model.py
Due: none

remove --max_num_batches=150 for resnet50 in verify_inference_model.py
  diagnostics/model_accuracy/verify_inference_model.py
Due: none

Utils change
  src/enable_variable_ops/ngraph_utils.cc
  src/ngraph_builder.cc
  src/ngraph_encapsulate_op.cc
  src/ngraph_utils.cc
  test/test_variable_ops.cpp
Due: clang-format

Checks
  src/enable_variable_ops/ngraph_utils.cc
  src/ngraph_encapsulate_op.cc
  src/ngraph_utils.h
  test/test_variable_ops.cpp
Due: clang-format

Fixes to compile with tf r1.14
  build_ngtf.py
  src/ngraph_freshness_tracker.h
  src/ngraph_tracked_variable.cc
Due: clang-format

stash
  src/ngraph_catalog.h
Due: clang-format
