Repository NervanaSystems/ngraph-tf: changes, and which pre-commit hooks are due for each by the changed paths.
All: autopep8, pylint, clang-format

autopep8:
  name: autopep8
  entry: autopep8 -i
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system

clang-format:
  name: clang-format
  entry: clang-format --style=file -i
  language: system

Changes GatherV2 indices to Node
  src/ngraph_builder.cc
  src/ngraph_mark_for_clustering.cc
Due: clang-format

Removed commented out code
  src/enable_variable_ops/ngraph_var.h
Due: clang-format

Added tag to the log messages for easy greping Updated license year for some files
  src/grappler/ngraph_optimizer.cc
  src/ngraph_capture_variables.cc
  src/ngraph_mark_for_clustering.cc
Due: clang-format

Test
  README.md
Due: none

Update README.md
  README.md
Due: none

Apply code-format and revert Dtype for GatherV2 index
  src/ngraph_builder.cc
  src/ngraph_mark_for_clustering.cc
Due: clang-format

Fixed formatting
  src/grappler/ngraph_optimizer.cc
Due: clang-format

fix build problem for --distributed
  src/ngraph_utils.cc
  tools/build_utils.py
Due: clang-format

Dump with functions
  src/ngraph_encapsulate_clusters.cc
Due: clang-format

Fixed Klockworks error, bunch or warnings and removed dead code
  src/ngraph_builder.cc
  src/ngraph_encapsulate_op.cc
  src/ngraph_tracked_variable.cc
  test/test_array_ops.cpp
Due: clang-format

added a BK yaml script
  test/ci/buildkite/build_n_test_cpu.yaml
Due: none

Test comments
  README.md
Due: none

WIP
  README.md
Due: none

Minor change
  src/ngraph_encapsulate_clusters.cc
Due: clang-format

Chnages based on some comments
  src/grappler/ngraph_optimizer.cc
Due: clang-format

Update test/grappler/README.md
  test/grappler/README.md
Due: none

Add comments
  src/grappler/ngraph_optimizer.cc
  src/grappler/ngraph_optimizer.h
Due: clang-format

Update src/grappler/ngraph_optimizer.cc
  src/grappler/ngraph_optimizer.cc
Due: clang-format

change checkpoint path to verify model_accuracy
  diagnostics/model_accuracy/verify_inference_model.py
Due: none

build_ngtf bug and update README
  README.md
  build_ngtf.py
  tools/build_utils.py
Due: none

Changes to enable python tests Moved adding identityN functionality to a separate file
  src/CMakeLists.txt
  src/grappler/ngraph_add_identityn.cc
  src/grappler/ngraph_add_identityn.h
  src/grappler/ngraph_optimizer.cc
  src/grappler/ngraph_optimizer.h
  test/python/common.py
Due: autopep8, pylint, clang-format

Temp changes
  src/ngraph_encapsulate_clusters.cc
  src/ngraph_encapsulate_clusters.h
  src/ngraph_encapsulate_op.cc
  src/ngraph_rewrite_pass.cc
Due: clang-format

Update CMakeLists.txt
  CMakeLists.txt
Due: none

Path conditions:
  autopep8: any of: ^test/python/ and \.py$
  pylint: any of: ^test/python/ and \.py$
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$
