Repository NervanaSystems/ngraph-tf: changes, and which pre-commit hooks are due for each by the changed paths.
All: autopep8, pylint, clang-format

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: autopep8
        name: autopep8
        entry: autopep8 -i
        language: system
        files: ^test/python/
        types: [python]
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        files: ^test/python/
        types: [python]
    -   id: clang-format
        name: clang-format
        entry: clang-format --style=file -i
        language: system
        types: [c++]

Fixed typo
  test/python/tensorflow/README.md
Due: none

Added a Python library to build nGraph-TensorFlow
  build_ngtf.py
Due: none

Cleaned up some flags
  CMakeLists.txt
  build_ngtf.py
  test/CMakeLists.txt
Due: none

Updated to latest nGraph
  CMakeLists.txt
  src/ngraph_builder.cc
Due: clang-format

Fixed support for relative paths and a typo
  CMakeLists.txt
  build_ngtf.py
Due: none

Disabled the DISTRIBUTED build option and misc. typos and fixes based on code review comments
  build_ngtf.py
Due: none

Small package changes
  CMakeLists.txt
  src/CMakeLists.txt
Due: none

Changes to fix compilation
  CMakeLists.txt
Due: none

Fix new klocwork error reports on 11/20/2018
  src/ngraph_deassign_clusters.cc
  src/tf_deadness_analysis.cc
Due: clang-format

Initial commit. 2 Tests pass
  CMakeLists.txt
  src/ngraph_assign_clusters.cc
  src/tf_deadness_analysis.cc
  src/tf_deadness_analysis.h
Due: clang-format

Expanding comments on algorithm. Changing implementation of CanContractEdgeDeadnessCheck according to new comments
  src/ngraph_assign_clusters.cc
  src/tf_deadness_analysis.cc
  src/tf_deadness_analysis.h
Due: clang-format

Moved all deadness classes to .h, since they are needed in ngraph_assign_clusters
  src/ngraph_assign_clusters.cc
  src/tf_deadness_analysis.cc
  src/tf_deadness_analysis.h
Due: clang-format

Added code for non-data flow ops which needs full check
  src/ngraph_assign_clusters.cc
  src/tf_deadness_analysis.cc
  src/tf_deadness_analysis.h
Due: clang-format

Correct bug and fill out controltrigger case in HandleSingleNode
  src/ngraph_assign_clusters.cc
  src/tf_deadness_analysis.cc
Due: clang-format

Unfixing 'bug' from last commit. Handling _SINK neighbour. 3/6
  src/ngraph_assign_clusters.cc
Due: clang-format

Version upgrade to ngraph_v0.10.0-rc.0
  CMakeLists.txt
  build_ngtf.py
  src/version.cc
Due: clang-format

Lock yapf at version 0.24.0, as clang-format-3.9 seems to not be able to work with newer versions of yapf
  test/ci/docker/dockerfiles/Dockerfile.ngraph-tf-ci-py2
  test/ci/docker/dockerfiles/Dockerfile.ngraph-tf-ci-py3
  test/ci/docker/dockerfiles/Dockerfile.ngraph_tf.builds_ubuntu1604_gcc48_py35
  test/ci/docker/dockerfiles/Dockerfile.ngraph_tf.builds_ubuntu1604_py27
  test/ci/docker/dockerfiles/Dockerfile.ngraph_tf.builds_ubuntu1604_py35
  test/ci/docker/dockerfiles/Dockerfile.ngraph_tf.inference_ubuntu1604_py27
  test/ci/docker/dockerfiles/Dockerfile.ngraph_tf.inference_ubuntu1604_py35
Due: none

Fixed some platform specific issues in the build steps
  build_ngtf.py
Due: none

Fixed the relative path related issue
  CMakeLists.txt
Due: none

Added SDL related flags
  CMakeLists.txt
  cmake/sdl.cmake
  src/CMakeLists.txt
  test/CMakeLists.txt
Due: none

Updated the version field
  src/version.cc
Due: clang-format

Fixed a compiltion error for MacOS
  test/test_array_ops.cpp
Due: clang-format

Fixed a MacOS specific rpath issue
  python/CreatePipWhl.cmake
Due: none

Fixed code format
  test/test_array_ops.cpp
Due: clang-format

Adding GetNodeType
  src/ngraph_assign_clusters.cc
  src/tf_deadness_analysis.cc
  src/tf_deadness_analysis.h
  test/graph_rewrites/deadness_test.cc
Due: clang-format

Forward Declare Specialized Compare template for float
  test/test_utilities.h
Due: clang-format

First attempt at a Dockerfile that works with ngraph-packaging without triggering the dreaded pip bug. The new Dockerfile added here seems to work.
  test/ci/docker/dockerfiles/Dockerfile.ngraph_tf.packaging_ubuntu1604_py35
Due: none

Added a Dockerfile which allows ngraph-packaging to work with gcc 4.8 builds. This Dockerfile successfully built the ngraph_config wheel.
  test/ci/docker/dockerfiles/Dockerfile.ngraph_tf.packaging_ubuntu1604_gcc48_py35
Due: none

Print list of invalid tests if any
  test/python/tensorflow/tf_unittest_runner.py
Due: autopep8, pylint

Added rc0 to the wheel version
  python/setup.in.py
Due: none

Minor changes and format
  test/python/tensorflow/tests_to_run.txt
  test/python/tensorflow/tf_unittest_runner.py
Due: autopep8, pylint

Modify Mac builds to use TensorFlow 1.12.0 for builds
  test/ci/macos/run-ngraph-tf-mac-build.sh
Due: none

ignore empty lines in the file with test names
  test/python/tensorflow/tests_to_run.txt
  test/python/tensorflow/tf_unittest_runner.py
Due: autopep8, pylint

Updated OpExecutor to use BackendManager
  src/ngraph_backend_manager.h
  test/opexecuter.cpp
  test/opexecuter.h
Due: clang-format

Replaced the 'ngraph_config' with 'ngrph_bridge' and the wheel name
  README.md
  build_ngtf.py
  diagnostics/README.md
  diagnostics/model_test/verify_model.py
  diagnostics/ngtf_graph_viewer.py
  examples/README.md
  examples/axpy.py
  examples/keras_sample.py
  examples/mnist/mnist_cnn_inference.py
  examples/mnist/mnist_deep_simplified.py
  examples/mnist/mnist_deep_simplified_distributed.py
  examples/mnist/mnist_fprop_only.py
  python/CreatePipWhl.cmake
  python/ngraph_bridge/__init__.in.py
  python/setup.in.py
  src/ngraph_rewrite_pass.cc
  test/ci/run-premerge-ci-checks.sh
  test/install_test.py
  test/python/common.py
  test/python/tensorflow/tf_unittest_ngraph.patch
  test/resnet_unit_test.py
Due: autopep8, pylint, clang-format

Set Backend from Python Config Package
  python/ngraph_config/__init__.in.py
  src/ngraph_api.cc
  src/ngraph_api.h
  src/ngraph_backend_manager.cc
  src/ngraph_backend_manager.h
  test/python/common.py
  test/python/test_set_backend.py
Due: autopep8, pylint, clang-format

Break existing third-party licenses out of main LICENSE file
  third-party/licenses/tensorflow-license.txt
  third-party/licenses/tensorflow-models-license.txt
Due: none

Add license files for Horovod and GoogleTest
  third-party/licenses/googletest-license.txt
  third-party/licenses/horovod-license.txt
Due: none

Updated to nGraph v0.10.0-rc.5
  CMakeLists.txt
  build_ngtf.py
Due: none

Removed Horovod license, because ngraph-tf does not actually use any Horovod code. ngraph-tf only refers to the operation name "HorovodAllReduce", which is a standard name in deep learning.
  third-party/licenses/horovod-license.txt
Due: none
